[2015-03-18 10:14] artbear opened #1 "Библиотека логирования (аналогично log4j)"
Библиотека логирования (аналогично log4j)
Пример кода:

[code]

[2015-03-18 15:26] #1 closed, assigned to nobody

[2015-04-01 09:22] artbear opened #2 "Пакет обработки командной строки"
Пакет обработки командной строки
Пример командной строки:
    `oscript test.os --run --ИмяБазы "База1" --Пользователь "admin" --Пароль "123"`
    `oscript test.os run ИмяБазы "База1" Пользователь "admin" Пароль "123"`

Интерфейс:
- ДобавитьПараметр(ИмяПараметра)
- ДобавитьПараметрФлаг(ИмяПараметра)
- ДобавитьПараметрКоллекция(ИмяПараметра)
  - после ключа можно задавать любое количество значений д

[2015-06-17 14:15] EvilBeaver commented on #2
@artbear можем закрывать issue?

[2015-06-17 14:17] EvilBeaver opened #4 "Пакетный менеджер"
Нужен функционал:
- Версионирования пакетов
- Управления зависимостями
- Подгрузки пакетов из облака hub.oscript.io
- Хелпер создания новых пакетов

[2015-06-17 14:45] artbear commented on #2
Нет, еще не реализованы следующие методы интерфейса:
- ДобавитьПараметрФлаг(ИмяПараметра)
- ДобавитьПараметрКоллекция(ИмяПараметра)
  - после ключа можно задавать любое количество значений до появления следующей команды или до конца строки

Можно создать 2 отдельные задачи по этим методам

[2015-06-26 09:32] EvilBeaver opened #5 "Приложение gitsync"
Рефакторинг v83unpack (https://github.com/xDrivenDevelopment/v83unpack) и выделение общего кода на уровень библиотек:
- Временные файлы
- Работа с Tool1CD

[2015-06-26 09:42] EvilBeaver opened #6 "CI для пакетов библиотеки"
Настроить прогон тестов и сборку на CI-сервере

[2015-07-19 13:10] EvilBeaver opened #7 "Поддержка YAML"
**Добавить библиотеку чтения YAML**

Исходный issue от @allustin https://bitbucket.org/EvilBeaver/1script/issues/131/yaml

Предлагаю добавить поддержку сериализации коллекций в YAML и обратно
http://yaml.org/
YAML: YAML Ain't Markup Language

What It Is: YAML is a human friendly data serialization
  standard for all programming languages.
При автоматизации необходимо хранить различные настройки, в

[2015-07-19 13:18] ghost commented on #7
Я бы не подписывался под такую библиотеку - слишком много гемороя. Чуть расширенней написал в исходной задаче https://bitbucket.org/EvilBeaver/1script/issues/131/yaml

[2015-08-06 09:20] #5 closed, assigned to nobody

[2015-09-03 14:20] #6 closed, assigned to nobody

[2015-09-17 11:23] artbear opened #8 "В gitsync не работает синхронизация одного репозитария"
В gitsync не работает синхронизация одного репозитария :(
Причина: временная база, используемая для выгрузки модулей, создается пустая, т.к. вообще нет кода для создания этой базы с помощью полученного из хранилища файла конфигурации.

И далее вторая причина: не разбираются формы, т.к. в репозитарий не положили файлы для Unpackv8.exe

@EvilBeaver у меня буря эмоций по этой ошибке :(

[2015-09-17 11:28] #8 closed, assigned to artbear

[2015-09-17 11:38] artbear commented on #8
Также заработала синхронизация по нескольким репозитариям

[2015-09-19 10:22] EvilBeaver commented on #8
`у меня буря эмоций по этой ошибке :(`

@artbear, зачем эмоции, взял и исправил - опенсорс же ;)

[2015-09-21 07:02] artbear opened #9 "gitsync: Документировать работу с несколькими репозитариями через файл настроек"

[2015-09-21 10:12] #9 closed, assigned to EvilBeaver

[2015-09-21 14:49] artbear opened #10 "Отключить вывод "Информация - " для обычных логов"
ИМХО было бы удобно отключить вывод "Информация - " для логов уровня "информация".
сейчас в логах большое количество строк "Информация" является ненужным "шумом" :(

ИМХО я где-то в log4ХХХ видел подобную фичу.

[2015-09-22 04:38] EvilBeaver commented on #10
Уже появилось. Не совсем как в log4j, но возможность изменить формат уже есть

-----Исходное сообщение-----
От: "Artur Ayukhanov" notifications@github.com
Отправлено: ‎21.‎09.‎2015 17:49
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Тема: [oscript-library] Отключить вывод "Информация - " для обычных логов (#10)

ИМХО было бы удобно отключить вывод "Информация - " для логов

[2015-09-25 15:12] #10 closed, assigned to nobody

[2015-09-25 16:05] artbear opened #12 "Использовать иерархическую выгрузку 8.3.7"
1.В связи с появлением иерархической выгрузки в 8.3.7 лучше использовать именно ее.
2. Текстовые файлы конфигурации должны иметь расширение bsl вместо txt

[2015-09-25 16:08] ghost commented on #4
Не будет делаться ?

[2015-09-25 17:14] EvilBeaver commented on #4
Уже сделано. В виде прототипа, конечно, но рабочего. Собирает пакеты, Устанавливает, Качает с облака. Нужна помощь в тестировании, документировании, рецензия и вообще, всяческий feedback. http://hub.oscript.io

-----Исходное сообщение-----
От: "Alexey Lustin" notifications@github.com
Отправлено: ‎25.‎09.‎2015 19:08
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Копия: "Andre

[2015-09-25 17:19] dmpas commented on #4
HTTPS будет?

[2015-09-25 20:24] EvilBeaver commented on #4
@dmpas, а зачем? Что шифровать - открытые исходники?

[2015-09-25 20:34] dmpas commented on #4
HTTPS - это далеко не только шифрование траффика. Это ещё уверенность, что hub.oscript.io - именно тот сайт, который мне нужен, а не какой-то иной.

[2015-09-25 21:13] EvilBeaver commented on #4
ИМНИП, для проверки подлинности сайта его сертификат должен быть выпущен доверенным центром за бабло, не?

[2015-09-25 21:17] dmpas commented on #4
не обязательно. достаточно, чтобы я у себя хранил сертификат и при соединении сравнивал его. это называется "самоподписанные сертификаты". к тому же, есть центры сертификации, подписывающие сертификат бесплатно.

[2015-09-26 07:07] EvilBeaver commented on #4
Про бесплатных не слышал, можно поискать. А в случае самоподписанного придется каким-то безопасным образом распространять этот ключ среди заинтересованных. Хотя, это повод собраться за чашкой кофе;)

[2015-09-26 07:56] EvilBeaver opened #13 "Обеспечить доступ к hub.oscript.io по https"
Возможно, потребуется доработка со стороны 1Script для валидации серверного сертификата

[2015-09-26 10:10] ghost commented on #4
Самоподписанный не надо. Лучше выпустить бесплатный на домен hub.oscript.io
Иначе небезопасно.

На Хабре есть простая инструкция как сделать персональный сертификат на один домен. Сложности возникают когда нужно выпустить на организацию и с wildcard.  Такой нам обошелся в 20 килорублей в год.

[2015-09-26 11:05] dmpas commented on #4
20 килорублей в год - это много.

[2015-09-26 11:11] artbear opened #14 "Прогон тестов при CI"
Дать дополнительным разработчикам простые возможности прогона тестов c использованием CI.
Прогонять тесты руками, через finder.os, совсем неудобно, т.к. не видно, какие в итоге упали :(

[2015-09-26 11:22] artbear commented on #14
Предлагаю смержить #15 и закрыть задачу

[2015-09-26 14:53] ghost commented on #4
Это если на юрлицо и на несколько доменов . Персональный бесплатно.

[2015-09-28 10:41] #14 closed, assigned to EvilBeaver

[2015-09-30 12:42] EvilBeaver opened #16 "Добавить автодокументирование параметров в cmdline"
Сделать, чтобы автоматически формировалось описание возможных ключей командной строки по их описанию.

[2015-10-06 09:04] EvilBeaver opened #17 "Обеспечить простую инсталляцию в PATH скриптов-стартеров для приложений"
Сейчас gitsync и opm генерируют bat/sh при установке через opm из пакета. А вот если opm не установлен в PATH, то сгенерировать bat/sh сложнее.

Нужен простой способ создания shell скрипта-стартера в PATH.

[2015-10-07 12:33] artbear opened #18 "gitsync: В некоторых случаях в случае ошибок возвращает код возврат 0, что является ошибкой"
gitsync: В некоторых случаях в случае ошибок возвращает код возврат 0, что является ошибкой
Для билд-конфигураций это означает, что билд, который должен был упасть, не падает :(

Например, я убираю файл VERSION в другой каталог и получаю ошибку, но билд не падает

[code]

[2015-10-19 17:00] artbear commented on #18
Если указан неверный каталог для Гит, ошибка повторяется

[code]

[2015-10-19 17:05] artbear opened #19 "gitsync: Обрабатывать только одну версию хранилища 1С за один запуск, а не все новые версии из хранилища 1С"
gitsync: Обрабатывать только одну версию хранилища 1С за один запуск, а не все новые версии из хранилища 1С

Например, при работе с билд-сервером нельзя управлять процессом обработки хранилища 1С.

И в случае активной разработки несколькими разработчиками обработка хранилища может идти очень долго. Особенно это критично в случае использования схемы обработки нескольких репозитариев.

А если при од

[2015-10-19 17:05] artbear commented on #19
@EvilBeaver что скажешь?

[2015-10-19 18:54] EvilBeaver commented on #19
Буквально сегодня по что-то такое думал. Да, это полезно, в т.ч. для параллельных синхронизаций по разным репам

-----Исходное сообщение-----
От: "Artur Ayukhanov" notifications@github.com
Отправлено: ‎19.‎10.‎2015 20:05
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Копия: "Andrei Ovsiankin" ovsiankin.aa@gmail.com
Тема: Re: [oscript-library] gitsync: Обрабатывать только одн

[2015-10-20 11:17] artbear opened #20 "gitsync: При начальной настройке репозитария выполнять правильную настройку работу с русскими именами файлов"
Необходима настройка git для возможности использования кириллических наименований внешних обработок через команду `git config --local core.quotepath false`

Аналогично https://github.com/xDrivenDevelopment/precommit1c/issues/42

[2015-10-21 17:41] artbear commented on #19
Вопрос: как в случае использования конфигурации с несколькими репозитариями и возможным параллельным запуском запретить параллельно запускать билды для одного репозитария?

Без положительного ответа на этот вопрос нельзя реализовать текущую задачу для конфигураций с несколькими репозитариями.

ИМХО никак не запретить, т.к. никак не отследишь параллельный запуск :( если только где-то фиксировать со

[2015-10-22 16:50] nixel2007 commented on #2
Как-то у меня не получается использовать функцию ДобавитьПараметрФлаг().
Я правильно понимаю, что подразумевается добавление флага, используемого независимо от других типов параметров (в частности, именованных?). Если да, то не получается использовать его в такой реализации (на базе скрипта v8files-extractor.os из precommit):

[code]

Вызов с из TestApp с такими аргументами:

[code]

критует с

[c

[2015-10-22 18:57] EvilBeaver commented on #2
ДобавитьПараметрФлаг еще только заявлен в задачах. Его нет в классе парсера.

-----Исходное сообщение-----
От: "Nikita Gryzlov" notifications@github.com
Отправлено: ‎22.‎10.‎2015 19:50
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Копия: "Andrei Ovsiankin" ovsiankin.aa@gmail.com
Тема: Re: [oscript-library] Пакет обработки командной строки (#2)

Как-то у меня не получается и

[2015-10-22 19:01] artbear commented on #2
Уже есть, я вчера сделал коммит в ветку develop

@nixel2007 ты брал свежую версию из develop ? или использовал старую версию?

[2015-10-22 19:01] artbear commented on #2
Выше по тексту коммиты отмечены.

[2015-10-22 20:18] nixel2007 commented on #2
@artbear Брал свежую версию сегодня около 12 часов по Москве. Как раз увидел коммиты и решил посмотреть

[2015-10-23 08:16] EvilBeaver commented on #16
Сделано получение объектной модели 69ba6368c

TODO: Сделать форматирование и вывод в консоль

[2015-10-23 09:24] artbear commented on #16
Не забывай в тексте коммита ставить номер задачи #16 для автосвязки коммит и задачи :)

[2015-10-23 10:05] nixel2007 commented on #2
В версии 69ba636 ошибка разбора переместилась в строку (но смысл тот же)

[code]

Полный код скрипта, который я запускаю в TestApp:

[code]

Если убрать `Парсер.ДобавитьПараметрФлаг("--remove-orig-bin-files");`  и раскомментировать `Парсер.ДобавитьПараметрФлагКоманды(ОписаниеКоманды, "--remove-orig-bin-files");` в `ДобавитьОписаниеКомандыИзмененияПоЖурналуГит`, то скрипт отрабатывает.

[2015-10-23 10:18] artbear commented on #2
1. Есть 2 схемы работы с параметрами: просто произвольные параметры или одна команда со своими параметрами.

Если мы используем схему с командами, тогда использовать произвольные параметры нельзя. скрипт и выдает ошибку для этого случая. Нужно использовать именно параметры команды.
1. Вот и получается, что правильнее как раз перенести упоминаемый флаг как доп.параметр в команду `ИзмененияПоЖурналу

[2015-10-23 11:57] nixel2007 commented on #2
@artbear Вооот оно что. Да, это действительно многое объясняет. Я бы добавил в справку по cmdline явное упоминание того, что можно использовать либо тот, либо иной режим (схему) работы.

[2015-10-23 13:25] EvilBeaver commented on #2
@artbear @nixel2007 нет, можно использовать и режим команд и просто параметры совместно в одном вызове. Просто если передали команду (из известных), то метод "Разобрать" вернет структуру "Команда (строка),ЗначенияПараметров (соответствие)" А если передана не команда, то отработает, как обычные параметры и вернет Соответствие. Если эта схема не работает, то это ошибка.

[2015-10-23 13:30] nixel2007 commented on #2
@EvilBeaver Выше я привел кусок кода, на котором тестирую - я использую метод "Разобрать", и да, получаю ошибку.

[2015-10-23 13:35] EvilBeaver commented on #2
Ок, значит это ошибка. Я к тому, что @artbear неверно написал. Можно использовать оба режима по задумке. @nixel2007 а какие именно параметры передаются? На каких входных данных спотыкается?

[2015-10-23 13:36] artbear commented on #2
@EvilBeaver @nixel2007 ИМХО вы друг друга не поняли :(

@EvilBeaver

По примеру выше
для ком.строки `скрипт.os --git-precommit dir --remove-orig-bin-files` какая структура вернется??

[2015-10-23 13:39] EvilBeaver commented on #2
@artbear по идее, должно вернуть структуру:
Команда = "--git-precommit"
ЗначенияПараметров =
   ВыходнойКаталог="dir"
   --remove-orig-bin-files=true

[2015-10-23 13:39] nixel2007 commented on #2
@artbear по идее, должна вернуться структура
ключ: "--git-precommit"
значенияПараметров: Соответствие:
ключ: ВыходнойКаталог, значение: "dir"
ключ: "--remove-orig-bin-files", значение: Истина

Таким образом, в случае использования команд, флаг "--remove-orig-bin-files" должен добавляться в ЗначенияПараметров всех команд (если он передавался)

[2015-10-23 15:18] nixel2007 commented on #2
В концепции, описанной @EvilBeaver предполагается, что можно использовать команду + произвольные параметры (в том числе не флаги), я правильно понимаю?
Т.е. если мы в парсер добавили описание команды И еще один общий, например, именованный параметр через `ДобавитьИменованныйПараметр` (не через `ДобавитьИменованныйПараметрКоманды`), то функция Разобрать() должна возвращать значение этого именованно

[2015-10-23 16:09] artbear commented on #2
Да

пт, 23 Окт 2015, 18:18, Nikita Gryzlov notifications@github.com:

[2015-10-24 21:01] EvilBeaver commented on #2
Ну а в чем я не прав? Оно же так и работало еще до появления "флагов"

-----Исходное сообщение-----
От: "Artur Ayukhanov" notifications@github.com
Отправлено: ‎23.‎10.‎2015 19:10
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Копия: "Andrei Ovsiankin" ovsiankin.aa@gmail.com
Тема: Re: [oscript-library] Пакет обработки командной строки (#2)

Да

пт, 23 Окт 2015, 18:18, Nikita

[2015-10-26 15:40] artbear opened #21 "Метод "ДобавитьПараметрКоллекция" для парсера командной строки"
- ДобавитьПараметрКоллекция(ИмяПараметра)
  - после ключа можно задавать любое количество значений до появления следующей команды или до конца строки

Исходная задача #2

[2015-10-26 15:41] artbear commented on #2
Реализован метод `ДобавитьПараметрФлаг`

[2015-10-26 15:41] #2 closed, assigned to artbear

[2015-10-29 16:32] pumbaEO opened #22 "opm.bat отсутствует в ночной сборке"
https://github.com/EvilBeaver/oscript-library/blob/develop/build/build-for-hub.os#L15

[2015-10-29 16:38] pumbaEO commented on #22
т.е. при установке msi пакета, есть только oscript.exe, opm.bat нет.

[2015-10-30 07:19] EvilBeaver commented on #22
Да, я в курсе, надо в CI добавить. Спасибо за issue!

[2015-10-30 07:23] pumbaEO opened #23 "Неверно обрабатывается директива !/usr/bin/oscript"
bin\oscript.exe lib\opm\src\opm.os
{Модуль C:\Users\eugens\Downloads\OneScript-1.0.11(1)\lib\opm\src\opm.os / Ошибка в строке: 13 / Неизвестная директива: !(!/usr/bin/oscript)}

[2015-10-30 08:09] EvilBeaver commented on #23
На какой версии?

[2015-10-30 08:11] pumbaEO commented on #23
OneScript-1.0.11

[2015-10-30 08:22] EvilBeaver commented on #23
А сборка?

[2015-10-30 08:24] pumbaEO commented on #23
oscript.exe --version
1Script Execution Engine. Version 1.0.11.53

[2015-10-30 08:39] EvilBeaver commented on #23
Странно, у меня вот так работает:
![](https://habrastorage.org/files/f45/8c3/1b4/f458c31b4c0c4dad9887fee872e82b55.png)

[2015-10-30 08:42] EvilBeaver commented on #23
А opm, действительно, не работает. Там потому что BOM в начале стоит, скорее всего

[2015-10-30 09:10] EvilBeaver commented on #23
убрал shebang совсем. Все равно строка запуска `opm.os install` некрасиво выглядела бы.

[2015-10-30 09:10] #23 closed, assigned to nobody

[2015-10-30 11:41] pumbaEO opened #24 "gitsync: при инициализации пустого репо создается все в папке src"
gitsync: при инициализации пустого репо создается все в папке src, при поптыке дальнейшей синхронизации не учитываеся что authors и version находится в подпапке src.

[2015-10-30 12:33] EvilBeaver commented on #24
Здесь имелось в виду следующее:
КаталогРабочейКопии, как параметр функции, должен уже указывать на src. Т.е. репа может содержать не только конфу, но и тесты, документацию и прочее. gitsync должен получить путь, в котором указано где внутри репо лежат сорцы. Возможно, кто-то захочет хранить их в папке "Исходнеги", а не src, мы не можем диктовать.

А вот команда init делает инициализацию в стиле be

[2015-10-30 12:34] EvilBeaver commented on #22
Кстати, эта задача пересекается с #17

[2015-10-30 12:38] pumbaEO commented on #24
В том то и проблема, что https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/gitsync.os#L240 у нас синхронизирует с корнем, при этом если указать с каталогом src, тогда этот код перестанет работать https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/gitsync.os#L234

т.е. сейчас best-practices ломает все. Имхо, как bugfix это можно исправить и дополните

[2015-10-30 13:46] EvilBeaver commented on #24
@pumbaEO почему [git pull](https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/gitsync.os#L234) перестанет работать? я не догоняю..

[2015-10-30 14:01] artbear commented on #24
@pumbaEO у нас все работает. я на боевых средах гоняю скрипт с последними
своими правками. нет проблем.

пт, 30 окт. 2015 г. в 16:46, Andrei Ovsiankin <notifications@github.com>:

[2015-11-01 18:47] ghost opened #26 "безопасность распространения пакетов"
пересмотрел видео с Инфостарта - один из вопросов малого зала был про возможность поставки скрипттов в скомированном виде или дополнительных dll или еще чего либо.

и в этот момент я подумал, что не все такие как мы - кто-то может попытаться распространять вредоносный код.

в связи с чем думается необходимо каким-то образом реализовать подпись пакетов или их проверку и подтверждение... или как то

[2015-11-01 18:48] ghost commented on #26
возможно это дополняет в том числе #13

[2015-11-01 18:52] EvilBeaver commented on #26
push на хаб сейчас вообще отсутствует. @allustin а как с этим дела обстоят в том же питоне?

[2015-11-01 19:00] ghost commented on #26
читаю сейчас как раз по питону, golang и ruby - как они с этим справляются.

для chokolatey точно есть статус пакета подтвержденный/не подтвержденный автор - который устанавливают  модераторы хаба пакетов

[2015-11-01 20:54] JohnyDeath commented on #26
Вы же не собираетесь пропускать "закрытые" пакеты?

[2015-11-01 21:10] ghost commented on #26
@JohnyDeath хаб по прямым управлением @EvilBeaver - поэтому это к нему вопрос.

@EvilBeaver в python, ruby и golang все пакеты поставляются как zip исходники, даже когда идут с C++ вставками. Поэтому единственное что существует - это 2 вещи:
- подпись пакетов с помощью команд типа gem cert
- https для хабов пакетов.

отдельно существую сканеры которые стоят на хабах, которые фактически проверяют п

[2015-11-01 21:35] EvilBeaver commented on #26
@allustin хаб под моим управлением просто потому, что нет времени и возможностей сделать там нормальный портал, с юзерами, с веб-мордой, с REST для push и так далее. Я думаю, ты понимаешь, что у меня нет цели оставить его насовсем в таком виде, в котором он сейчас стихийно сложился.

[2015-11-01 22:48] ghost commented on #26
@EvilBeaver понимаю конечно. поэтому и смотрел что есть на эту тему. с Web порталами сейчас сложно - они так скажем все накладывают особенности от той технологии которая выбрана в качестве Web языка разработки. Поэтому меня не покидает ощущение что нужно писать Web сервера на самом языке 1Script

[2015-11-02 08:19] EvilBeaver commented on #19
@artbear способ, в принципе, общепринятый - lock-файл, определяющий доступ к разделяемому ресурсу.

[2015-11-02 08:53] artbear commented on #19
@EvilBeaver я уже выше писал

ИМХО в случае агентов на разных машинах это довольно сложно обеспечить :(

[2015-11-02 09:54] EvilBeaver commented on #19
После pull надо смотреть, если мы собираемся распаковать версию, а в файле VERSION она уже распакована, значит, кто-то нас опередил с другой машины. Надо прописать вообще, зачем нам как-то это запрещать и чем нам грозит параллельная синхронизация по одной и той же репе. Когда будут прописаны риски, тогда можно посмотреть, чем то или иное плохо и выработать поведение в каждой из ситуаций.

[2015-11-02 10:01] artbear commented on #19
+1

Навскидку:
-риск путаницы в порядке коммитов,
-могут быть расхождения с порядком из хранилища 1С,
-двойное помещение одного коммита из хранилища 1С в Гит (интересно, как Гит разрулит эту ситуацию)

[2015-11-02 10:13] EvilBeaver commented on #19
по идее git будет ругаться на конфликт в файле version и не даст сделать push

[2015-11-02 10:41] artbear commented on #19
@EvilBeaver какой конфликт-то?  мы же делаем пулл и просто штатно меняем этот файл.
Для Гит это обычное изменение файла

[2015-11-02 10:54] nixel2007 commented on #19
@artbear пулл и изменения-то он даст сделать. А при пуше на remote уже выдаст ошибку с требованием повторного пулла

[2015-11-02 11:46] artbear commented on #19
@nixel2007 Да, согласен, пуш не пройдет.
Тогда все, больше рисков не вижу.

@pumbaEO а ты что думаешь по этой теме?

[2015-11-02 11:51] artbear commented on #24
@EvilBeaver я согласен с @pumbaEO, что при начальной инициализации у нас проблема.
Использование явного `src` в коде это лишнее, тем более, что `src` юзается только при инициализации, а вот при синхронизации юзается уже прямой каталог.

ИМХО нужно принимать пулл-реквест. Если у тебя нет возражений, я готов принять #25

[2015-11-02 12:55] pumbaEO commented on #19
имхо отдельный параметр запуска сколько версий делать синхронизацию, по умолчанию бесконечно, если указали 1 тогда будет одна версия синхронизированна.

[2015-11-02 13:41] artbear commented on #19
@pumbaEO какие проблемы/риски при параллельной работе двух синхронизаций одного репозитария возможны?

[2015-11-02 15:33] EvilBeaver commented on #24
Вся эта команда init нужна была для того, чтобы простимулировать создание правильной структуры каталогов. Без этого, исходники будут тупо положены в корень и все. Вообще, с учетом того, что есть vanessa-bootstrap, наверное, это и не страшно?

[2015-11-02 15:49] #24 closed, assigned to nobody

[2015-11-03 06:59] artbear opened #27 "Определиться с новыми библиотеками"
Есть разные полезные методы, которые юзаются/будут юзаться не в одном скрипте.
Например, `КопироватьДеревоФайлов`
или `получение пути программы из переменной среды Path`
или `метод для проверки минимально нужной версии oscript и выброс исключения`

Поэтому предлагаю подобные методы также закидывать в библиотеку.

Вопросы - как назовем соответствующие разделы библиотеки (русский и английский вариан

[2015-11-03 07:31] artbear commented on #27
Также метод поиска последней версии 1С может пригодиться в разных скриптах.
Куда его положить?

[2015-11-03 08:36] EvilBeaver commented on #27
Вот это для чего?

[code]

[2015-11-03 09:10] nixel2007 commented on #27
Я вот тоже сейчас подумал об этом... Ведь если бинарник лежит в Path, при запуске через КомандаСистемы() ему уже не нужен полный путь.
(Родилось из обсуждения к [этому](https://github.com/xDrivenDevelopment/precommit1c/pull/45) пулл-реквесту)

[2015-11-03 09:50] dmpas commented on #27
А если это не бинарник и его требуется не запустить, а просмотреть?
К примеру, есть у меня в Path-е скрипт vit. Запустить я его могу просто командой `vit`, а посмотреть его содержимое только через `cat $(which vit)`

PS я не в теме, просто мимо пробегал

[2015-11-03 10:13] artbear commented on #27
Отлично, один вопрос снимается.

[2015-11-03 10:16] artbear commented on #27
Да, меня также удивило код из обсуждения. Но там есть фишка в том, что бинарник может называться по-разному :) v8unpack и unpackv8. Это неудачное решение.

[2015-11-03 10:19] artbear commented on #27
1. Куда закинем `КопироватьДеревоФайлов` ?
2. Метод `получение пути программы из переменной среды Path` полезен (навскидку)
   - для скриптов-установщиков,
   - для скриптов, в которых нужно проверить существование пути к программе. Ведь простой вызов "программа параметры ..." приведет к системному исключению, пользователю скрипта это может быть неудобно. Я говорю о повышению юзабельности.

[2015-11-03 11:55] artbear commented on #4
@EvilBeaver Как пользоваться-то?
Только что скачал инстальник от ночной версии, установил все.
Запускаю opm и получаю ошибку

[code]

И это логично, т.к. никакого исполняемого файла opm не появилось.

[2015-11-03 12:06] artbear commented on #4
1. Пытаюсь запустить вручную, через oscript. Получаю баг

[code]

Баг при работе в Windows ?

2 Комментирую первую строку, запускаю дальше
Получаю баг, как и у Валеры Агеева (на битбакете)

[code]

Еще баг?

[2015-11-03 12:55] EvilBeaver commented on #4
@artbear это дубликат #22

[2015-11-03 13:08] awa15 commented on #4
То, что opm.bat отсутствует в инсталяхе - это одно. Имхо, ошибка в том, что путь библиотеки определяется относительно текущего каталога, хотя в параметрах он прописан относительно каталога bin (т.е. относительно КаталогПрограммы()). Когда opm.bat лежит в каталоге bin - ошибок нет, эти пути совпадают. Но никто не запрещает же запускать скрипт как я и Артур.

[2015-11-03 13:12] EvilBeaver commented on #4
@awa15 можешь пояснить, пожалуйста? Уже вторая половина дня, я понимаю только на пальцах ))

[2015-11-03 13:26] awa15 commented on #4
@EvilBeaver когда я запускаю opm.os прямо в каталоге "C:\Program Files (x86)\OneScript\lib\opm\src" (как @artbear описал чуть выше), то текущий каталог, соответственно, "C:\Program Files (x86)\OneScript\lib\opm\src".
Системная настройка lib.system определена как "../lib".
В файле КэшУстановленныхПакетов.os выполняется такой код:
    КаталогБиблиотек = ПолучитьЗначениеСистемнойНастройки("lib.system

[2015-11-03 13:37] artbear commented on #4
@awa15 +1

[2015-11-03 13:42] EvilBeaver commented on #4
Ну тогда получается это баг. Кто первый зафиксит, тот молодец! :trollface:

[2015-11-03 14:12] #4 closed, assigned to nobody

[2015-11-03 14:35] artbear commented on #4
Сегодня я молодец :)

[2015-11-03 14:36] EvilBeaver commented on #4
А где тесты? :trollface:
А если серьезно, то @artbear, @awa15  - спасибо за помощь!

[2015-11-03 14:59] artbear commented on #17
Совместно с @EvilBeaver пришли к варианту вызова:
`opm app script.os [folder]`

Заприложенить! (с) @EvilBeaver

[2015-11-03 15:04] artbear commented on #17
Поправил строку запуска `opm app script.os [folder]`

[2015-11-03 15:08] artbear commented on #17
нужно добавить к opm функциональность, чтобы можно было сгенерить bat-файл в указанной папке (folder) или КаталогПрограммы (если папка не указана)
со следующим текстом
`oscript.exe ПутьСкрипта\Скрипт.os  %*`

[2015-11-03 15:13] artbear commented on #17
Код генерации уже есть в файле `oscript-library\src\opm\src\Классы\УстановкаПакета.os` - `СгенерироватьСкриптыЗапускаПриложенийПриНеобходимости`
Нужно только добавить параметры командной строки, обработать ком.строку, вызвав этот метод.

[2015-11-03 15:50] artbear opened #28 "Падают тесты командной строки в текущей ветке develop"
Падают тесты командной строки в текущей ветке develop
Откатываюсь назад на a3b3d6a (мой коммит) и тесты проходят.
@EvilBeaver посмотришь?

[2015-11-03 19:23] EvilBeaver commented on #28
Дай выхлоп падающего теста? Я перед коммитом прогонял тесты, они работали.

[2015-11-03 21:40] nixel2007 commented on #27
Возможно не совсем в тему - подскажите, а пресловутый testrunner.os откуда-то из репо onescript где-то доступен как библиотека/отдельный описанный механизм? Или это вещь, присущая чисто репе onescript?
А то Артур сказал сегодня прогнать тесты, а я аж не сразу понял, чем их прогонять.

[2015-11-03 21:44] artbear commented on #27
Кстати, хорошая мысль.
Нужно выделить тест-раннер как отдельное приложение/библиотеку

А вообще тест-раннер живет в основном репо 1скрипт на битбакете, это
небольшой порт нашего xUnitFor1C для oscript

ср, 4 Ноя 2015, 0:40, Nikita Gryzlov notifications@github.com:

[2015-11-05 07:54] artbear commented on #17
@EvilBeaver Добавляй в доку на сайте на opm описание генерации скрипта через `opm app script.os [folder]`
или дай мне возможность добраться до документации на сайте :)

[2015-11-05 08:00] EvilBeaver commented on #17
@artbear напиши markdown с документацией, я всталю. Дать доступ там не так просто, там все неавтоматизировано, ручками и все сложно.. Сделаешь доку или набросок хотя бы?

[2015-11-05 08:53] EvilBeaver opened #30 "V8Runner ищет платформы только на диске C"
Места установки платформ нужно брать из служебного файлика 1С в %APPDATA%\бла-бла

Сейчас, если платформы ставятся не на диск C: v8runner их не сможет найти автоматом.

[2015-11-05 09:31] nixel2007 commented on #30
Дико плюсую. Полдня убил на то, что не получалось запустить конкретную версию платформы, пока не понял, что она у меня стоит на другом диске.

[2015-11-05 09:45] EvilBeaver commented on #30
Дополню - надо выяснить про то, как происходит поиск платформ на линуксе

[2015-11-05 11:44] artbear commented on #28
[code]

[2015-11-05 11:49] #28 closed, assigned to EvilBeaver

[2015-11-05 13:08] vsuh commented on #30
А может,инициализировать класс без знания пути до исполняемого файла платформы, и сделать экспортную переменную `ПутьДоПлатформы1С` и если это свойство класса установлено, работать уже с ним.

[2015-11-05 14:18] EvilBeaver commented on #30
@vsuh а оно так и работает, если я ничего не путаю. Класс инициализируется пустым, а полный путь до платформы можно задать явно вот так:

[code]

[2015-11-05 14:39] artbear commented on #30
@EvilBeaver да, именно так.

[2015-11-05 15:33] vsuh commented on #30
[code]

`{Модуль D:\Program Files (x86)\OneScript\lib\v8runner\src\v8runner.os / Ошибка в строке: 254 / Внешнее исключение: Не удалось найти часть пути "C:\Program Files (x86)\1cv8".}`

[2015-11-05 16:15] artbear commented on #30
`УК.ПутьКПлатформе1С = "D:\Program Files (x86)\1cv8\8.3.6.2299\bin\1cv8.exe";`
так вообще неверно, это же метод, а не свойство.
правильно `УК.ПутьКПлатформе1С ( "D:\Program Files (x86)\1cv8\8.3.6.2299\bin\1cv8.exe" );`

[2015-11-06 06:20] vsuh commented on #30
только что поставил на виртуалке 1С в e:\program files (x86)\1cv8\8.3.6.2299

[code]

---

E:_ggg_\v8test>c:\progra~2\onescript\bin\oscript.exe ttt.os
{Модуль C:\Program Files (x86)\onescript\lib\v8runner\src\v8runner.os /
Ошибка в строке: 256 / Не найден путь к платформе 1С <8.3>}

5 ноября 2015 г., 19:15 пользователь Artur Ayukhanov <
notifications@github.com> написал:

[2015-11-12 09:59] artbear opened #31 "Выделить тест-раннер как отдельное приложение/библиотеку"
В продолжение #27

[2015-11-12 10:00] artbear commented on #27
Что будем делать со следующими вопросами?:

[2015-11-12 10:05] artbear commented on #27
А еще `метод для проверки минимально нужной версии oscript и выброс исключения` ?

[2015-11-12 10:15] EvilBeaver commented on #27
Вся эта штука будет называться БСП? :smile:
Имхо, надо перенять опыт. БСП выкристаллизовался из решений, используемых везде и повсеместно. Были выделены направления стандартизации (файлы, обновление иб, почта и т.д.)

С библиотеками oscript получилось так же. Рано или поздно код, требующий стандартизации, выявится. Пока предлагаю просто ждать и накапливать статистику. Станет понятно, какие функцио

[2015-11-12 10:26] artbear commented on #27
@EvilBeaver  Так я и написал уже несколько вариантов. когда понятно, что есть общий/дублированный в нескольких скриптах функционал
и желательно его объединить в библиотеку.

[2015-11-12 13:09] EvilBeaver commented on #27
@artbear так я и не спорю. Я говорю о том, что несколько библиотек будет, по функциональному признаку разделенных. Пока я вижу 2 библиотеки: файловые операции и окружение (для версии Скрипта) Но в каждой - по одной функции, на библиотеку не тянет

[2015-11-15 15:51] nixel2007 opened #32 "Ошибка подключения библиотек при использовании локальных путей"
Если в собственном скрипте сначала подключить `asserts` по локальному пути, а потом подключить по локальному пути любой модуль, где так же используется asserts, например,

[code]

то при компиляции происходит ошибка вида

[code]

Протестировано на ветке develop, sha - 6a8aabacc0329891be8344358ec6d9bc96b83f4a
На сколько я понял, проблема связана с тем, что в v8runner используется подключение assert

[2015-11-15 17:11] EvilBeaver commented on #32
@nixel2007 Ошибка понятна, причина ошибки описана правильно, непонятна только мотивация. Для чего потребовалось подключать стандартную библиотеку по пути? Какой сценарий предполагался?

[2015-11-15 18:01] nixel2007 commented on #32
Причины три:
1) максимизировать соответствие продакшн и дев окружения
2) однозначно зафиксировать используемую версию библиотек (так как используется дев-ветка, то стабильность и функционал каждой версии требуется проверять отдельно и только после этого сливать в master основного репо)
3) Упростить обновление используемой библиотеки на продакшн - используется submodule и git submodule update при д

[2015-11-16 11:49] artbear opened #34 "Добавить версии для библиотек"
Добавить версии для библиотек, чтобы исключить в пользовательском коде комментарии  следующего вида `Требуется библиотека cmdline от 21.10.2015 и новее.`

Вопрос - какую архитектуру выберем?
Например, у каждого класса библиотеки будет метод Версия()?
или у каждой библиотеки будет глобальный метод Версия() ?
какие еще варианты есть?

@EvilBeaver что скажешь?

[2015-11-16 11:55] dmpas commented on #34
оооо! добро пожаловать в ад!
учитывая, что последний коммит в мастер-ветке был ещё в сентябре, то зависимость "версия от 21.10.2015" выглядит очень удручающе.

[2015-11-16 12:22] nixel2007 commented on #34
так ведь уже есть версия в packagedef. Есть интерфейс по получению этой версии? Если да, то просто надо эту версию периодически бампить в самом packagedef.

[2015-11-16 13:04] EvilBeaver commented on #34
Вопрос управления версиями библиотек был решен в стиле Руби - то есть на него решено было забить. В хранилище пакетов может стоять только одна версия какой-то библиотеки и все кто на нее ссылается по имени (а не по пути) будут использовать эту актуальную версию. Т.е. нельзя поставить lib1, lib2 и lib1.5 одновременно и чтобы система сама следила, какую версию для какого клиента подгрузить. Это не м

[2015-11-16 13:09] EvilBeaver commented on #32
Кажется, что обновлять продакшен с dev ветки, да еще и через git pull немного некошерно...

[2015-11-16 13:14] nixel2007 commented on #32
Поэтому и используется не сама dev-ветка oscript-library, а конкретный коммит, установленный в submodule - оттестированный и с нужным функционалом.

[2015-11-16 13:35] pumbaEO opened #35 "tab vs space"

[2015-11-16 13:36] artbear commented on #34
Story: Сейчас некоторые наши скрипты, например, в precommit1C (и собственные/приватные) зависят от установленных библиотек.
У меня, например, скрипты работают на билд-агентах, которые находятся на разных машинах.
При обновлении скрипта библиотеки автоматом не обновляются.
в итоге при запуске скриптов на агентах вылетают всякие странные ошибки.
И бывает сложно понять, причина в скрипте, окружении с

[2015-11-16 13:40] artbear commented on #35
@pumbaEO @EvilBeaver  Вы за tab или пробелы?

[2015-11-16 13:42] pumbaEO commented on #35
за пробелы.

[2015-11-16 13:44] nixel2007 commented on #34
offtopic
@artbear твою проблему частично может решить подход, описанный в #32. Если пофиксят ту issue :)

[2015-11-16 13:58] dmpas commented on #35
Наследие 1С как-бы насаждает нам табы.

[2015-11-16 14:03] EvilBeaver commented on #35
Я как-то хабре видел концепцию - отступы табами, выравнивание пробелами. С тех пор использую.

[code]

А в целом, холивар старый, меня давно не парит. Использую то, что стоит в редакторе по умолчанию и готов принять любой символ, если он всех устраивает.

[2015-11-16 14:05] pumbaEO commented on #35
Табы в браузере при diff плохо выглядят.

16 ноября 2015 г., 17:03 пользователь Andrei Ovsiankin <
notifications@github.com> написал:

##

З повагою Сосна Євген,
mailto:shenja@sosna.zp.ua
skype:shenjasosna
+380933897103

[2015-11-16 14:05] artbear commented on #35
Мне также все равно, Ctrl+Del или Ctrl+Backspace удаляет все, хоть таб, хоть пробел, хоть слово

[2015-11-16 14:09] artbear commented on #34
@nixel2007 Частично решит, но мне не хочется юзать "локальные" версии библиотек, это тоже зло ада версий в немного другой "упаковке" :)

[2015-11-16 14:15] nixel2007 commented on #34
opm в данном данном случае будет идеальным решением на мой взгляд. Если будет возможность как, например,  в npm положить файлик со всеми зависимостями, которые ставятся одной командой update.

[2015-11-16 14:19] nixel2007 commented on #35
Плюсы табов - возможность настроить любую ширину отступа в редакторе, хоть 2 хоть 4 символа.

[2015-11-16 14:20] artbear commented on #35
И эта же возможность является их главным злом, т.к. форматирование у всех выглядит по-разному :(

[2015-11-16 14:21] EvilBeaver commented on #35
@nixel2007 а оно надо? Я знаю про эту опцию, сколько имею компьютер. И ни разу не настраивал, за исключением случаев, когда оно было по умолчанию выставлено в "8". На 15-дюймовом мониторе это было жестоко.

[2015-11-16 14:23] nixel2007 commented on #35
Зависит от принятых стандартов форматирования. Стандартное (перевод строки + один таб) будет выглядеть у всех одинаково. Догонять же отступы под, например, скобки при вызове функций с большим количество - не самое удачное с точки зрения форматирования решение, имхо

[2015-11-16 14:23] pumbaEO commented on #35
У github принято tab = 8 символов, https://github.com/EvilBeaver/oscript-library/pull/33/files#diff-b4a7e51294a8e34136c110fbae01bef1L415

[2015-11-16 14:28] EvilBeaver commented on #35
Ну, короче, я как все, мне не принципиально. Каких-то аргументов за или против табов не имею.

[2015-11-16 14:42] EvilBeaver commented on #34
Поддержу @nixel2007

Правильный вариант деплоя:

[code]

и получаешь апдейт всех зависимостей. Конкретные ключи и тех.детали сейчас опускаем, но работать должно как-то так. Копирование файликов должно умереть. Ну или не иметь отношения к управлению версиями.

[2015-11-16 17:24] artbear commented on #35
Предлагаю голосовать
я и @EvilBeaver воздерживаемся.
Ждем остальных.

[2015-11-16 17:44] JohnyDeath commented on #35
Не принципиально, но если уж голосовать, то проголосую за tab, т.к. все мы как-то связаны с 1С, где приняты tab-ы

[2015-11-16 18:06] awa15 commented on #35
За tab!

[2015-11-16 18:27] nixel2007 commented on #35
Если имею право голоса - за таб.

[2015-11-16 18:36] ghost commented on #35
Я каюсь - я продолжаю переход на пробелы. От табов как-то отказываюсь, но руки иногда косячят. Поэтому я не то чтобы воздержусь - я буду стараться делать пробелами: мне тут давеча объяснили почему это хорошо.

[2015-11-16 18:42] nixel2007 commented on #35
@allustin так поделись с нами :)

[2015-11-16 18:51] pumbaEO commented on #35
Space
16 нояб. 2015 г. 21:42 пользователь "Nikita Gryzlov" <
notifications@github.com> написал:

[2015-11-16 19:13] dmpas commented on #35
табы

[2015-11-17 05:15] ghost commented on #35
@nixel2007 там долго ;-). мне часа 3 объясняли.

если коротко - то tab это это "операция", а пробел это "символ языка".
то есть в исходниках необходимо использовать символы, а при операциях использовать горячие клавиши.

например в Word "табуляция" это правильно, а в Markdown нет.

Вообщем как сказал @EvilBeaver - это старый холивар.

[2015-11-17 07:54] EvilBeaver commented on #35
@nixel2007 @allustin ну короче, я отписался уже выше - я использую табы, но за них не держусь. Раз пошла такая пьянка, то я тоже за табы, ибо 1C-way.

[2015-11-17 09:14] artbear commented on #35
Итого на 17.11 12:13
5 за таб
2 за пробелы
1 воздержался

Кто еще голосует?
@wizi4d ?

[2015-11-17 10:43] EvilBeaver commented on #35
А у меня вопрос зачем это все? Ну допустим таб победил. И?

-----Исходное сообщение-----
От: "Artur Ayukhanov" notifications@github.com
Отправлено: ‎17.‎11.‎2015 12:14
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Копия: "Andrei Ovsiankin" ovsiankin.aa@gmail.com
Тема: Re: [oscript-library] tab vs space  (#35)

Итого на 17.11 12:13
5 за таб
2 за пробелы
1 воздержался
Кто еще

[2015-11-17 10:46] dmpas commented on #35
@EvilBeaver будешь гневно отметать все запуллы с формулировкой "у вас отступы пробелами!"

[2015-11-17 10:51] nixel2007 commented on #35
@evilbeaver можно устроить народные гуляния, с фейерверками и маскарадом.
А если серьёзно, то радикальный вариант - переформатировать все существующие os'ы и впредь придерживаться единого стиля

[2015-11-17 11:25] artbear commented on #34
и что нужно сделать, чтобы это заработало?
задокументировать? :)

[2015-11-17 12:53] EvilBeaver commented on #34
Ах, если бы! Это надо написать :) В принципе, там есть операция update но контроля версий нет.

[2015-11-17 12:55] dmpas commented on #35
кстати, вот тут нагрепал на злобу дня:
https://github.com/EvilBeaver/oscript-library/blob/develop/src/v8runner/src/v8runner.os#L199

[2015-11-17 13:02] EvilBeaver commented on #35
@dmpas ОУЖОС! пробелы в моем в8раннере!! :scream_cat:
А по поводу отметания запуллов, тут кроме присутствующих никто их и не делает, хоть с пробелами, хоть нет :(

[2015-11-17 13:25] artbear commented on #34
@EvilBeaver Приведи сценарий поведения по update и install для контроля версий

[2015-11-17 16:08] EvilBeaver commented on #34
@artbear я описал в каменте выше:

[2015-11-17 16:40] nixel2007 commented on #35
@evilbeaver единые стандарты разработки могут помочь даже одному разработчику, не говоря уже о 5+ :)

[2015-12-01 09:10] EvilBeaver opened #37 "Объединить loader для opm со стандартным"
Сейчас opm имеет собственный загрузчик, работающий на предопределенных папках Классы и Модули. Нужно этот алгоритм встроить в глобальный загрузчик (чтобы поддерживал оба варианта), а из opm - удалить.

[2015-12-04 08:37] dmpas commented on #13
let's encrypt запустили: http://habrahabr.ru/post/272253/
буду вечером на своих серверах пробовать

[2015-12-04 15:00] EvilBeaver commented on #13
А у меня на hub nginx что-то мозг парит ((

[2015-12-09 09:31] artbear opened #39 "Gitsync неверно работает c 8.3.7"
В 8.3.7 по умолчанию используется иерархический формат при выгрузке.

Нужно доработать код для использования старого формата + влить пулл-реквест #38 для использования нового формата.

Исправлю сам.

[2015-12-09 09:43] artbear commented on #39
C 8.2 я написал неверно, мы сразу ориентировались на 8.3
Осталась проблема работы с 8.3.7

[2015-12-09 09:54] EvilBeaver commented on #39
@artbear там по пулреквесту #38 @pumbaEO что-то еще вроде хотел доделать перед слиянием, не?

[2015-12-09 09:58] artbear commented on #39
@EvilBeaver наверное, ты уже увидел, что я ему отписался на странице пулл-реквеста

[2015-12-09 09:59] artbear commented on #39
Проблема в том, что у меня за время болезни неделю выгружались пустые правки в Гит :) (3 пустых файла)
Для меня исправление нужно очень срочно.

[2015-12-09 10:01] #39 closed, assigned to artbear

[2015-12-09 10:01] artbear commented on #39
@pumbaEO Обрати внимание на мое исправление, предлагаю слить #38 и эту правку.

[2015-12-12 11:38] ghost opened #40 "библиотека обертка над rac/ras"
Зафиксирую - чтобы осталось

Нужно управлять rac/ras - то есть управлять сервером приложений НЕ через COM

Пока не знаю как сделать и кто будет, но пусть останется

Имеется ввиду вот такое http://oparin.info/1c/administrirovanie-serverov-1s-pod-linux-ubuntu

[2015-12-12 12:36] nixel2007 commented on #40
Поддерживаю! У самого было желание что-то такое накидать. Для rac/ras ещё очень полезной фичей является взаимодействие через веб-сервер по обычным http-запросам.

[2015-12-12 16:56] artbear opened #41 "ВременныеФайлы: доработать получение имен и путей для новых файлов (добавить СлучайноеИмяФайла)"
Сейчас у нас используется метод `НовоеИмяФайла`
ИМХО имя этого метода не отвечает своему функционалу, т.к. возвращает не имя файла, а полный путь.
Возникает путаница с терминологией: у нас есть путь, полное имя, имя файла и есть метод, который должен возвращать имя, а возвращать полный путь/полное имя.

Предлагаю разделить функционал этого метода на два метода:
- `НовоеИмяФайла` - получает именно

[2015-12-12 17:11] nixel2007 commented on #41
Что с обратной совместимостью?
В моих скриптах, например, используется полный путь, т.к. он нужен принимающим программам/скриптам.

Варианта два:
- объявить об отсутствии полной обратной совместимости в новой версии библиотеки
- поступить, как, например, поступают в БСП - добавить два новых метода, условно `ПолучитьНовоеИмяФайла` и `ПолучитьНовоеПолноеИмяФайла`, объявив старую функцию как deprecat

[2015-12-12 19:02] EvilBeaver commented on #40
В принципе,есть в БСП, но в минимальном объеме. А еще есть JAVA библиотека+[IKVM](http://www.ikvm.net/)

[2015-12-12 19:05] ghost commented on #40
@EvilBeaver Java - ни коем случае. Если коротко - то оно НЕ работает о слова совсем.

Длинно могу сформулировать попозже - там 1С-ники "молодцы" причем "конкретные молодцы"
Вот тут немного описано http://1c-dn.com/forum/forum17/topic882/?sphrase_id=39840#message3402

[2015-12-12 19:08] ghost commented on #40
@EvilBeaver получить правильные библиотеки Java можно только если купить лицензию с 1C-dn сайта. Русские акаунты не работают - текущее Java API опубликованное на сайте ИТС устарели и не обновляются. а на 1С-DN обновляются вручную ;-), как показала практика, но купить на 1C-DN можно только не из России, точнее если сделать фейковый акаунт "из-за пределов СНГ"

[2015-12-12 20:06] EvilBeaver commented on #40
@allustin ну то, что они жопы, мы все как бы знаем) Остается еще надежда на реверсеров уровня awa и orefkov

[2015-12-12 20:10] EvilBeaver commented on #41
@artbear с терминологией здесь всегда проблемы. Даже у буржуев в документации и в API часто перемешаны name. fullname, path, full path, name-without-extension, base name и т.д. и т.п.

Я бы оставил as-is, а если тебе нужно только имя (кстати, зачем?) можно сделать отдельный метод. Только назвать получше.

[2015-12-12 20:39] artbear commented on #41
@EvilBeaver Я же описал:

Например, мне нужно создать временный файл именно в указанном каталоге, а не во временном каталоге системе.
Сейчас приходится получать полный путь из сабжа, далее создавать файл, и объединять путь нужного каталога и имя из файла.
лишний и некрасивый код, который дублируется в нескольких местах

[2015-12-13 15:27] EvilBeaver commented on #41
@artbear ты опять говоришь о решении некой проблемы, а не о самой проблеме. Я попробую перефразировать: для чего нужны файлы с абракадабровыми именами в НЕвременном каталоге? Они же не нужны там сами по себе, ты решаешь некую задачу таким способом. Вот я про задачу и спрашиваю...

Я почему докапываюсь: API должен удовлетворять неким сценариям. А мы, как авторы, должны эти сценарии себе представлят

[2015-12-13 15:40] EvilBeaver commented on #40
Да, и еще есть вот такое https://github.com/alekseybochkov/WebRAS
Как концепт мне нравится. Реализация, конечно, из костылей с применением JAVA (@allustin - она похоже как-то работает) .

[2015-12-13 16:45] ghost commented on #40
@EvilBeaver так у Алексея доступ то на 1С-DN есть, он же вроде как активно в Сан-Франциско 1С внедряет ;-). Но пока это конечно костыли.

[2015-12-13 19:30] EvilBeaver commented on #22
Исправлено в 1.0.12.17

[2015-12-13 19:30] #22 closed, assigned to nobody

[2015-12-13 19:32] #17 closed, assigned to EvilBeaver

[2015-12-14 12:43] EvilBeaver commented on #32
@nixel2007 да, перенеси, туда, пожалуйста, я посмотрю.

[2015-12-14 12:52] nixel2007 commented on #32
@EvilBeaver Сделано. https://bitbucket.org/EvilBeaver/1script/issues/201

[2015-12-15 12:13] #30 closed, assigned to nobody

[2015-12-15 12:15] EvilBeaver commented on #32
Закрыто и перенесено в багтрекер 1Script.

[2015-12-15 12:15] #32 closed, assigned to nobody

[2015-12-15 12:40] #37 closed, assigned to nobody

[2015-12-22 10:07] EvilBeaver opened #42 "Подключать gitsync как библиотеку"
Нужно иметь возможность управления синхронизатором в объектной технике, а не только через командную строку.

Критерий завершения:

Есть возможность создать некий объект синхронизатора, подключив его через "Использовать", и выполнять те же действия, что и в командной строке, но объектно, из управляющего скрипта.

[2015-12-23 14:00] #42 closed, assigned to EvilBeaver

[2015-12-28 14:57] EvilBeaver commented on #27
@artbear, возвращаясь к этой issue - ты можешь уже сейчас создать либу, скажем `file-utils` и скидывать в нее все, что похоже на универсальные функции. Ну и по прочей функциональности тоже...

Если вопрос о фиксации небольшого набора "полезных" функций, то мне идея кажется опасной. Фиксируя что-либо в библиотеке со слишком общим названием, мы потом ничего из этого не переделаем. Тут, на самом деле

[2015-12-31 13:48] kuntashov opened #44 "json: Добавить возможность настройки объекта (АвтоматическоеПриведениеОбъектаКСтруктуре и т.п.)"
В исходной обработке, на основе которой сделана библиотека, настройка объекта предполагает "хардкод" параметров, например, есть параметр `АвтоматическоеПриведениеОбъектаКСтруктуре`, по умолчанию его значение - `Ложь`.

Изменить эту настройку никак нельзя, кроме как поменять жестко захардкоженое в функции `НастройкаАвтоматическоеПриведениеОбъектаКСтруктуре()` возвращаемое значение (Ложь на Истина),

[2015-12-31 14:02] kuntashov commented on #44
Я готов сам реализовать описанную доработку.

Концепция решения:
1. В метод  `ПрочитатьJSON()` добавить дополнительный аргумент `АвтоматическоеПриведениеОбъектаКСтруктуре`, значение по умолчанию - `Ложь`
2. В метод `ЗаписатьJSON()` добавить дополнительные аргументы `НеявноеПриведениеПримитивныхЗначенийКлюча`, `ПолноеМаскированиеСимволов`, `МаскированиеКириллицы` (значение по умолчанию соответствен

[2016-01-01 17:41] kuntashov commented on #44
Вот здесь сделал https://github.com/kuntashov/oscript-library/tree/feature/json-settings + нашел и исправил один небольшой баг, на все написал тесты, готов сделать pull-request.

[2016-01-01 17:58] kuntashov opened #45 "readme.md: Исправить описание библиотеки strings"
В описании библиотеки strings написано

Смущает слово "копия", предлагаю заменить слово "аналог" или более явно написать: "API библиотеки совместимо с API модуля СтроковыеФункцииКлиентСервер из БСП".

[2016-01-01 18:00] artbear commented on #45
Согласен

пт, 1 Янв 2016, 20:58, Alexander Kuntashov notifications@github.com:

[2016-01-01 18:03] artbear commented on #44
Готов, делай.
Пулл-реквестам всегда дорога открыта

пт, 1 Янв 2016, 20:41, Alexander Kuntashov notifications@github.com:

[2016-01-02 12:34] #44 closed, assigned to nobody

[2016-01-03 15:05] kuntashov commented on #31
Переношу значимую информацию из обсуждения https://bitbucket.org/EvilBeaver/1script/issues/207/tests-testrunneros

Найденные баги/недочеты/фичи, которые надо учесть в новом приложении:
- код для проверок (assertions) в testrunner.os - свой, а надо чтобы использовался модуль asserts и дублирования не было
- то же самое про работу с ком. строкой (разбор аргументов)
- модуль asserts/xunit отстает по

[2016-01-04 14:57] kuntashov commented on #31
Есть рассогласованность в нумерации тестов в выводе:
- При выполнении тестов в выводе testrunner'а тесты нумеруются по порядку с нуля.
- Если при этом запускать отдельный тест - в выводе ему будет назначен номер 0.
- Если при выполнении всех тестовых случаев из одного файла несколько тестов, например, 2 упадут, то в выводе будет выведено:

[code]

Т.е. нумерация упавших - также сначала, но при это

[2016-01-10 22:29] JohnyDeath opened #52 "gitsync Ошибка подгрузки библиотеки "core""
Не выполняется скрипт gytsync. Вываливает ошибку:

Это строка звучит так:
`#Использовать "core"`
Каталог core состоит из двух подкаталогов: "Классы" и "Модули".
Так и должно быть? Использую 1script самый последний 1.0.11.53

Запускаю всё из локального свежего гит-репозитория.
Строка запуска:
`oscript gitsync.os help init`

Что я делаю не так?

[2016-01-11 07:02] EvilBeaver commented on #52
Странно, у меня работает. Посмотри, у тебя в oscript.cfg какой путь к библиотекам прописан? Он корректный?

Это если мы про 1.0.11.53 говорим.

[2016-01-11 07:50] JohnyDeath commented on #52
[code]

Но вроде как директива
`#Использовать "core"`
говорит о том, чтобы поиск начался в каталоге скрипта. Нет?
Если пишу
`#Использовать "core/Классы"`
тогда подгружается, но ес-но только классы

[2016-01-11 08:00] JohnyDeath commented on #52
Если меняю эту строку на

[code]

Тогда вот такая ошибка:

У меня явно что-то не так..

[2016-01-11 08:07] JohnyDeath commented on #52
Вообще не совсем понятно как должны обновляться "стандартные" библиотеки.
Как я понимаю, тот же "парсер" подгружается из каталога, куда установлен oscript.exe. А он отличается от того, что сейчас есть в текущем репо.
Руками все перезаписать? Какой правильный сценарий обновления?

[2016-01-11 08:08] nixel2007 commented on #52
В 1.0.11 подключение "по имени"  вообще не ищет в каталоге скрипта.

[2016-01-11 08:14] JohnyDeath commented on #52
В общем победил так.
В каталоге, куда установлен oscript.exe ищем каталог "lib". Все его содержимое удаляем (перемещаем в другое место) и туда копируем содержимое этого репозитория из каталога "src".
И все заработало, включая правильную подгрузку core

Эту же проблему можно решить не так радикально, поменяв в %OneScriptDir%\bin\oscript.cfg путь
lib.system = ../lib
на каталог, где у вас текущий реп

[2016-01-11 08:16] nixel2007 commented on #52
Собственно, я всегда так и делал... :)
Так же можешь посмотреть на вот эту issue https://bitbucket.org/EvilBeaver/1script/issues/201
Скоро можно будет и локальные библиотеки по имени подключать.

[2016-01-11 08:45] EvilBeaver commented on #52
@JohnyDeath ну как бы да, оно так и обновляется. Вот мне бы еще одни рабочие руки, чтобы доделать, наконец, автосборки библиотек и выкладывания на hub. Тогда обновление библиотек будет делаться через `opm update gitsync`

[2016-01-11 09:02] #52 closed, assigned to nobody

[2016-01-13 19:32] theshadowco opened #55 "gitsync: Хак для исправления ошибки распаковки"
Добрый день.

_При распаковке одного из хранилищ возникла ошибка
Ошибка преобразования данных XDTO:
Запись значения свойства:
форма: Элемент
имя: {http://v8.1c.ru/8.2/data/spreadsheet}document
по причине:
Ошибка преобразования данных XDTO:
Запись значения свойства:
форма: Элемент
имя: {http://v8.1c.ru/8.2/data/spreadsheet}table
по причине:
Ошибка отображения типов:
Отсутствует отображение для типа

[2016-01-13 19:39] theshadowco opened #56 "gitsync: Формирование комментария коммита"
При формировании комментария коммита гитсинк использует комментарий хранилища. Не секрет, он часто бывает пустым, но при этом метка в хранилище может быть заполнена (и содержать описание коммита).

Как смотрите на это с высоты своего опыта? Может стоит формировать комментарий например как (схематично):
_Комментарий = КомментарийХранилища;
Если Пустаястрока(МеткаХранилища) Тогда
Комментарий = Метка

[2016-01-13 19:50] EvilBeaver commented on #56
Метка как раз еще чаще не заполнена. А если заполнена, то не факт, что она отражает суть коммита. Как правило там написано то, что в гите называется словом _tag_ - там, как правило пишут, что, мол, вот этот коммит - это версия 1.0.1.1 или там, "стабильный релиз" или еще что-то. Иными словами, добавление текста метки в коммит не сильно поможет, а скорее даже и запутает.

ИМХО.

[2016-01-13 20:01] EvilBeaver commented on #55
А что конкретно распаковывается и удаляется из метаданных?

[2016-01-13 20:09] theshadowco commented on #55
Распаковывыется файл конфигурации (cf целиком), выгруженный из хранилища tool_cd. В каталоге по содержимому по идентификатору типа "СводнаяТаблица" находится макет xml и удаляется. CF после сборки отлично открывается, удаленный макет в ней присутствует (пустой).

Можно не удалять файл, а очищать например.

[2016-01-13 20:12] theshadowco commented on #55
Для распаковки используется строка вида "unpackv8.exe -parse vn.cf tempdir"

[2016-01-13 20:23] nixel2007 commented on #55
У вас не версия платформы для обучения, случаем?
Там нет поддержки сериализации сводной таблицы.

[2016-01-13 20:29] theshadowco commented on #55
нет, полная. пробовал и на 8.3.6 и 8.3.7

[2016-01-13 20:31] theshadowco commented on #55
конфа (из хранилища) в совместимости с 8.1. вручную ставил различные режимы и руками же нажимал кнопку выгрузить - все равно падал

[2016-01-13 20:34] JohnyDeath commented on #55
Надо б сделать минимальный cf с повторяющейся ошибкой и зарегистрировать баг в 1С

[2016-01-13 20:35] theshadowco commented on #55
@JohnyDeath  cf готов сделать, вот зарегать не могу - нет договоров с франями/партнерами (актуальных на сегодня, придется ждать)

[2016-01-13 20:40] JohnyDeath commented on #55
@theshadowco кидай мне, помогу чем смогу

[2016-01-13 20:46] theshadowco commented on #55
Порядок действий:
 - Создать базу
 - Загрузить
 - сохранить
 - нажать выгрузить в файлы

С уважением,
Максимов Валерий.
maximovvalery@gmail.com

2016-01-13 23:40 GMT+03:00 Evgeny Martynenkov <notifications@github.com>:

[2016-01-13 20:48] theshadowco commented on #55
Конфа с ошибкой

С уважением,
Максимов Валерий.
maximovvalery@gmail.com

2016-01-13 23:40 GMT+03:00 Evgeny Martynenkov notifications@github.com:

[2016-01-13 20:48] JohnyDeath commented on #55
нет вложения.
На почту кинь. Мой ник на гмыле

[2016-01-13 20:50] theshadowco commented on #55
Отправил

[2016-01-19 19:30] nixel2007 commented on #34
В продолжение темы.

Помимо определенного хорошей идеи с пакетами и пакетным менеджером необходимо продумать алгоритм версионирования для модулей, поставляемых в исходных кодах, то бишь в os.

Например, пакета может не быть вообще. Или мы работаем с дев-версией какой-то библиотеки, скачанной с гитхаба в сорцах.

[2016-01-19 19:57] EvilBeaver commented on #34
Вот это я против. Скачал дев - сам следи и сам обновляй. Автор должен так или иначе обеспечивать работу релизного пакета. В идеале - собранного через opm и опубликованого в хабе. Все, что из исходников, да еще и из dev-а - это полуфабрикат, у которого версии быть не может.

Если кто знает веббера, готового написать простенький бэкенд (да и фронтенд) для hub.oscript.io (разумеется, ради мира во все

[2016-01-19 21:02] ghost commented on #34
@EvilBeaver я правильно понимаю - что нужно что-то подобное https://gopm.io/ ?

Тогда вынужден вам сказать, что в GoLang решили проблему зависимостей библиотек и версий в стиле Спартака "Спартак решил проблему защиты, нет защиты не проблемы"

Сам удивлен - не скажу что это правильно, но как вариант прикольно

зависимость пакета определяется таким вот файлом

[code]

то есть для пакета определяется

[2016-01-19 21:15] ghost commented on #34
ну и соответственно можно указать либо тэг git репозитория либо branch

[code]

[2016-01-19 21:30] ghost commented on #34
Чтобы подытожить - архитектура следующая в GoLang
- имя пакета определяет полный URI где находится git репозиторий без http
- внутри каждого пакета могут находиться модуля который дополняют URI - таким образом можно установить зависимость от отдельного модуля, а не от целого пакета

и теперь главное
- поле версия служит для коммуникации с пользователем - то есть тупо для показа

`вы используете ве

[2016-01-19 22:42] nixel2007 commented on #34
Кстати, теперь, когда @EvilBeaver реализовал поиск библиотек по имени по конфиг файлу в папке скрипта это стало сделать ещё проще.

В скрипте написано, что нужен logos.
В конфиге написано, что библиотеки надо искать в, допустим, ./oscript_modules
В другом (или том же) конфиге, написано, что нужна logos версии какой-нибудь.

opm install установит нам logos в папку oscript_modules, а интерпретатор o

[2016-01-20 07:49] EvilBeaver commented on #34
opm сам ничего не установит при запуске какого-либо скрипта. Идея зависимости от коммита - интересная, но ее надо прорабатывать, опять же, в плане идеи проекта. А идея такая, что 1С-ники не знают что такое git, а если знают, то про sha-commit не совсем в курсе. Я вот, например, не знаю, как универсально сослаться на конкретный коммит, так, чтобы любой консольный git знал - какой файл надо получить

[2016-01-20 08:03] nixel2007 commented on #34
это понятное дело. но этот шаг можно включить в README по установке/использованию скрипта.
Скачали, opm install, а потом уже запустили.

[2016-01-20 08:06] nixel2007 commented on #34
Шаг проверки используемых библиотек можно зашить в сам интерпретатор.
- При запуске файла os по конфиг-файлу с зависимостями определять необходимые версии подключаемых библиотек
- При использовании директивы #Использовать на основании package.def подключаемой библиотеки определяется ее версия
- При несовместимости версий вываливается исключение

@EvilBeaver реальный вариант (в плане доработок oscr

[2016-01-20 08:38] nixel2007 commented on #34
Понятное дело :) Просто хочется выработать подход, который потом уже можно внедрять в любую библиотеку/скрипт

[2016-01-20 08:39] EvilBeaver commented on #34
Я не хочу инфраструктуру библиотек сильно зашивать в интерпретатор. Но определять зависимости можно. Как команда, скажем, `get-depends`, которая на выходе будет возвращать описание зависимостей запускаемого файла. А этот результат команды потом может обрабатывать **opm** и так или иначе устанавливать то, что нужно.

[2016-01-20 09:00] nixel2007 commented on #34
Не соглашусь.
В скрипте написано - `#Использовать asserts`
А в самой `asserts` либо:
- написано `#использовать logos`
- в package.def есть зависимость от `logos`

То есть... Пока мы через _opm_ не скачаем/установим библиотеку (причем нужной версии), мы все равно не сможем построить полное дерево зависимостей.

**UPD**: Не соглашусь именно в плане того, что определение зависимостей надо вложить в и

[2016-01-20 09:29] EvilBeaver commented on #34
@nixel2007 Интерпретатор в любом случае строит дерево зависимостей. Вернее, не дерево, а список каталогов библиотек. По имени или нет - не важно, он все равно все сводит к путям.

на выходе может получиться таблица вида:

| Имя | Разрешается в |
| --- | --- |
| logos | C:\lib\logos |
| somelib | C:\customlib\somelib |
| "local" | C:\script-dir\local |

Если какая-то либа вообще не разрешилась ни в

[2016-01-20 09:38] nixel2007 commented on #34
@EvilBeaver и тут я понял, что ты имел ввиду, и что теперь я противоречу сам себе :)

Попробую еще раз сформулировать мысль без конфликтов:

[code]

То, что ты не хочешь зашивать в интерпретатор инфраструктуру библиотек, я понимаю и согласен, что это потенциальная проблема.
Но при этом "как неопытный пользователь oscript" (да и как просто пользователь обновившегося скрипта с обновившимися зависимо

[2016-01-20 09:42] EvilBeaver commented on #34
Открою секрет - как правило, так и будет происходить в 99.999% случаев :smile:

Если после обновления вдруг неожиданно выяснилось наличие breaking changes, то только тогда мы и дергаем opm. В большинстве случаев обновления все же безопасны.

[2016-01-20 12:14] nixel2007 commented on #34
может мы видим разные сценарии использования. мне на данный момент больше импонирует вариант, который используется в node.js (да-да, опять я про него).
0) ты _можешь_ установить любые пакеты (но только одной версии) в глобальный каталог библиотек
1) в каталоге проекта у тебя есть файл, в котором указаны зависимости (package.json)
2) когда ты делаешь `npm install` он их складывает в локальный катал

[2016-01-20 12:42] EvilBeaver commented on #34
Сценарий нормальный. Более того, он даже сейчас будет работать, вмешательство в интерпретатор не требуется. opm может прописать рядом со скриптом файл конфига, нацелить его на папку modules и готово.

Я только один момент не понял: если npm складывает все зависимости в локальный каталог, то в глобальный он уже не полезет. Ведь все зависимости уже сидят локально, нет?

[2016-01-20 12:49] nixel2007 commented on #34
Если мне память не изменяет, то ты можешь все зависимости тоже глобально установить.
Или вообще руками часть глобально (`npm install -g package_name1`), часть локально (`npm instal package_name2`).

Согласен. Но "красивых исключений" на уровне интерпретатора opm не сможет предоставить :)
Не, если такой функционал только у меня в голове как фича, и нужен только мне, то ради бога.
Просто пытаюсь себ

[2016-01-20 12:52] EvilBeaver commented on #34
@nixel2007 функционал нужен. А что ты понимаешь под "красивыми исключениями"? Текущее "библиотека не найдена libname" в какую сторону можно украсить?

[2016-01-20 12:52] nixel2007 commented on #34
@EvilBeaver не только, что библиотека не найдена, но и что версия не та.

[2016-01-20 12:59] nixel2007 commented on #34
Ну и как пожелание по указанию зависимостей версий - поддерживать хоть сколько-нибудь нечеткий синтаксис:
https://github.com/npm/node-semver#versions

Хотя бы на уровне `>=1.2.3`

[2016-01-20 13:03] EvilBeaver commented on #34
Вот я все это хочу оставить на уровне скриптов и opm. Например, потому, что это будет проще доработать тем, кто не знает C#. Сейчас нечеткий синтаксис в opm как бы есть, но в зачаточном виде и, можно сказать, что его совсем нет.

[2016-01-20 13:07] nixel2007 commented on #34
@EvilBeaver как бы поиграться с `opm` в плане разработки на локальной машине? чтобы позапрашивать (с хаба? с локального каталога?) разные версии хотя бы двух пакетов?

[2016-01-20 13:17] artbear commented on #34
Среди нас есть такой человек @kuntashov
@EvilBeaver пообщайся с Сашей, он в бэкэндах и фронтэндах веб-строительства ИМХО больше нас всех понимает.

[2016-01-20 13:23] EvilBeaver commented on #34
@nixel2007 взять opm, впилить туда функционал "альтернативного локального хаба", потом играться.

@artbear Саша занятой и дергать его неудобно.

[2016-01-20 13:24] kuntashov commented on #34
Спасибо за рекомендацию :)
Надо хотя бы общие требования к функционалу/сценарии сформулировать.
Я по факту являюсь пользователем всяких пакетных менеджеров (того же npm или phpшного composer), но честно говоря о всей внутренней механике не приходилось задумываться (как устроено). Но не против поразбираться на досуге.

[2016-01-20 13:25] artbear commented on #34
Ну он же за мир во всем мире :) поэтому подходит под твою выборку :)

[2016-01-20 13:27] EvilBeaver commented on #34
@kuntashov нужен именно человек, который сайт хаба пакетов сделает. Хранение, авторизация, добавление репо, где разрабатывается пакет, добавление самого пакета. Ну и плюшки всякие в виде красивой странички с описаниями пакетов

[2016-01-20 13:28] kuntashov commented on #34
Ты меня списал со счетов из-за того, что я с HTTP не успел помочь? :)
Я действительно торможу сейчас по отношению к side-проектам, но вроде в мире open source к этому терпимо относятся, пусть потихоньку, но главное, чтобы контрибутилось :)

Если у тебя конечно же какие-то жесткие планы с конкретными сроками, то да, я не лучший кандидат, но такая ситуация плохо вяжется с

:)

[2016-01-20 13:30] nixel2007 commented on #34
и API, чтобы его забрать :D а то все остальное будет уже не так важно))

[2016-01-20 13:31] kuntashov commented on #34
@nixel2007 а расскажи кратко, как на packagecontrol.io это организовано с точки зрения пользователя.
Ты пакет туда заливаешь как архив или просто ссылку на гитхаб даешь, а он сам все собирает?

[2016-01-20 13:32] EvilBeaver commented on #34
@kuntashov я не списал, наоборот, понимаю, как сложно выкроить время на опен-сорс. Никаких "списываний со счетов" с моей стороны, ты это брось :smile:

[2016-01-20 13:34] kuntashov commented on #34
@EvilBeaver я шучу ) твое внимание и понимание того, что я занят (как в общем-то, и все участники), ценю, спасибо )

[2016-01-20 13:37] nixel2007 commented on #34
@kuntashov packagecontrol.io вообще немного странный.
Надо добавить в специальный json в репо самого packagecontrol описание ссылку на твой пакет и способ версионирования (по факту сейчас не-deprecated метод только один - git tag master-ветки) и сделать PR в его репо.

После принятия PR тебе остается сделать git tag по правилам semver и запушить на свой гитхаб. packagecontrol раз в N минут (на вск

[2016-01-20 13:38] nixel2007 commented on #34
@kuntashov мне больше apm в этом плане нравится. ему не требуется никаких указаний в json где-то слева.
ты просто делаешь apm publish version (оно так же работает на основе тэгов гита), он отправляет данные на сам apm-сайт и сразу все работает.

[2016-01-20 13:42] kuntashov commented on #34
@nixel2007 спасибо, очень гиковский интерфейс :)
Про git tag я как раз и думал как про основной способ идентификации версий пакетов, зарегистрированных на hub.oscript.io репозиториев скриптов-"библиотек".

[2016-01-20 13:45] nixel2007 commented on #34
@kuntashov в пакетном менеджере VS Code тоже используется git tag, если я правильно понимаю его работу.
Так что можно считать это стандартом (по крайней мере для редакторов) :)

[2016-01-21 17:42] artbear opened #60 "v8runner: Перед выполнением команд 1С нужно проверять существование файла платформы 1С"
Перед выполнением команд 1С нужно проверять существование файла платформы 1С

Сейчас при указании неверного пути к платформе выдается малопонятное сообщение

[code]

[2016-01-21 17:46] artbear commented on #56
Согласен с @EvilBeaver, что метка используется намного реже.
Мы ее юзаем именно как tag

@theshadowco Согласен с нами?
Если да, закроем issue ?
Если нет, пиши, обсудим дальше.

[2016-01-21 17:47] artbear commented on #55
@JohnyDeath что скажешь по ошибке? это проблема конкретной конфигурации?

[2016-01-21 17:50] #45 closed, assigned to nobody

[2016-01-21 18:19] theshadowco commented on #55
@artbear Повторяется на любой конфе

[2016-01-21 18:20] theshadowco commented on #55
@artbear Сценарий
- Создать базу с пустой конфигурацией
- Добавить общий макет
- Вставить в общий макет сводную таблицу
- Сохранить изменения
- Запустить выгрузку в исходные файлы
- Получить ошибку

[2016-01-21 18:24] theshadowco commented on #56
Отчасти согласен.
У меня просто несколько хранилищ, в которых в метку писался каммент к задаче. Как тэг тож использовать не получится, ибо есть примеры. когда метка содежит по сути несколько тэгов.

[2016-01-21 18:25] theshadowco commented on #56
Давайте закроем задачу, спасибо за ответы

[2016-01-21 18:25] nixel2007 commented on #55
/offtopic
даже не замечал до этого, что в общие макеты можно вставлять сводные таблицы... как-то никогда не требовалось :)

[2016-01-21 18:28] theshadowco commented on #55
@nixel2007 Это для сценария я указал общий макет, в моем грустном случае это был отчет.

[2016-01-21 19:07] EvilBeaver commented on #60
И пусть выдается. Не фиг указывать пути напрямую. Надо юзать метод "использоватьВерсиюПлатформы"

-----Исходное сообщение-----
От: "Artur Ayukhanov" notifications@github.com
Отправлено: ‎21.‎01.‎2016 20:42
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Тема: [oscript-library] Перед выполнением команд 1С нужно проверять существование файла платформы 1С (#60)

Перед выполнение

[2016-01-21 19:23] JohnyDeath commented on #55
В 1с писал. Последний ответ от них был 18 января следующего содержания

[code]

Сейчас вот решил проверить в зарегистрированных. Таки есть: https://bugboard.v8.1c.ru/error/000012486.html
Приняли к исправлению.

Как говориться: "Подписывайтесь, ставьте лайки" (на ошибку в 1С можно подписаться)

[2016-01-21 19:40] artbear commented on #60
Не соглашусь. Уже есть куча скриптов, в которых явно передается путь к
платформе. Например, для ci таких полно. Апи раннера позволяет юзать такой
режим

чт, 21 Янв 2016, 22:07, Andrei Ovsiankin notifications@github.com:

[2016-01-22 04:51] EvilBeaver commented on #60
Все равно. Это deprecated метод и не надо поощрять его использование

[2016-01-22 06:27] nixel2007 commented on #60
Может добавить deprecated сообщение, как ты это сделал для exception?

[2016-01-22 07:01] EvilBeaver commented on #60
Наверное, можно сделать проверку в момент установки пути к платформе. Но не перед выполнением каждой команды. @artbear что скажешь?

[2016-01-22 07:55] #56 closed, assigned to nobody

[2016-01-22 07:56] EvilBeaver commented on #55
Не вижу смысла исправлять средствами gitsync, тем более, "вырезанием" проблемного фрагмента.

[2016-01-22 07:56] #55 closed, assigned to nobody

[2016-01-22 08:41] artbear commented on #60
Я бы проверял именно перед выполнением каждой команды.
ИМХО это наиболее правильно.
Тем более, что там уже есть проверка на заполненность пути к платформе, и нужно будет только добавить проверку на существование файла

[2016-01-22 08:43] artbear commented on #60
@nixel2007

Пропустил, подскажите, что за сообщение

[2016-01-22 08:44] nixel2007 commented on #60
@artbear https://bitbucket.org/EvilBeaver/1script/commits/6ab98ec970a40f6b383de214923f5e0ca9c8814f

[2016-01-22 08:47] artbear commented on #60
Меня интересует именно исключение с внятным текстом, а не простое сообщение.

[2016-01-22 08:48] EvilBeaver commented on #60
@artbear скажи, зачем оно тебя интересует именно в момент выполнения? Ты установил версию платформы, установил криво. Зачем тебе получать сообщение в момент команды? Логично, если ты получишь его в момент установки кривого значения.

[2016-01-22 08:52] artbear commented on #60
@EvilBeaver Лады, я посмотрел код, уговорили.
Нужно добавить проверку на существование файла в 2 метода `ПутьКПлатформе1С` и `ПутьКТонкомуКлиенту1С`

[2016-01-25 20:18] g-ones opened #62 "Contribution guideline"
собственно нужно как-то определиться с положением о контрибьюции

что имеется ввиду:
- я хочу добаработать скрипт v8runner - у меня есть 2 команды и тесты на них которые я сделал для себя
- дорабатывал я естественно напрямую в **oscript_install_path**\lib

теперь придется копировать свои доработки в отдельный git клон данного репозитория и делать пул-реквест.

я то разобрался (правда потратил 3 ча

[2016-01-27 07:17] EvilBeaver commented on #62
Файл с инструкцией добавлен.

[2016-01-27 07:17] #62 closed, assigned to nobody

[2016-01-27 07:19] EvilBeaver commented on #12
@pumbaEO правильно я понимаю, что этот тикет можно закрыть?

[2016-01-27 07:20] EvilBeaver commented on #41
@artbear подниму вопрос

[2016-01-27 08:04] pumbaEO commented on #12
Да.

[2016-01-27 08:06] #12 closed, assigned to nobody

[2016-01-27 08:11] pumbaEO opened #64 "Добавить загрузку из исходников"
Добавить команду для загрузки данных из исходников в базу данных с возможностью сохранения результата в cf файл.
в v8runner возможно необходимо добавить загрузку из исходников с учетом возможности загрузки объектов частично, а gitsync подготовку папки для загрузки, с учетом обратной сборки из исходников "толстых форм" и последующем вызове загрузки данных в v8runner, а дальше выгрузка результата в

[2016-01-27 08:26] pumbaEO opened #65 "gitsync: При уровне логгирования debug не удалять временные файлы"
Часто при работе с gitsync приходится отлаживать код, при этом временные файлы удаляются. Хотелось бы при режиме отладки, что-бы временные файлы не удалялись. В теории такой режим нужен только для отладки, поэтому остаточные артефакты - это необходимый функционал для полноценной отладки. Сейчас вроде в режиме отладки выводиться команда которая должна выполниться, но выполнить мы ее не можем, т.к.

[2016-01-27 08:27] nixel2007 commented on #65
Поддерживаю. Желательно для всех библиотек, а не только для gitsync

[2016-01-27 08:31] EvilBeaver commented on #65
@nixel2007 насчет "для всех" вопрос спорный. Имхо, каждый пакет сам решит, как надо. А так, да, функционал полезный.

[2016-01-27 08:38] EvilBeaver opened #66 "fluent API для CMDLINE"
Оставляю, как напоминалку, задокументирую позже.
Суть: текущий API cmdline сложноват.
Предложение:

[code]

В командной строке:

[code]

В коде чтения параметров:

[code]

[2016-01-27 08:47] EvilBeaver commented on #66
P.S. возможно даже другим пакетом `cmdline-fluent`

[2016-01-27 09:09] artbear commented on #41
Я говорил именно о проблеме.

Мне для конвертации тестов xUnitFor1C из 3.Х в 4.Х нужно было создавать набор временных каталогов и файлов внутри них.
создать исходный временный каталог в системном временном каталоге я могу (через НовоеИмяФайла получаю полный путь)
далее **в этом новом временном каталоге** мне нужно сохранить файлы из макета, выдав файлу временное имя, и создать дополнительные доп.к

[2016-01-27 09:16] EvilBeaver commented on #41
я ничего не понял, но наверное, это нужный функционал. Только предлагаю такой метод назвать "СлучайноеИмяФайла"

[2016-01-27 09:32] artbear commented on #41
Да, `СлучайноеИмяФайла` нормально

[2016-01-27 09:32] artbear commented on #41
Сделаю?

[2016-01-27 09:39] EvilBeaver commented on #41
@artbear сделай

[2016-01-27 09:51] artbear commented on #66
Ага, хорошая тема.
Поддерживаю идею другого пакета.

[2016-01-27 09:54] artbear commented on #64
Вот это непонятно. Расшифруешь?
что за исходники "толстых форм" ?
Зачем отдельно выгрузка в cf ? эта фича вроде реализована уже

[2016-01-27 10:40] demidych commented on #41
А зачем конкретизировать что это случайное имя именно файла? Ведь через это имя можно и каталоги создавать и файлы, а по имени метода как будто ограничение накладывается , что можно создавать только файлы.
Мне кажется правильнее "СлучайноеИмя". И если гарантируется его уникальность, то может тогда даже лучше "УникальноеИмя".

[2016-01-27 10:58] artbear commented on #41
Ага, вариант `УникальноеИмя` мне больше нравится.
Для схожести с текущим АПИ `НовоеИмяФайла` предлагаю юзать вариант `УникальноеИмяФайла`

[2016-01-27 10:59] artbear commented on #41
@EvilBeaver Или все-таки `УникальноеИмя` ?

[2016-01-27 11:03] artbear commented on #65
ИМХО для этой фичи должен быть отдельный ключ.
Зачем смешивать разные режимы работы - логирование и временные файлы ?

Например, у меня гитсинк всегда работает в режиме отладки, на CI очень удобно отслеживать полные логи. А вот оставлять временные файлы мне совсем не хочется.

[2016-01-27 11:12] EvilBeaver commented on #65
@artbear +1

[2016-01-27 11:13] EvilBeaver commented on #41
Уникальность там не обеспечивается, ибо уникальность можно сделать, только если "застолбить" имя созданием файла с таким именем. Поэтому, в C# метод называется GetRandomFileName. Оно случайное и почти уникальное, но тем не менее, не гарантирует.

[2016-01-27 11:36] awa15 commented on #41
Имхо, лучше сделать отдельно методы `УникальноеИмяФайла(Каталог, Расширение = "")` и `СлучайноеИмя()`.

[2016-01-27 11:49] demidych commented on #41
Еще по поводу имен.
Когда есть класс ВременныйФайлы, то в именах его методов лучше не использовать "Файл", "Файлы" и т.д., т.к. получается только дублирование и лишняя писанина.
Например были методы: СоздатьНовоеВременноеИмяФайла(), СоздатьВременныйФайл(), СоздатьВременныйКаталог(). Выделили их в класс ВременныеФайлы() и получили: СоздатьНовоеИмя(), Создать(), СоздатьКаталог().

И еще по поводу би

[2016-01-27 12:36] artbear opened #67 "gitsync: Частичная выгрузка только измененных модулей/объектов"
Если в версии поменялся только модуль или толстая форма, только их выгружаем по правильному пути.
В случае изменения объектов или упр.форм выгружаем полностью всю конфигурацию.

[2016-01-27 13:45] pumbaEO commented on #64
те исходники, которые разбираются с помощью v8unpack -parse на модуль формы и описание, а потом их обратно надо собрать. При этом собрать файлы как описано в renames и только тогда уже запускать loadfromsource

[2016-01-27 14:16] artbear commented on #64
@pumbaEO А где есть код их обратной сборки по renames? в v8reader есть?

[2016-01-27 14:24] nixel2007 commented on #64
@artbear

если я правильно понимаю нить разговора, то это именно то, что делает precommit1c в режиме сборки.

[2016-01-27 14:31] artbear commented on #64
@nixel2007 @pumbaEO Тут вообще странно, разборка происходит в v8Reader, а сборка в питон-коде precommit1c

[2016-01-27 14:35] nixel2007 commented on #64
@artbear в oscript-коде precommit1c тоже есть сборка ;)
но логика получилась разнесена, да.

[2016-01-28 18:50] theshadowco commented on #65
@artbear +1

[2016-01-28 20:44] JohnyDeath commented on #65
Поддерживаю @artbear . У меня точно также работает. Приятно иной раз логи посмотреть (жалко, время туда не пишется)

[2016-01-28 21:22] g-ones commented on #65
@pumbaEO может сюда https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/gitsync.os#L53

добавить другой флаг

[code]

или как в Linux придумать режим --veryverbose

я к тому может это отдельный флаг ?

[2016-01-29 04:09] theshadowco commented on #65
@JohnyDeath Да, реально времени не хватает. Надо issue запостить
@g-ones поддерживаю с отдельным флагом

[2016-01-29 06:58] EvilBeaver commented on #65
Если не ошибаюсь, в gitsync уже есть флаг `-debug`
Кто сказал, что он должен регулировать только уровень лога? Он говорит, что включен "Отладочный режим". Который, как заметил @pumbaEO требует не удалять врем. файлы.

То есть, отдельный флаг не нужен. А вот тем, кому нравятся подробные логи нужно в logos реализовать функционал, которого там давно не хватает - конфигурационный файл в стиле log4j. П

[2016-01-29 07:00] EvilBeaver commented on #65
В качестве дополнения: можно завести в gitsync ключ --verbose, который тоже повысит "болтливость", то к отладке отношения иметь не будет и врем. файлы будут удаляться. Так тоже стандартно и общепринято.

Насчет ключа "--do-not-delete-tempfile" против категорически. Это раскрытие реализации и нарушение принципа инкапсуляции.

[2016-01-29 07:06] artbear commented on #65
ИМХО изменение поведения ключа -debug и добавление нового ключа -verbose нужно делать одновременно.
Меня лично не особо порадует то, что временные файлы будут оставаться всегда.

[2016-01-29 07:09] pumbaEO commented on #65
Имхо путаемся в уровнях логгирования, trace, debug, notice, info, warning, error, alert  и текущий режим debug используется как notice, поэтому и возникают споры.

[2016-01-29 08:19] EvilBeaver commented on #65
@artbear мы с тобой что-то продолбали такое разнообразие уровней, когда logos писали :)

[2016-01-29 08:35] artbear commented on #65
@EvilBeaver ты подзабыл: мы не продолбали, мы приняли взвешенное решение :)
- для кода скриптов onescript пока не нужно столь большое разнообразие уровней.
- Если возникнет необходимость, доделаем, АПИ позволяет.

[2016-01-29 09:04] EvilBeaver commented on #65
@artbear - хитрый представитель собственной национальности? Как дипломатично все подвел!

[2016-01-29 10:11] artbear commented on #65
@EvilBeaver и национальность есть, и на самом деле так все и было при нашем парном программировании :)

[2016-01-31 19:10] EvilBeaver commented on #18
@artbear а ты, случайно, не в режиме all запускаешь по xml-конфигу?

[2016-01-31 19:50] artbear commented on #18
Конечно, в нем

вс, 31 янв. 2016 г. в 22:10, Andrei Ovsiankin notifications@github.com:

[2016-01-31 20:22] EvilBeaver commented on #18
Тогда это фича :smile: Она, конечно, плохая, но какая уж есть. Этот режим вообще требует доработки, ибо по факту - это порт наших шагов с билд-сервера. Вне билд-сервера этот режим вообще спорный.

[2016-01-31 20:27] artbear commented on #18
Я проглядывал по диагонали, конечно, но код подмены кода возврата не увидел
:)

вс, 31 янв. 2016 г. в 23:23, Andrei Ovsiankin notifications@github.com:

[2016-02-01 15:50] artbear commented on #41
Я согласен с @demidych, что от тавтологии нужно избавляться.
Предлагаю
1. Добавить публичные методы-дубли
- Например, для `НовоеИмяФайла` создаем `НовоеИмя`
- В начале кода `НовоеИмяФайла` пишем `Сообщить("Устаревший метод НовоеИмяФайла, будет отключен в следующем релизе. Используйте НовоеИмя");`
1. Создать новый метод `СлучайноеИмя`

@EvilBeaver Что скажешь? могу сегодня/завтра сделать

[2016-02-01 15:53] artbear opened #70 "v8runner: Убрать ключ по умолчанию MIGRATE в методе ЗапуститьВРежимеПредприятия"
Убрать ключ по умолчанию `MIGRATE` в методе `ЗапуститьВРежимеПредприятия`

[code]

[2016-02-01 15:55] artbear opened #71 "v8runner: Возможность указания произвольного имени файла вывода логов от 1С:Предприятие"
Возможность указания произвольного имени файла вывода логов от `1С:Предприятие/Конфигуратор`

Например, когда идет несколько запусков Конфигуратора и Предприятия подряд, происходит неприятное:
- логи от всех 1С пишутся в один и тот же log.txt
- В итоге последний запуск в режиме Конфигуратора/Предприятия затирает все логи и файл лога всегда пуст

[2016-02-01 15:55] nixel2007 commented on #41
@artbear а вопрос с терминологией отложили? Что "НовоеИмяФайла" возвращает полное имя, а не само имя файла?

[2016-02-01 15:58] artbear commented on #41
@nixel2007 Спасибо за напоминание, подзабыл :)

Напоминаю :

Сейчас у нас используется метод `НовоеИмяФайла`
ИМХО имя этого метода не отвечает своему функционалу, т.к. возвращает не имя файла, а полный путь.
Возникает путаница с терминологией: у нас есть путь, полное имя, имя файла и есть метод, который должен возвращать имя, а возвращать полный путь/полное имя.

Предлагаю разделить функционал это

[2016-02-01 16:14] EvilBeaver commented on #41
1С - ПолучитьИмяВременногоФайла() возвращает ПолноеИмя. И никого не смущает. Ибо имя файла оно по-разному трактуется, в зависимости от контекста.

НовоеПолноеИмя - это хрень. Я вместо него предложил "Случайное" - без каталога. Ведь зачем вообще нужны все эти методы - быстро получить возможность записать какой-то файл, чтобы он не затер никакие существующие файлы, верно?

Обычно такие файлы являютс

[2016-02-01 16:16] EvilBeaver commented on #41
А еще идея посетила вот какая - Свойство "БазовыйКаталог" в классе МенеджерВременныхФайлов. Установил себе псевдо-temp папку и юзай библиотеку дальше, безо всяких "СлучайныхИмен".

[2016-02-01 16:49] artbear commented on #41
По шагам:

Тогда в каждом подобном клиентском скрипте придется помимо `Новый Файл(ВременныеФайлы.НовоеИмяФайла()).Имя` еще добавлять удаление полученного временного файла как `ВременныеФайлы.Добавить(ПолноеИмяВременногоФайла)` для его автоудаления.

Интересно, мне и этот вариант нравится :)
Под мой сценарий он подходит.

Единственно, что становится не так удобно, когда есть некая иерархия подобных

[2016-02-01 17:21] awa15 commented on #41
Тогда уж, имхо, проще добавить второй параметр в `НовоеИмяФайла`

[code]

Если второй параметр не указан, то поведение остается прежним, иначе временное имя файла создается в указанном каталоге, все остальное поведение остается прежним, т.е. этот файл также регистрируется в `мВременныеФайлы` для последующего удаления.

[2016-02-01 17:53] artbear commented on #41
@awa15 Да, похоже, что это лучший вариант, раз уж @EvilBeaver считает, что название соответствует назначению.

@EvilBeaver принимаем в итоге?

[2016-02-01 18:06] JohnyDeath commented on #70
А как ты его убрать хочешь? Процедура-то экспортная.

[2016-02-01 18:07] JohnyDeath commented on #71
Поддерживаю. Полезная штука.

[2016-02-01 18:09] artbear commented on #70
Нужно просто убрать ключ Migrate
т.е. должно остаться

[code]

[2016-02-01 18:15] JohnyDeath commented on #70
Ааа, фух. Я уж испугался, что ты хочешь оставить только два параметра.

[2016-02-02 04:05] EvilBeaver commented on #41
Нет, не принимаем. До компа доберусь, напишу. Вкратце - менеджеров временных файлов может быть много, просто один - глобальный. А так, это класс, его можно через Новый создавать. См. внутрь пакета

[2016-02-02 07:00] EvilBeaver commented on #41
Как мне все это видится: есть класс `МенеджерВременныхФайлов` Его назначение - управлять некоторым пулом временных файлов (и каталогов), которые потом можно автоматически удалить. Менеджер занимается отслеживанием создаваемых врем. файлов.

В моем миропонимании - временный файл это абстракция. Это файл "где-то", я не хочу знать где. Я хочу получить просто "файл" в собственное пользование и знать,

[2016-02-02 07:31] awa15 commented on #41
@EvilBeaver , все рассуждения о том, нужно или не нужно задумываться о каталоге временного файла можно точно так же распространить на рассуждения о расширении временного файла. Однако в методе `ВременныеФайлы.НовоеИмяФайла` есть параметр `Расширение` (которое имеет значение по умолчанию для тех, кто не хочет задумываться о расширении). Дополнительный параметр `Каталог` точно так же имеет значение

[2016-02-02 07:35] artbear commented on #41
+1

Ага, мне казалось, что мы для достижения этой цели и сделали данную библиотеку.

[2016-02-02 08:10] EvilBeaver commented on #41
@awa15 ну вот тебе как часто нужно создавать временные файлы (с рандомными именами), но не во временном каталоге? И для каких задач?

ну и "взять контроль в свои руки" он для чего? Каков сценарий применения?

[2016-02-02 08:28] awa15 commented on #41
Вот у вас тут есть универсальная отмазка на все случаи жизни "каков сценарий?". А какой сценарий, что возникнут какие-то проблемы, если будет доп. параметр "Каталог" со значением по умолчанию?
Не из onescript: любой разбор файлов cf, 1cd, dt и т.д. влечет за собой массовые промежуточные операции inflate во временные файлы. Так как файлов бывает очень много, стандартный временный каталог, в котором

[2016-02-02 08:41] artbear commented on #41
@awa15 ага, фактически это описанный мной сценарий.
который совсем не редкость для скриптов!

[2016-02-02 08:41] EvilBeaver commented on #41
@awa15 про сценарии спрашивается не просто же так. Они основа любого проектирования. Чтобы что-то делать, надо понимать _зачем_ и _для кого_. Возьмем, опять же, то, что ты описал - свой каталог и в него помещение файлов. Это прекрасно ложится в схему с "БазовымКаталогом". А если это будет параметр, то этот параметр тебе нужно вставлять в каждый вызов, хотя, значение будет всегда одно и то же. То е

[2016-02-02 08:45] artbear commented on #41
На самом деле в моей задаче у меня была некоторая вложенность файлов/каталогов, поэтому в случае с БазовымКаталогом пришлось бы либо постоянно переключать его, что не красиво, либо создать специальный новый экземпляр Новый ВременныйФайлы и указывать базовый каталог, что красивее.

А в случае с `НовоеИмяФайла(Знач Расширение = "tmp", Знач Каталог = "")` переключение делать бы не пришлось :)

[2016-02-02 08:55] awa15 commented on #41
@EvilBeaver , я понимаю, что сценарии нужны. Но предусмотреть сразу все на свете все равно невозможно. А что плохого в чуть большей универсальности, которая не стоит почти ничего? Кто мешает добавить и `БазовыйКаталог` в класс, и доп. параметр `Каталог` в `НовоеИмяФайла`?
Чем же все-таки `Расширение` отличается от `Каталог`?

[2016-02-02 10:00] EvilBeaver commented on #41
@awa15 ну отличается тем, что пользователь часто хочет создать файл "некоторого типа". В принципе, это не сильно нужно, но я могу себе представить сценарии, когда оно надо. Каталог - тоже похоже, но все-таки про другое.

[code]

[2016-02-16 05:51] GaLich83 opened #72 "Скрипт, подобный gitsync для работы с mercurial"
Понравилась работа скрипта, но в компании корпоративным стандартом для веберов является Mercurial, соответственно, идет давление на использование именно этой системы контроля версий и для 1С.
Насколько большой проблемой является переделать данный скрипт на работу с Mercurial?

[2016-02-16 06:31] artbear commented on #72
ИМХО переделать несложно.
четыре ключевые команды - коммит, пулл, пуш и клон

[2016-02-16 06:39] EvilBeaver commented on #72
Насколько я знаю, эти системы очень похожи. Я никогда не работал с mercurial, но думаю, что переделать будет не сложно. Дерзайте, выделяйте отдельный класс SCM под каждую из систем и присылайте пулреквест. 😊

-----Исходное сообщение-----
От: "GaLich83" notifications@github.com
Отправлено: ‎16.‎02.‎2016 8:51
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Тема: [oscript-librar

[2016-02-29 15:24] EvilBeaver opened #73 "Не выполнять взаимодействие с удаленным узлом GIT"
По мотивам обсуждения в https://github.com/EvilBeaver/oscript-library/pull/69

Нужна отдельная команда export, которая только выполняет выгрузку но не делает pull/push

[2016-02-29 16:56] #73 closed, assigned to nobody

[2016-03-02 09:32] EvilBeaver opened #74 "opm не скачивает обновления на win 10"
c:\Program Files (x86)\OneScript\lib\opm>opm update cmdline
ИНФОРМАЦИЯ - Скачиваю файл: cmdline.ospx
Внешнее исключение: Знак "=", шестнадцатеричное значение 0x3D, не может стоять в начале имени., строка 2, позиция 21.

[2016-03-03 17:22] EvilBeaver commented on #74
Зарегистрировал проблему https://bitbucket.org/EvilBeaver/1script/issues/240/xml-mono-windows
Пересобрал пакеты хаба под виндой и опубликовал.

[2016-03-03 17:22] #74 closed, assigned to nobody

[2016-03-03 17:23] EvilBeaver opened #75 "opm обновляет пакет, но не обновляет манифест."
После обновления пакета через opm, манифест пакета остается старым. Кажется, что обновление не выполнилось.

[2016-03-11 10:05] EvilBeaver commented on #65
Резюмирую: ключ debug должен включать режим, когда временные файлы не удаляются. Отладочные логи делаем через расширение logos.

[2016-03-11 10:07] EvilBeaver commented on #64
@pumbaEO задача все еще актуальна? Я не улавливаю пока критерии завершения задачи. Что нужно сделать и при чем здесь precommit?

[2016-03-11 10:08] #35 closed, assigned to nobody

[2016-03-11 10:17] artbear commented on #65
@EvilBeaver не согласен.
В ветке мнения разделились.
Насколько я увидел, 2 голоса за совмещение дебаг-режима логирования и удаления временных файлов, а целых 3 голоса за отдельные флаги логов и временных файлов!

[2016-03-11 10:17] artbear commented on #65
Или я тебя не понял.

[2016-03-11 10:18] nixel2007 commented on #65
Перечитав ветку:
1) За добавление ключа debug
2) Не вижу причин, почему не переводить логи в режим Отладка при включенном дебаг режиме

[2016-03-11 10:19] #21 closed, assigned to nobody

[2016-03-11 10:19] EvilBeaver commented on #21
Выполнено

[2016-03-11 11:56] #71 closed, assigned to nobody

[2016-03-11 11:58] EvilBeaver commented on #65
@nixel2007 по п.2 разумеется логи будут переводиться в debug. Но вот сейчас @artbear использует отладочный режим чисто для более подробных логов. Ему не захочется, чтобы у него временные файлы при этом накапливались. Вот для такого сценария нужна возможность настройки логов, не затрагивающая другие алгоритмы приложения.

[2016-03-11 12:09] nixel2007 commented on #65
@EvilBeaver @artbear есть еще такой ключ как --verbose (многоразовый), который повышает уровень выводимых сообщений.

Можно добавить два ключа. debug будет помогать отлаживать (файлы, логи, все подряд), а --verbose только повышать уровень лога.

[2016-03-11 12:10] EvilBeaver commented on #65
verbose там тоже в переписке выше мелькал )

[2016-03-11 12:10] nixel2007 commented on #71
Удобненько!

[2016-03-11 12:11] nixel2007 commented on #65
точно, пропустил :)

мне кажется, это оптимальный вариант (с двумя ключами)

[2016-03-11 13:03] artbear commented on #65
Да, я также за вариант с 2мя ключами.
Возможно, @EvilBeaver предлагает также это решение, но я лично твое "резюмирую" не понял.

[2016-03-11 14:21] EvilBeaver commented on #65
Ок, два ключа, но в logos функционал внешнего управления тоже нужен.

[2016-03-11 14:39] artbear commented on #65
Расшифруй

[2016-03-13 15:16] EvilBeaver commented on #65
@artbear в JAVA у тебя нет доступа к исходникам, чтобы в коде прописать

[code]

Поэтому рядом с приложением лежит файл конфига log4j, где ты можешь регулировать логи без перекомпиляции.

[2016-03-14 07:20] nixel2007 commented on #65
да, это было полезно.

[2016-03-14 15:10] EvilBeaver commented on #65
@nixel2007 там же регулируется куда писать логи - консоль, файл, субд и прочее и прочее

[2016-03-18 18:52] artbear commented on #65
Функционал с файлом настройки мы сознательно отложили на будущее согласно принципу MVP

[2016-03-21 18:37] EvilBeaver opened #76 "gitsync: Читать параметры окружения из файла"
Многие утилиты позволяют передать параметры не напрямую в ком. строке, а в некотором файле. Обычно, такие параметры начинаются с "собаки".

В gitsync довольно много параметров и бывают случаи, когда удобно их прописать в файле.

[2016-03-21 18:49] artbear commented on #76
Формат JSON ? код чтения параметров уместится в одну строку :)

[2016-03-21 18:52] EvilBeaver commented on #76
Здесь гораздо важнее не простота чтения, а простота создания файла. И тут key=value, имхо, вне конкуренции

[2016-03-24 10:47] artbear opened #77 "logos: Немедленный вывод строки в файл лога без использования промежуточного буфера"
Часто бывает ситуация, когда скрипт зависает на середине выполнения.
Текущего механизма вывода в консоль и в отдельный лог-файл недостаточно.
- Скрипт может быть запущен из другого скрипта, не из консоли, и у нас нет доступа к сообщениям скрипта
- Вывод в отдельный лог-файл сейчас реализован с использованием промежуточного буфера. В случае зависания скрипта вывод в лог-файл не происходит.

Предлаг

[2016-03-24 11:22] nixel2007 commented on #77
Я думал, что аппендер на каждый вызов Информация() сразу дописывает в файл.
Иначе это не аппендер какой-то...

[2016-03-24 12:50] artbear commented on #77
Вот и мне не нравится :)

https://github.com/EvilBeaver/oscript-library/blob/develop/src/logos/src/file-appender.os

[code]

[2016-03-24 12:52] artbear commented on #77
Я для своих проектов изменял этот класс на немедленную запись и закрытие файла

[2016-03-24 15:01] EvilBeaver commented on #77
В oscript специально для этого вводилось выключение буферизации. Т.е. сейчас (на стабильной версии 12) вывод должен быть немедленным сразу после ЗаписьТекста.Записать()

Какая версия односкрипта?

https://bitbucket.org/EvilBeaver/1script/commits/bcaa0251345a0636aa2ce200ac6a67603b07ff9c

[2016-03-24 20:35] artbear commented on #77
Насколько я помню, в коде юзается ЗаписатьСтроку, а не Записать.
@EvilBeaver ты про какой вариант говоришь?

Конечно, я юзал на новой версии.
А тесты на новое поведение ЗаписьТекста есть?

чт, 24 Мар 2016, 18:01 Andrei Ovsiankin notifications@github.com:

[2016-03-24 21:29] EvilBeaver commented on #77
Давай лучше ты дашь мне воспроизведение. Я проверял автоflush буфера, он работает. По крайней мере на простейших примерах. Как воспроизвести ошибку?

[2016-03-25 08:29] artbear commented on #77
Сценарий - Создать ЗаписьТекста(ПутьФайла), Сделать только ЗаписатьСтроку, без использования Закрыть, далее открыть файл и проверить наличие добавленной строки.

[2016-03-27 18:53] EvilBeaver commented on #77
@artbear хз, У Меня Все Работает (тм)
Я понимаю, конечно, всю нелепость этой фразы ) Но как мне воспроизвести?

[2016-03-28 08:12] artbear commented on #77
Я проверял на 11 версии или ранее.
Проверю на 12, отпишусь.

[2016-03-29 06:55] dmpas opened #78 ""ЛокальныйКаталогГит" или "Адрес удаленного репозитория GIT.""
Эта строчка сделала мой день :smile:
https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/gitsync.os#L64

[2016-03-29 07:43] EvilBeaver commented on #78
Это ж вроде я исправил, не?

[2016-03-29 07:51] dmpas commented on #78
@EvilBeaver видимо, в тысяче мест исправил, а тут пропустил :smile:

[2016-03-29 07:59] EvilBeaver commented on #78
Спасибо за задачку. Без формального закрепления это часто вылетает из поля зрения!

[2016-03-30 06:54] dmpas opened #79 "gitsync: при иерархической выгрузке не распаковывает толстые формы"
Добавить, чтобы распаковка срабатывала не только на `*.form`, но и на `Form.bin`

[2016-03-30 11:33] artbear commented on #79
Что за файл form.bin?
Не помню файлы такого вида

ср, 30 Мар 2016, 9:54 Sergey Batanov notifications@github.com:

[2016-03-30 12:12] dmpas commented on #79
@artbear Обычная форма при иерархической выгрузке выгружается в файл `Form.bin`. Например,
`Documents/Документ1/Forms/ФормаДокумента/Ext/Form.bin`.

[2016-04-04 14:13] L0z4 opened #80 "gitsync: в Windows не верно формируется строка команды git"
при работе в windows падает выполнение команд git (pull / push, думаю, и другие аналогично)

[как пример](https://github.com/EvilBeaver/oscript-library/blob/3484bbc354336a3a883ab00de616f401e092a547/src/gitsync/src/core/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D1%8B/%D0%9C%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%D0%A1%D0%B8%D0%BD%D1%85%D1%80%D0%BE%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8.os#L495)

явно не

[2016-04-04 15:04] EvilBeaver commented on #80
@L0z4 правильно ли я понял, что речь идет о необходимости обрамления этих путей кавычками?

[2016-04-04 15:08] L0z4 commented on #80
@EvilBeaver да. расставляем заплатки в виде
`+ """" + ПрефиксПути + РабочийКаталог() + """" +`

[2016-04-05 07:27] EvilBeaver commented on #80
Исправлено. Спасибо @Gisborn!

[2016-04-05 07:27] #80 closed, assigned to nobody

[2016-04-05 07:31] #78 closed, assigned to nobody

[2016-04-07 09:06] EvilBeaver commented on #77
@artbear есть новости по этой задаче? Как исследования?

[2016-04-07 09:22] EvilBeaver opened #82 "Неудобный кейс начального старта в gitsync. Сложно начать"
[code]

Часть этого функционала не реализована или работает неочевидно. Нужно прогнать данный сценарий и свериться с ожидаемыми результатами.

Help Wanted!

[2016-04-07 09:36] dmpas commented on #82
неистово плюсую :+1:

[2016-04-07 18:52] artbear commented on #77
Руки не дошли, возможно,на выходных смогу посмотреть

чт, 7 Апр 2016, 12:06 Andrei Ovsiankin notifications@github.com:

[2016-04-09 11:55] ghost opened #83 "Версия платформы которой выгружался CF файл"
Сейчас - при выгрузке имеем служебные файлы
- renames
- AUTHORS
- VERSION

при сборке конфигурации обратно, приходится только догадываться какой версией платформы это дело разбиралось.

Наткнулся на ситуацию случайно
- у меня была определена переменная PATH1C для экспериментов в 8.3.5
- когда начал сборку исходников разобранных 8.3.7 получил ошибку сборки с Configuration.xml

Я то знаю как я разби

[2016-04-09 12:43] nixel2007 commented on #83
Вроде в корневом файле configuration.xml есть версия формата выгрузки. Этого недостаточно?

[2016-04-09 14:34] ghost commented on #83
@nixel2007 хочется именно версию платформы - так как артефактов при сборке ОЧЕНЬ много.

P.S. Я каждый раз обнаруживаю странное на каждой типовой что-то новенькое находится и именно "билдо" зависимое, сборка 2008 ведет себя по другому нежели чем 1917.

например вчера выявил - опять перегенрацию идентификаторов для общих макетов, при использовании нескольких языков в платформе.

[2016-04-10 00:19] AlexandrSHad opened #84 "добавить поддержку параметров запуска /AddInList и /UseTemplate для режима CREATEINFOBASE в методе СоздатьФайловуюБазу() библиотеки v8runner"
/AddInList - позволяет задавать имя базы, под которым она будет добавлена в список баз пользователя.
 /UseTemplate - позволяет задавать шаблон, по которому будет создана новая информационная база.

Например так:

[code]

[2016-04-10 08:40] artbear commented on #77
@EvilBeaver Проверил поведение. Все верно, проблему считаю закрытой.
Залил тест "Проверка немедленной записи в файл без буферизации при использовании ЗаписьТекста.ЗаписатьСтроку" для репозитария 1script

[2016-04-10 08:40] #77 closed, assigned to artbear

[2016-04-10 08:43] #70 closed, assigned to artbear

[2016-04-10 08:46] artbear commented on #41
Продолжим? :)
Какие варианты остались?
Что выберем?

[2016-04-10 08:57] #84 closed, assigned to artbear

[2016-04-10 09:32] nixel2007 commented on #83
Можно тогда прямо в файл Version.

Отправлено с моего HTC

----- Ответное сообщение -----
От: "Alexey Lustin" notifications@github.com
Кому: "EvilBeaver/oscript-library" oscript-library@noreply.github.com
Копия: "Nikita Gryzlov" nixel2007@gmail.com
Тема: [EvilBeaver/oscript-library] Версия платформы которой выгружалсяCF файл (#83)
Дата: сб, апр. 9, 2016 17:34

@nixel2007 хочется именно версию плат

[2016-04-10 12:56] artbear commented on #65
Итак, у нас есть подходящий вариант.

Утрясем детали?
- эти 2 ключа взаимоисключащие, верно? или они могут использоваться одновременно?
- Если взаимоисключащие, то при включении ключа debug - файлы не удаляются, но нет подробных сообщений, верно? А при включении ключа verbose есть подробные сообщения, но файлы опять не удаляются или удаляются?

[2016-04-10 13:06] nixel2007 commented on #65
@artbear
1) могут использоваться одновременно.
2) мое предложение - debug _и_ оставляет файлы _и_ повышает уровень до Отладка.
-verbose просто повышает уровень до Отладка

[2016-04-10 13:17] artbear commented on #65
@nixel2007 ИМХО только такой вариант и возможен :)

[2016-04-10 16:08] EvilBeaver commented on #65
Да, именно так

[2016-04-10 16:19] nixel2007 commented on #65
Беру на себя.

[2016-04-10 17:47] nixel2007 commented on #65
Немного погорячился :)

С корневым модулем gitsync проблем-то нет.
Пытаюсь придумать, как сделать красиво для класса МенеджерСинхронизации. У него внутри есть куча мест, где удаляются файлы. Хочется иметь некий единый флаг РежимОтладки и процедуру удаления файлов, которые были бы доступны и из gitsync.os и из МенеджерСинхронизации.os.

Как лучше организовать это добро? (@EvilBeaver)

[2016-04-10 17:51] nixel2007 commented on #65
Кандидат на функцию удаления файлов

[code]

[2016-04-10 18:10] artbear commented on #65
@nixel2007 Шустрый ты.
Я также эту функциональность меняю :)
я такой вариант придумал для инициализации

[code]

А уже в менеджере меняю все ВременныеФайлы.УдалитьФайл на вызов единого метода УдалитьВременныеФайлыПриНеобходимости()

Я свою ветку закрываю, раз ты даже пуш успел сделать :)

[2016-04-10 18:19] artbear commented on #65
Можно сделать спец.класс, который будет отвечать за удаление временных файлов и который можно будет инициализировать состоянием параметров запуска.
В итоге объект класса создается в gitsync.os, а затем передается в МенеджерСинхронизации.

[2016-04-10 18:32] artbear commented on #82
@EvilBeaver
ИМХО в обоих сценариях у тебя на самом деле 2 разных суб-сценария описаны.
В итоге должно быть 4 сценария.

[2016-04-10 18:41] nixel2007 commented on #65
Пробовал внутри папки core создавать класс `Отладка`. gitsync вроде как подключает всю папку `core`. А вот из менеджера синхронизации этот класс недоступен =/

я думал об этом, но кажется, что это как-то... попахивает.

[2016-04-11 11:36] EvilBeaver commented on #82
@artbear А можешь пояснить где именно разделение на 4 сценария? Может предложишь рефакторинг фичи?

[2016-04-11 11:53] EvilBeaver commented on #83
@nixel2007 +1
Добавляем узел в файл версий.

[2016-04-11 15:56] artbear commented on #82
Пишу с телефона, поэтому коротко.
Попробуй выполнить любой из сценариев, и увидишь, что 2й блок Тогда не
выполнится, т.к. шаги выше делают его недействительным

пн, 11 Апр 2016, 14:36 Andrei Ovsiankin notifications@github.com:

[2016-04-11 16:39] pumbaEO commented on #83
Файла version может не существовать, если вручную запустили распаковку только cf файла, т.е. не связаны с хранилищем.

[2016-04-11 19:38] artbear commented on #65
Нам класс нужен в gitsync для создания объекта и его настройки. А в менеджер синхронизации мы передадим уже готовый объект.
Поэтому тут проблем не вижу.

Из-за подобного запаха я сразу же и удалил это свое предложение

[2016-04-12 11:33] AlexandrSHad opened #85 "Добавить метод ВыгрузитьИнформационнуюБазу() в библиотеку v8runner"
Могу попробовать сделать через pull request

[2016-04-12 12:21] EvilBeaver commented on #85
Делайте, конечно :smile:

[2016-04-12 12:24] pumbaEO commented on #85
Тогда и загрузить тоже, если нет :)
12 апр. 2016 г. 15:21 пользователь "Andrei Ovsiankin" <
notifications@github.com> написал:

[2016-04-12 12:39] AlexandrSHad commented on #85
@pumbaEO загрузить то как раз есть.

[2016-04-13 17:33] pumbaEO commented on #72
У hg есть один фатальный недостаток - поддержка кирилических имен файлов на windows машинках, поэтом добавлять поддержку имеет смысл или когда реализуют https://www.mercurial-scm.org/wiki/WindowsUTF8Plan или же у вас конфа вся на латинице.

[2016-04-13 17:48] ghost commented on #72
Я начинал с Mercurial и он меня поддостал - именно из-за кроссплатформенности и поддержки русских имен. Точнее отсутствия нормальной работы с Windows в связке с русскими именами.

Например вот такое
- http://stackoverflow.com/questions/7256708/mercurial-problem-with-non-ascii-letters-in-filenames-between-windows-and-linux
- http://stackoverflow.com/questions/1798792/mercurial-in-windows-doesnt-see

[2016-04-13 17:50] pumbaEO commented on #72
Если бы не винда, я бы пользовался hg, а так приходиться пользоваться git.

[2016-04-19 07:34] EvilBeaver commented on #85
@AlexandrSHad спасибо!

[2016-04-19 07:34] #85 closed, assigned to nobody

[2016-04-19 07:39] EvilBeaver opened #87 "Команда opm app не позволяет указать имя будущего батника (и его размещение)"
Сейчас _opm app_ генерирует батник с именем точки входа и сразу в каталоге bin.
Это не всегда бывает удобно.

Необходимо:
- Добавить ключ для указания имени будущего батника
- Добавить ключ для указания физического размещения будущего батника

[2016-04-25 06:28] JohnyDeath opened #88 "gitsync: Иерархическая выгрузка по умолчанию для платформы 8.3.7 и выше"
С целью популяризации bsl на просторах github и прочих публичных репозиториев предлагаю сделать по умолчанию следующее поведение скрипта gitsync:
- если платформа версии ниже 8.3.7, то выгрузка происходит по старой схеме (plaintext + самопальный разброс по папкам)
- если платформа 8.3.7 и выше, то выгружать по умолчанию в иерархическом виде средствами самой платформы.

Минусы:
- пострадает обратна

[2016-04-25 06:50] ghost commented on #88
насчет истории:
- простой `git mv` не спасает
- нужно вот такое https://gist.github.com/emiller/6769886

[2016-04-25 07:22] nixel2007 commented on #88
@allustin встроенный в гит анализатор похожести файлов тоже не разберется?
там переименование + смена расположения + изменение в файле (пальцем в небо) на 10%.

[2016-04-25 11:38] EvilBeaver commented on #88
@allustin я так же как @nixel2007 всегда полагал. А в чем отличие предлагаемого тобой скрипта?

[2016-04-25 12:14] ghost commented on #88
@EvilBeaver на stack overflow есть тема. Я в процесс подготовки к переходу на новую версию precommit игрался с переменованием и выявил что у меня перестал работать Blame.

[code]

http://stackoverflow.com/questions/2314652/is-it-possible-to-move-rename-files-in-git-and-maintain-their-history

В итоге помогает вот такой вот грязный хак который я указал выше.

[2016-04-25 12:16] EvilBeaver commented on #88
@allustin уж больно грязный, если я правильно въехал в то, что он делает.

[2016-04-25 12:24] nixel2007 commented on #88
woops...
https://github.com/silverbulleters/vanessa-behavior/blame/develop/src/vanessa-behavior/Form/%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D1%8F%D0%B5%D0%BC%D0%B0%D1%8F%D0%A4%D0%BE%D1%80%D0%BC%D0%B0/%D0%A4%D0%BE%D1%80%D0%BC%D0%B0.bsl

[2016-04-25 12:41] artbear commented on #88
@nixel2007 Насколько я понимаю, это демонстрация неверной истории для переименованного файла, верно? старых изменений нет, есть только изменения 6дневной давности, уже после перехода на precommit1c 2.0 ?

[2016-04-25 12:43] nixel2007 commented on #88
@artbear почти.

в самом коммите есть корректная строчка с переименованием и txt -> bsl. а вот blame уже показывает такую бяку.

[2016-04-25 15:06] EvilBeaver commented on #88
В связи с минимальным количеством реп пока на ГХ, можно принять данное поведение

[2016-04-25 15:08] JohnyDeath commented on #88
Тухлые помидоры не полетят в адрес создателей данного репо, когда после обновления их синхронизация уже никогда не будет прежней? )

[2016-04-25 15:09] EvilBeaver commented on #88
те кто использовал hierarchical уже сразу живут с bsl, не? В 8.3.7 разве все еще txt?

[2016-04-25 15:10] nixel2007 commented on #88
в том-то и проблема, что да. даже в 8.3.8 все еще txt

[2016-04-25 15:11] EvilBeaver commented on #88
[censored]

[2016-04-25 15:19] JohnyDeath opened #89 "gitsync: Не раскладывает иерархически, если явно указан параметр "-format hierarchical" и платформа < 8.3.7"
Дано: Платформа < 8.3.7
Ожидаю, что при указании параметра `-format hierarchical` выгрузка будет происходить с разбросом по папкам как и без указания этого параметра.
В данный момент все выгружается в одну папку и далее не происходит процедур иерархического распределения.

[2016-04-25 15:20] JohnyDeath commented on #88
Попутно еще вот на такое нарвался: https://github.com/EvilBeaver/oscript-library/issues/89
Думаю, что можно будет одним коммитом решить обе эти задачи

[2016-04-25 15:21] nixel2007 commented on #88
@EvilBeaver уточню. иерархический формат - bsl, плоский - txt.

[2016-04-25 15:26] EvilBeaver commented on #88
@nixel2007 тогда это все меняет. По умолчанию идет режим старый, когда была плоская выгрузка, потом средствами gitsync по алгоритму @pumbaEO раскладывалось по папкам.

В режиме hierarchical используется штатный режим платформы и там bsl.

В этом случае, те, кто хотят структуру репо в стиле BSL используют режим hierarchical. И тогда их история коммитов так и так несовместима, ибо структура будет не

[2016-04-25 15:28] EvilBeaver commented on #88
Издержки open-source, кажется, я начинаю терять нить, как работают продукты, которые я же и когда-то писал...

[2016-04-25 16:04] ghost commented on #88
@EvilBeaver щас я тебе еще добавлю момент, что в vanessa-unpack я давно поставил расширение BSL еще до официального анонса расширения.

Поэтому нитей достаточно много

[2016-04-25 20:09] JohnyDeath commented on #88
@allustin а твое какое мнение по данному поведению? Менять ли умолчание или оставить все как и прежде?

[2016-04-25 20:12] pumbaEO commented on #88
Имхо, ломать.

2016-04-25 23:09 GMT+03:00 Evgeny Martynenkov notifications@github.com:

##

З повагою Сосна Євген,
mailto:shenja@sosna.zp.ua
skype:shenjasosna
+380933897103

[2016-04-26 05:20] demidych commented on #88
Добавлю, что даже если выгружать в иерархическом формате, то остаются неуправляемые формы, модуль которых при распаковке получает имя module. Если все приводить к .bsl, то надо их тогда дополнительно переименовывать.

[2016-04-26 06:17] nixel2007 commented on #88
А вот это уже опасно. Переименованные модули не соберутся обратно без
дополнительной обработки исходников. Таким образом мы потеряем возможность
просто "Загрузить конфигурацию из файлов" и придется городить скрипты.

Кому нужна будет подсветка модулей неупр. форм и статистика могут
использовать linguist override (когда добавится поддержка bsl)

26 апреля 2016 г., 8:20 пользователь demidych notific

[2016-04-26 06:18] JohnyDeath commented on #88
Я тоже против переименования файлов.

[2016-04-26 06:38] EvilBeaver commented on #88
@demidych как ни крути, а неуправляемые формы все дальше уходят в прошлое. Вендор их не поддерживает, все новые инструменты затачиваются только под УФ. Нам поддерживать обычные формы станет все дороже (особенно учитывая общую бесплатность нашей деятельности)

[2016-04-26 06:52] EvilBeaver commented on #65
1. Заводим в МенеджереСинхронизации метод РежимОтладки(ВклВыкл)
2. Из управляющего модуля читаем параметры и если надо вкл. режим отладки
3. Внутри МенеджераСинхронизации делаем рефакторинг, выносим все удаления в единый метод, примерно, как написал @nixel2007 (я в код не лазил, точное решение не скажу)
4. Введение каких-то новых классов это, имхо, over-engineering на данном этапе.

[2016-04-26 06:54] EvilBeaver commented on #79
Тут есть резонное возражение https://github.com/EvilBeaver/oscript-library/issues/88#issuecomment-214627153

[2016-04-26 06:56] EvilBeaver commented on #89
Постой, а на платформе меньше чем 8.3.7 и нет никакой иерархической выгрузки.
Как именно ты видишь исправление данной задачи? Проверять версию платформы и выдавать предупреждение?

[2016-04-26 07:02] JohnyDeath commented on #89
Нет, предупреждение можно и не выдавать, а выгружать как раньше: в plain с ручной раскидкой по папкам

[2016-04-26 07:06] EvilBeaver commented on #89
Иными словами:
- До версии 8.3.7 мы не знаем про этот флаг и работаем, как раньше работал v83unpack, полностью игнорируя ключ Формат
- После версии 8.3.7 мы знаем, что есть альтернативный режим и если указано plain, то ведем себя, как раньше, т.е. в стиле v83unpack.
- Если указано hierarchical, то полностью полагаемся на платформу и никакой доп. раскладки не делаем.

Верно?

[2016-04-26 07:22] JohnyDeath commented on #89
Так точно

[2016-04-26 07:24] demidych commented on #88
Я у себя тоже не переименовываю как минимум для возможной сборки обратно и лишнюю работу чтобы не делать (по переименованию, копированию и т.д.), т.е у меня идет сразу выгрузка в иерархическом формате в каталог git.

Но распаковку Form.bin делаю, чтобы иметь возможность видеть изменения в них, т.к. не у всех они еще "ушли в прошлое" =)
При этом распакованное не мешает собрать обратно конфигурацию,

[2016-04-26 07:25] artbear commented on #65
@nixel2007 Как у тебя дела с этой доработкой? уже 2 недели прошло :)

[2016-04-26 07:35] nixel2007 commented on #89
эээ... выгружай-ка мне в иерархическом формате, но плоско?

[2016-04-26 07:36] JohnyDeath commented on #89
По папочкам-то раскидать - обязательно. Иначе это просто месиво.
Ты предлагаешь не раскидывать вообще, при указании plain???

[2016-04-26 07:36] EvilBeaver commented on #89
@nixel2007 до версии 8.3.7 не был никаких "плоско". Этот режим выгрузки просто назван неудачно. plain=legacy-hierarchical, hierarchical=native

[2016-04-26 07:37] EvilBeaver commented on #89
Я еще предупреждение бы добавил, если человек задал ключ, но использует платформу, которая про этот ключ не знает, то нужно ему подсказать, что он получит не то, что хотел.

[2016-04-26 07:39] JohnyDeath commented on #89
Если только просто в качестве дополнительной информации в поток, но не прерывая и не ломая основную работу

[2016-04-26 07:42] nixel2007 commented on #65
@artbear опен-сорс жи)
оно у меня висит в списке ToDo. Если кому-то нужна реализация "прям щас", то я не обижусь, если меня опередят)

[2016-04-26 08:00] artbear commented on #65
@nixel2007 ты же шустрый, поэтому я посчитал, что поскольку ты начал работу, быстро ее и закончишь :)

[2016-04-26 08:23] ghost commented on #65
@EvilBeaver прикрути ZenHub, чтобы можно было перетаксивать по статусам.

UPD - Увидел что прикручено

[2016-04-26 08:54] pumbaEO commented on #88
Я эксперементально переименовываю module в module.bsl и потом обратно тоже возвращаю https://github.com/silverbulleters/vanessa-runner/blob/master/tools/runner.os#L209
пока вроде работает нормально.

[2016-04-26 12:01] dmpas commented on #79
@EvilBeaver там же есть резонный ответ на резонное возражение

[2016-04-26 12:04] nixel2007 commented on #79
@EvilBeaver Насколько я понимаю, @dmpas хочет помимо оригинального Form.bin рядом иметь распакованный вариант. Это не совсем то, что обсуждается в соседней теме (переименование исходника). :)

[2016-04-26 12:13] pumbaEO commented on #79
А какая разница если мы распакуем bin рядышком и переименуем module --> module.bsl ?
Если исходить только из принципа - смотрим и не меняем, то ничто не мешает.
Если предоложить, что надо что-то поменять, то т.к. так необходима подготовка исходников для загрузки.

[2016-04-26 12:25] nixel2007 commented on #79
@pumbaEO
распаковка "рядышком" не меняет сам файл исходника, переименование - меняет.

[2016-04-26 12:28] pumbaEO commented on #79
тю, так можно и патчик сделать, @dmpas примешь path в v8unpack, что если module.bsl то при сборке превращать его в module? Т.е. так же как и сама 1с это делает, внутри то у нее не храниться расширение bsl...

[2016-04-26 12:38] nixel2007 commented on #79
@pumbaEO а в конфигураторе как загружать?

[2016-04-26 12:39] pumbaEO commented on #79
Если распаковать form.bin то в конфигураторе в любом случаи загружаться будет form.bin , а если поменяли module то необходим собрать новый form.bin. В слуачии сборки нового form.bin можно играться с переименованиями, т.к. это вручную вряд-ли кто-то будет делать.

[2016-05-05 14:17] SergeFocus opened #91 "Json парсер - Маскирование служебных символов."
@EvilBeaver При чтении файловых путей из .JSON файлаов под windows:
оказалось, что парсер преобразует весь текст с учетом
[следующего](https://github.com/EvilBeaver/oscript-library/blame/develop/src/json/src/json.os#L680)  в результате путь под Windos считывается не так как записан в .json . Например скрипт для тестирования [run-check.os](https://drive.google.com/open?id=0B8H0glvIpRfJVF9VWWlsUHJic

[2016-05-05 14:49] artbear commented on #91
Main.json

[code]

run-check.os

[code]

[2016-05-05 14:50] artbear commented on #91
Выполнил команду `oscript .\temp\run-check.os .\temp\Main.json`
Получил результат

[code]

что неверно

[2016-05-05 15:02] artbear commented on #91
@SergeFocus не вижу проблему в [указанном Вами коде](https://github.com/EvilBeaver/oscript-library/blame/develop/src/json/src/json.os#L680)
Лишних/неверных замен ИМХО не проводится

[2016-05-05 15:04] nixel2007 commented on #91
@artbear Артур, ну ты чего. та функция принудительно парсит строку, как регулярку, даже если это обычная строка. Если я передаю в функцию строку с путем вида "\build", я ожидаю, что на выходе я получу "\build", а не обрезок без "\b", так как это boundary-разделитель для регулярки.

[2016-05-05 15:13] artbear commented on #91
@nixel2007 Упс, недоглядел :)

[2016-05-05 15:17] nixel2007 commented on #91
@SergeFocus как быстрый хот-фикс могу предложить прописывать такие пути как `.\\temp`:

[code]

[2016-05-05 15:18] nixel2007 commented on #91
А для решения этой проблемы предлагаю добавить в функцию новый параметр, который будет определять необходимость замены таких служебных символов.

Если хотим оставить обратную совместимость, то по умолчанию он будет `Истина`

[2016-05-05 15:18] artbear commented on #91
Получается, что у нас читатель JSON вообще неработоспособный ?

[2016-05-05 15:19] nixel2007 commented on #91
@artbear спорно. надо посмотреть, как ведут себя такого рода парсеры в соседних языках.

upd: для начала - родной парсер 1С

[2016-05-05 15:31] pumbaEO commented on #91
/ используйте
05 мая 2016 г. 18:19 пользователь "Nikita Gryzlov" notifications@github.com
написал:

[2016-05-05 15:35] artbear commented on #91
В наших и соседних проектах, оказывается, сейчас есть 2 парсера JSON
- наш из сабжа
- вариант на чистом 1С с Инфостарта, например, используется в vanessa-behavior

В последнем варианте нет таких проблем, т.к. там вообще нет маскирования

Подобный дубль это не очень хорошо :(

[2016-05-05 15:37] SergeFocus commented on #91
Для Windows просто в .Json после \ писал большую букву - для путей отрабатывает нормально

[2016-05-05 15:48] nixel2007 commented on #91
@artbear

а платформенный метод?

[2016-05-05 16:00] artbear commented on #91
Платформенный метод - это 3 вариант.
Я его пока не проверял.

[2016-05-05 16:24] artbear commented on #91
Обновил свое мнение.
Текущее поведение парсера JSON все-таки правильное и соответствует формату JSON
Но данное поведение не очень дружелюбно к вводу данных человеком.

Для упрощения предлагаю воспользоваться предложением @nixel2007 и сделать доп.параметр для управления поведением демаскирования.

[2016-05-06 05:58] SergeFocus commented on #91
Начиная с версии 8.3.6.1977 есть метод ЧтениеJSON
Так вот встречая в строке символ **.\**  он отваливается с ошибкой:
**_непредвиденный символ при чтении json _**
конструкция c двумя подряд **.\** проходит как положено.
@pumbaEO  прав. нужно  просто использовать ее и не отходить от стандарта.
Хотя быстрее и более читаемо  **.\**
Так что получается не БАГ а ФИЧА :)

[2016-05-07 20:00] EvilBeaver commented on #91
Закрываю. Текущий пакет является почти 100% копипастой с модуля json на инфостарте. Об этом, кстати, написано в README. Абстрактное "удобство" не повод менять стандарты json.

[2016-05-07 20:00] #91 closed, assigned to nobody

[2016-05-13 08:21] EvilBeaver commented on #82
@artbear а можно еще раз для тупых? Что там не выполнится, я не улавливаю.. (

[2016-05-13 08:23] EvilBeaver commented on #75
Закрывается в связи с переработкой opm

[2016-05-13 08:23] #75 closed, assigned to nobody

[2016-05-13 08:25] EvilBeaver commented on #41
Я за вариант:
- в классе МенеджерВременныхФайлов создаем опцию "базовый каталог", относительно которого будет работать менеджер (вместо %TMP%)

[2016-05-13 12:02] artbear opened #95 "Getting more done in GitHub with ZenHub"
Hola! @artbear has created a [ZenHub](http://www.zenhub.io) account for the **EvilBeaver** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboardi

[2016-05-13 12:49] artbear commented on #82
Следующие шаги сценария противоречат друг другу, т.е сценарий упадет точно.
Сначала мы клонируем репо в папку, а далее в этой папке запускаю инит, который не выполнится.

[code]

[2016-05-13 12:54] artbear commented on #82
@EvilBeaver а что означают `**` в шаге `И запускаю gitsync в режиме **clone**` ?

В геркине разве учитываются подобные знаки?

[2016-05-13 15:00] EvilBeaver commented on #82
оказалось, что нет. Это я хотел так выделить жирным в markdown-style

[2016-05-13 15:02] EvilBeaver commented on #82
Да, это как бы два разных теста. Не знаю, как в Геркине оформить правильно

[2016-05-13 15:39] artbear commented on #82
Я про и говорю с самого начала.
Как и в жизни, в геркине это отдельные сценарии.

[2016-05-13 15:40] artbear commented on #82
На самом деле, конечно, можно извернуться и реализовать подобные шаги.
Например, шаг `Когда я захожу в пустой каталог, который должен стать рабочей копией git`
создает новый пустой каталог и делает его текущим, тогда последующие шаги при условии использовании именно текущего каталога должны работать.

[2016-05-13 15:42] artbear commented on #82
Но как реализовать шаги

[code]

я лично не понимаю :) как внутри шага установки параметров узнать, что пора бы уже запустить гитсинк ?

[2016-05-13 15:51] nixel2007 commented on #82
@artbear это должен быть один шаг

[2016-05-13 15:53] nixel2007 commented on #82
Либо переделать эти шаги на сбор команды запуска в несколько шагов и отдельно выполнение этой команды запуска

[2016-05-13 16:13] artbear commented on #82
@nixel2007 Тут виден один из примеров того, что сценарий Геркина не всегда возможно реализовать напрямую :(

Например, заказчик/БА пишет сценарий, не думая о реализации. Это хорошо.
Но программисту будет очень сложно сделать подобный сценарий :(

[2016-05-13 16:14] artbear commented on #82
Конечно, это первое, что приходит в голову.
Но это замена текста сценария, который мог быть написан другим человеком, и возможна подмена сути сценария :)

[2016-05-13 16:19] EvilBeaver commented on #82
таг, фелософы, вы не выпендривайтесь, вы пальцем покажите )

Я писал желаемое поведение, как оно звучало в голове. Этот фича-файл не предполагает автоматического прогона, он просто чтобы донести свое видение поведения.

[2016-05-13 16:20] nixel2007 commented on #82
@artbear Андрей дело говорит. Фиче-файлы всегда подвергаются рефакторингу. Тут нечего бояться)

[2016-05-13 16:22] artbear commented on #82
Вот тебе палец

[code]

[2016-05-13 16:23] artbear commented on #82
А хотите запускалку этой фичи :) ?

[2016-05-13 19:45] nixel2007 commented on #82
так есть же VB

[2016-05-14 04:12] ghost commented on #82
забыли ключевые слова - `как кто` и `хочу` и `чтобы что`, поэтому и не понятно.

@EvilBeaver в понедельник подключаем 3 команды "к веселью" я попробую описать в нескольких сценариях. Сейчас сделана контрольная карта первого запуска - чтобы хоть как-то выкрутиться.

@artbear поддержка фич на 1script обсуждалась вот тут https://github.com/silverbulleters/vanessa-services/issues/20, собственно уже сд

[2016-05-14 04:32] ghost commented on #82
@EvilBeaver что касается неудобного старта работы - то наши слушатели просто предложили реализовать "консольный мастер настройки", этакий рабочий стол по первой настройке.

то есть это новая функциональность - типа `gitsync first-start-master`

[2016-05-15 09:30] JohnyDeath commented on #88
Вопрос всем.
Если мы вообще отказываемся от параметры "Иерархический" в gitsync, то как лучше поступить с экспортными методами классов, в которых есть параметр "Формат"?
Примеры: [РазобратьФайлКонфигурации](https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/core/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D1%8B/%D0%9C%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%D0%A1%D0%B8%D0%BD%D1%85%D1%

[2016-05-18 14:46] EvilBeaver commented on #95
@artbear wtf? Я уже и так использую ZenHub для library и oscript.

[2016-05-18 15:08] nixel2007 commented on #95
@EvilBeaver да там странноватая схема. ты можешь повесить issue вообще на любой репозиторий, куда у тебя есть доступ. независимо от того, используется ли оно там или нет.

[2016-05-18 16:36] ghost commented on #95
@nixel2007 там есть галочка - не создавать Issue в репозитории. Но она по умолчанию стоит выключенная.

[2016-05-18 18:04] artbear commented on #95
Упс

[2016-05-18 18:04] #95 closed, assigned to nobody

[2016-05-19 15:49] artbear opened #99 "gitsync: Исправить имя бинарного файла "unpackV8.exe" на штатное "v8unpack.exe""

[2016-05-19 15:58] EvilBeaver commented on #99
@artbear поясни, плиз

[2016-05-19 16:18] ghost commented on #99
@EvilBeaver

![](https://files.gitter.im/silverbulleters/vanessa-behavior/sQYh/thumb/2016-05-19_18-39-13.png)

![](https://files.gitter.im/silverbulleters/vanessa-behavior/xFQC/thumb/2016-05-19_18-41-28.png)

https://gitter.im/silverbulleters/vanessa-behavior - отсюда задача

[2016-05-19 16:24] artbear commented on #99
Все-таки у продукта `v8unpack` имя исполняемого файла `v8unpack.exe`
А у нас до сих пор почему-то другое имя :(
Вот и предлагаю исправить имя бинарного файла "unpackV8.exe" на штатное "v8unpack.exe"

[2016-05-19 16:51] JohnyDeath commented on #99
Всё это тянется с v83unpack. Тогда @pumbaEO положил бинарник с именем unpackV8 в свой репо. По-моему мы с ним даже обсуждали этот вопрос. Но далее пошел порт на oscript, который был по сути калькой v83unpack. Именно поэтому такое имя и висит сейчас в репо 1script.

[2016-05-19 16:55] JohnyDeath commented on #99
В общем, просто один раз положили с неверным именем, теперь оно так и тянется в нескольких других проектах

[2016-05-19 17:09] pumbaEO commented on #99
кровавый энтерпрайз

[2016-05-19 17:14] #99 closed, assigned to artbear

[2016-05-19 17:20] JohnyDeath commented on #99
Артур, так просто взять и переименовать не получится.
Как минимум вот: https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/core/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D1%8B/%D0%9C%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%D0%A1%D0%B8%D0%BD%D1%85%D1%80%D0%BE%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8.os#L1076

[2016-05-19 17:23] artbear commented on #99
@JohnyDeath не увидел обновлений :) обновился, исправил.

[2016-05-20 12:43] EvilBeaver commented on #88
Я что-то пропустил... Почему мы совсем отказываемся от параметра "Иерархический"? Речь же вроде шла применительно к 8.3.8+

[2016-05-20 12:45] EvilBeaver commented on #88
@JohnyDeath имхо, не надо отказываться от этого ключа. В 1С есть два режима - старый и новый. Я могу не хотеть переходить на новый формат.

[2016-05-20 13:08] JohnyDeath commented on #88
@EvilBeaver а кто вообще им пользовался? "Чистым" старым форматом без последующей раскладки?

Или теперь у нас два режима:
1. 1С выгружает плоско и мы распихиваем по-старому по папкам
2. 1С выгружает сразу иерархически

Давайте определимся уже

[2016-05-20 13:24] EvilBeaver commented on #88
@JohnyDeath ну да, так и есть.
Смотри, чисто "плоского" режима его и не было, насколько я знаю. @pumbaEO сделал дополнительный ключ "формат", чтобы отключить свой же алгоритм "раскладки" и использовать родной платформенный. Чисто "плоского" режима и не было. И ключ "формат" делает не "плоскую" выгрузку, а по сути переключает "родную" и "нашу" раскладку по папкам.

[2016-05-20 13:38] JohnyDeath commented on #88
В общем останавливается на следующем варианте:
1. Если параметр **не указан** и платформа < 8.3.7, Тогда Выгружаем **плоско** и раскладываем по папкам алгоритмом
2. Если параметр **не указан** и платформа >= 8.3.7, Тогда Выгружаем **иерархически** средствами платформы
3. Если указан параметр "**hierarchical**" и платформа < 8.3.7, Тогда Выгружаем **плоско** и раскладываем по папкам алгоритмом
4. Е

[2016-05-20 13:57] nixel2007 commented on #88
Прям знаешь, на что меня призвать в обсуждение. :)

В п.2 только 8.3.7.

Таким образом - plain - всегда плоско-алгоритмом. hierarchical - платформой, если >=8.3.7 иначе плоско-алгоритмом.
дефолтное значение - hierarchical

[2016-05-20 14:10] EvilBeaver commented on #88
@nixel2007 @JohnyDeath да, все так вроде.

[2016-05-20 14:14] JohnyDeath commented on #88
Ок. Принято.

[2016-05-20 14:22] artbear commented on #41
4 месяца согласовываем.
Предлагаю уже остановиться :)

В целях завершения соглашусь с вариантом @EvilBeaver
- в классе МенеджерВременныхФайлов создаем опцию "базовый каталог", относительно которого будет работать менеджер (вместо %TMP%)

[2016-05-20 14:22] artbear commented on #41
Даже уже 6 месяцев

[2016-05-20 14:24] artbear commented on #41
Жду ответа от @nixel2007 @awa15 @pumbaEO @demidych + других заинтересованных перцев :)

[2016-05-20 15:57] artbear commented on #88
@JohnyDeath @EvilBeaver @nixel2007

А если я не хочу переходить на выгрузку платформы вариант в 8.3.8?
например, я хочу использовать старую выгрузку с целью сохранения истории названия файлов?

[2016-05-20 16:12] nixel2007 commented on #88
@artbear тогда используй формат -plain.

может его переименуем заодно? все равно breaking change.

[2016-05-20 16:48] EvilBeaver commented on #88
@nixel2007 да, надо переименовать, а то путаемся сами даже

[2016-05-20 16:49] EvilBeaver commented on #41
@artbear да вроде и так уже все согласны

[2016-05-20 16:59] nixel2007 opened #100 "[cmdline] Параметры-синонимы"
Хочется чтобы была возможность при добавлении описаний параметров указывать их синонимы. Например полное --version и краткое -v. При этом разработчику скрипта при анализе флагов/переданных параметров достаточно проверить наличие полной версии параметра, даже есть пользователь передал краткое.

[2016-05-20 17:02] artbear commented on #100
+1
Давно об этом задумывался.

[2016-05-20 17:04] artbear commented on #41
Это было последнее китайское предупреждение :)

[2016-05-20 17:59] JohnyDeath commented on #88
Какие будут варианты?
-hierarchical и -plain-to-hierarchical

[2016-05-20 18:04] EvilBeaver commented on #88
Вместо format - export-mode

[2016-05-20 18:15] JohnyDeath commented on #88
Тогда и "format" придется оставлять в качества обратной совместимости? Каша какая-то получается

[2016-05-20 20:41] nixel2007 commented on #88
Иерахический можно переименовать в Native. Так как этот формат родной для платформы

[2016-05-21 12:46] EvilBeaver commented on #100
Предлагаю делать в рамках #66

[2016-05-21 13:05] nixel2007 commented on #100
@EvilBeaver не совсем понимаю, как связаны эти две задачи.

[2016-05-21 13:32] EvilBeaver commented on #100
Расширять API cmdline удобнее в стиле fluent

[2016-05-21 13:33] EvilBeaver commented on #88
Мне нравится native

[2016-05-21 13:53] JohnyDeath commented on #88
Давайте имя параметра не будем переделывать и оставим format. Иначе начинает тянуться ненужная лапша по обратной совместимости

[2016-05-23 18:26] JohnyDeath opened #102 "Добавить описание к процедурам прогонки тестов и testrunner.os"

[2016-05-23 19:05] artbear commented on #65
@EvilBeaver как дела с реализацией? будешь делать?

[2016-05-23 19:09] artbear commented on #102
Женя, точнее сформулируй свои ожидания. Пока что непонятно.

[2016-05-23 20:34] JohnyDeath commented on #102
Ожидал увидеть здесь https://github.com/EvilBeaver/oscript-library/tree/develop/tests
вот это: http://oscript.io/docs/page/testing

[2016-05-24 08:58] EvilBeaver commented on #65
Ну если есть желание взять - я против не буду

[2016-05-24 09:01] artbear commented on #65
@EvilBeaver лады, я сделаю.

[2016-05-24 09:44] #102 closed, assigned to nobody

[2016-05-24 10:00] JohnyDeath opened #103 "Не проходят тесты, если пользователь системы задан не латиницей"
Если пользователь системы задан кириллицей, то некоторые тесты падают.
Причина - кодировка генерируемых батников.
Вот здесь: https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/tests/git-sync-test.os#L475
задается вин-кодировка. Батник имя пользователя превращает в крякозябры и ес-но ничего не выполняется.
Если поменять на 866, то все отрабатывает корректно. Но тогда и выходные

[2016-05-24 10:24] JohnyDeath commented on #88
Добавлять новый параметр или значение параметра типа "native" не стал. Мне показалось, что так путаницы будет еще больше.
Если нет возражений, то можно закрывать.

[2016-05-24 10:27] JohnyDeath commented on #89
https://github.com/EvilBeaver/oscript-library/commit/f73a4d40f6141b46300ce889560c4db89bdf15a4

[2016-05-24 10:27] #89 closed, assigned to nobody

[2016-05-24 10:29] JohnyDeath commented on #88
Или просто добавить "синонимов" как советовал @EvilBeaver в соседней ветке:
plain=legacy-hierarchical, hierarchical=native
убрав из документации старые наименования.

[2016-05-24 10:37] artbear commented on #103
Как вариант, предлагаю следующее:
- Добавить спец.метод для преобразования файла из 866 в вин1251, например, через Чтение и ЗаписьТекста.
- Тогда можно будет использовать штатный вывод в 866 в командных файлах.
- Далее вызов этого метода преобразования нужно вставить в метод ВывестиТекстФайла
- Проверить на всех скриптах библиотеки поиском по `1251` или `chcp 1251`

[2016-05-24 11:02] EvilBeaver commented on #103
батники кроме как в gitsync нигде больше не генерируются, насколько я помню.
исправление-то простое, сам батник писать в cp866 и вывод батника (который перенаправляется в файл) открывать в cp866 и читать. Все.

[2016-05-24 11:03] #88 closed, assigned to nobody

[2016-05-24 11:05] JohnyDeath commented on #103
`вывод батника (который перенаправляется в файл) открывать в cp866 и читать`

такой вариант ребят вчера не устроил.
Думаю оптимальным вариантом будет идея Артура

[2016-05-24 11:06] nixel2007 commented on #103
Я немного не в контексте, но почему нельзя просто жестко устанавливать utf-8 и соответственно 65001?

[2016-05-24 11:08] EvilBeaver commented on #103
можно, но переписывать больше. В предлагаемом варианте просто надо в местах записи батника и чтения его выхлопа нужную кодировку проставить и все

[2016-05-24 11:09] EvilBeaver commented on #103
@JohnyDeath

А можно подробнее, что и где не устроило?

[2016-05-24 11:09] JohnyDeath commented on #103
Чтения выхлопа нет. Там в файл все записывается, которые скорее всего далее используются в билд серверах, настройки которых не хочется менять.

[2016-05-24 11:11] EvilBeaver commented on #103
@JohnyDeath в гитсинке всегда есть чтение выхлопа. Вполне возможно, оно сделано не в той кодировке

[2016-05-24 11:16] EvilBeaver commented on #103
Собственно, вот оно:

https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/core/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D1%8B/%D0%9C%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%D0%A1%D0%B8%D0%BD%D1%85%D1%80%D0%BE%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8.os#L1032

Этот метод часто используется для чтения выхлопа, а файл читается без указания кодировки

[2016-05-24 11:41] artbear opened #104 "[gitsync] Документировать форматы файлов версий и авторов"

[2016-05-24 11:45] artbear commented on #103
@EvilBeaver А еще есть аналогичный метод [ВывестиТекстФайла](https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/src/core/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D1%8B/%D0%9C%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%D0%A1%D0%B8%D0%BD%D1%85%D1%80%D0%BE%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8.os#L987)
который юзается для обработки других команд Гит :(

дублирование, тех.долг, понимаешь

[2016-05-24 11:52] artbear commented on #103
Выполнял поиск по исходникам по `ЗапуститьПриложение`
И нашел еще:

Есть метод `ПрочитатьФайл`, который также юзается для чтения логов

Например, в `config-storage.os` в методе `ВыгрузитьВерсиюКонфигурации`
или в файле `table-reader.os`

[2016-05-24 11:57] EvilBeaver commented on #103
Метод "ПрочитатьФайл", похоже,кандидат сюда: https://github.com/oscript-library/files-common

[2016-05-24 13:13] artbear commented on #103
@EvilBeaver

 опаньки, это интересно. когда добавил этот ресурс?

[2016-05-24 19:10] JohnyDeath commented on #103
Там бы тоже небольшой ридми вставить, чтобы знать для чего вообще создан модуль

[2016-05-31 14:03] #87 closed, assigned to nobody

[2016-06-01 17:44] #65 closed, assigned to artbear

[2016-06-02 16:31] artbear opened #105 "[opm] Работа через прокси"
На данный момент opm с прокси не работает.
Хорошо бы добавить.

[2016-06-02 16:50] artbear opened #106 "Не работает версия приложения 1.0.13.95, тесты не проходят"
@EvilBeaver
Версия приложения 1.0.13.95
`{Модуль C:\Program Files (x86)\OneScript\lib\logos\src\log.os / Ошибка в строке: 106 / Конструктор не найден (ОсновнаяРаскладкаСообщения)}`

[2016-06-02 16:53] artbear commented on #106
Скачал версию 1.0.13.135, проблема исчезла

[2016-06-02 16:53] #106 closed, assigned to nobody

[2016-06-02 18:12] artbear opened #107 "[logos] Добавить аналог СтрШаблон в функции вывода лога"
Для сложных выражений сейчас часто приходится писать функции вывода совместно с `СтрШаблон`
Например:

[code]

Намного удобнее и проще сразу писать следующий код без `СтрШаблон`:

[code]

Также можно гарантировать обратную совместимость

ИМХО реализация несложна - куча параметров с пустыми значениями по умолчанию и получение итоговой строки из `СтрШаблон`

[2016-06-02 18:18] EvilBeaver commented on #107
Pull request?

[2016-06-02 18:36] artbear commented on #107
Если нет возражений по существу, конечно, я сделаю.

[2016-06-02 18:37] artbear commented on #107
Товарищи, если возражений нет, реализую?
жду ответов пару дней.

[2016-06-02 19:22] EvilBeaver commented on #107
Не жди, реализуй ))

[2016-06-02 19:29] nixel2007 commented on #107
Разве это не смешение обязанностей?

[2016-06-02 19:52] nixel2007 commented on #107
хотя если рассматирвать логос как форматтер выводимых строк...

Лично меня смущает то, что функция **вывода** строки в консоль дополнительно как-то модифицирует входящую строку (помимо того, что установлено методом УстановитьРаскладку).

[2016-06-03 05:31] EvilBeaver commented on #107
@nixel2007 я не уловил - а где тут "модификация входящей строки"? И это не функция вывода в консоль, а функция логирования. В ней интерполяция строк выглядит вполне уместно, имхо.

[2016-06-03 08:33] artbear opened #108 "opm app gitsync.os падает с ошибкой"
[code]

[2016-06-03 08:33] artbear commented on #108
Недавно кто-то менял opm ? Раньше работало.

[2016-06-03 08:49] EvilBeaver commented on #108
у тебя opm старый

[2016-06-03 09:58] EvilBeaver commented on #82
Еще один сценарий шагов от @realMaxA

[code]

[2016-06-03 10:52] artbear opened #109 "[gitsync] Документировать командную строку для всех команд и параметров"
- [x] Указать параметры командной строки для каждой из команд
- [x] Указать примеры использования
- [x] Для каждой из команд:
  - [x] init
  - [x] clone
  - [x] all
  - [x] set-version
  - [x] export
  - [x] help

[2016-06-03 10:57] artbear commented on #108
ИМХО я нашел виновника :) https://github.com/EvilBeaver/oscript-library/commit/d8638c2b18dca161b71666739a8369493456b91a

[2016-06-03 11:51] #108 closed, assigned to artbear

[2016-06-07 16:45] artbear commented on #107
Проверить поведение ночной сборки 1скрипт по https://github.com/EvilBeaver/OneScript/issues/269 и затем переделать код текущего issue

[2016-06-07 21:07] EvilBeaver commented on #107
Предлагаю оптимизацию: если доп. параметров не передавали, то не вызывать вхолостую СтрШаблон, чтобы не снижать производительность логирования.

[2016-06-10 11:53] artbear commented on #107
Переоткрою до появления ночной сборки oscript, исправляющей баг https://github.com/EvilBeaver/OneScript/issues/269

[2016-06-14 11:09] artbear opened #111 "gitsync: После первичной инициализации не удается сразу начать перенос истории хранилища 1С в Гит"
+Создал удаленный репозитарий на github или bitbucket
+Создал локальный каталог W:\Repo
+cd \d W:\Repo
+выполняю команду `gitsync init "W:\Хранилище1С\Пустая+Хранилище1С" .`
+далее команда `gitsync set-version . 0`
+далее начинаю синхронизацию `gitsync "W:\Хранилище1С\Пустая+Хранилище1С" https://github.com/user/repo-name.git .`

Проблема именно в таком сценарии.
т.е. у нас есть пустой удаленный ре

[2016-06-14 13:00] artbear opened #112 "gitsync: Помещать файлы авторов/версий в нужный подкаталог создаваемого репозитария Git"
Важно для сценария `в одном репозитарии Git хранятся как исходники конфигурации 1С, так и прочие исходники/файлы продукта (например, документация, тесты и прочее)`

Шаги, приводящие к ошибке:

[code]

В дополнение к #82

[2016-06-14 13:04] artbear commented on #112
Вместо текущего поведения
1. сd src\config
2. git init
3. создание файлов авторов и версий в этом каталоге

хочется правильного:
1. git init
2. сd src\config
3. создание файлов авторов и версий в этом каталоге

[2016-06-14 13:05] artbear commented on #104
Выполнено.

[2016-06-14 13:05] #104 closed, assigned to artbear

[2016-06-14 14:17] EvilBeaver commented on #104
А где выполнено?

[2016-06-14 14:19] artbear commented on #104
https://github.com/EvilBeaver/oscript-library/blob/develop/src/gitsync/readme.md#Файлы-настройки

[2016-06-14 14:20] artbear commented on #104
@EvilBeaver Я довольно сильно дополнил доку сегодня
Что скажешь?

[2016-06-14 14:20] artbear commented on #104
Все это в рамках работы по #82 и развертыванию гитсинк на новых машинах

[2016-06-14 14:25] EvilBeaver opened #113 "Ошибка при обновлении OPM"
[code]

[2016-06-14 18:11] realMaxA commented on #112
Текущее поведение команды корректно.
Сравните:

[code]

В данном случае происходит ровно то же самое.

[2016-06-14 18:55] EvilBeaver commented on #104
Классно, спасибо!
Еще бы поведение gitsync сделать таким, как в #82

[2016-06-14 22:40] nixel2007 commented on #112
@realMaxA некорректно. второй репозиторий не нужен.

[2016-06-15 06:02] realMaxA commented on #112
Прошу очень внимательно отнестись к моему сообщению. Это **нормальное** поведение безотносительно того, нужен второй репозитарий или нет. Аналогию я привёл, изучите её.

[2016-06-15 07:11] artbear commented on #112
@realMaxA Прав @nixel2007
Для гита это поведение верно, для нашего продукта нет.
Мы не должны создавать еще один внутренний репозитарий, если мы знаем о наличии существующего репозитария

[2016-06-15 07:12] artbear commented on #112
А гит соответственно ничего не знает, что где-то на верхнем уровне есть репозитарий, и потому его поведение абсолютно нормально.

[2016-06-15 07:17] artbear commented on #104
@EvilBeaver Я как раз вчера и начал обсуждение для изменения логики работы.
Сегодня продолжаем в гиттере

[2016-06-15 07:20] EvilBeaver commented on #112
@artbear git умеет в большинстве команд понимать, что на верхнем уровне есть репозитарий. Это в односкриптовом коде менять надо обработку

[2016-06-15 07:24] artbear commented on #112
@EvilBeaver про гит согласен, главное, что код гитсинк нужно менять, поэтому и создана эта задача

[2016-06-15 07:28] realMaxA commented on #112
Параметр <ЛокальныйКаталогГит> подразумевает указание расположения **git**-репозитария в файловой системе. Он обязан быть **корнем** git-репозитария.
Если исходники нужно класть в какой-то подкаталог текущего репозитария, нужно вводить **новый** параметр.

[2016-06-15 07:31] artbear commented on #112
Про новый параметр согласен.

[2016-06-15 07:36] EvilBeaver commented on #112
СТОП!
Параметр, может быть неудачно назван, но везде в коде он интерпретируется, как "Каталог в котором лежат исходники и файл VERSION". В команде init это не так. НО я вообще сомневаюсь в необходимости команды init. С ней только путаница. Она должна создать нужные файлы и все. Не надо ей, имхо, вообще иметь дел с механикой git-а

[2016-06-15 07:47] realMaxA commented on #112
Именно

[2016-06-15 07:54] realMaxA commented on #112
Самое простое решение, это отказаться от `git init` и `git clone` в gitsync (т. е. `gitsync clone` совсем отмирает), и будет счастье.
Но это не в полной мере решит проблему со сложностью освоения.

Потому, что при `gitsync init` ничего не говорится про git-репозитарий, но `gitsync sync`, при этом делает и commit и push, т. е. репозитарий всё-таки подразумевается. Здесь наблюдается разрыв.

[2016-06-15 07:59] #113 closed, assigned to nobody

[2016-06-15 08:10] EvilBeaver commented on #112
Господа, я не спроста завел #82
Там приведен сценарий, как может быть. Он не идеален. Правьте должный сценарий, а реализация вторична уже. В частности, данная issue - попадает в сценарий из #82?

[2016-06-15 08:12] EvilBeaver commented on #109
@artbear ты вроде это уже сделал? Поставишь флажки что есть/чего нет?

[2016-06-15 08:23] realMaxA commented on #112
Данная issue вообще не нужна.

[2016-06-15 08:36] EvilBeaver commented on #112
@artbear ?

[2016-06-15 08:56] artbear commented on #112
Сейчас есть обозначенный баг для текущей реализации. Поэтому задача нужна.

Если мы выберем другое поведение, которое сейчас обсуждается в гиттер, то сделаем новую задачу, новую реализацию и новый релиз.

Все остальные задачи по гитсинку после выпуска нового релиза можно будет поправить (удалить, отменить) в соответствии с тем, нужна задача в новом поведении или нет.

[2016-06-15 09:00] artbear commented on #82
Сейчас #82 описывает не полный функционал продукта, а только начальную инициализацию.
Нужно добавить сценарии реальной работы с продуктом (начальная инициализация, ручные действия пользователя, синхронизация с локальными и удаленными репозитариями гит)

[2016-06-15 09:05] artbear commented on #109
Да, сделано.

[2016-06-15 09:05] #109 closed, assigned to artbear

[2016-06-15 10:01] #107 closed, assigned to artbear

[2016-06-15 11:26] EvilBeaver commented on #82
#82 это эпик. К нему можно  цеплять другие сценарии на Gherkin

[2016-06-21 09:56] ret-Phoenix opened #114 "Библиотека для парсинга v8i и очистки кеша баз"
parserV8i.os:
- ПолучитьСписокБаз - возвращает Соответствие со списком баз, где: Ключ - Имя базы, Значение  Структура с параметрами базы;
- ЗаписатьСписокБаз - Записывает список баз в файл, как источник принимается результат от ПолучитьСписокБаз

clearCash.os:
    Значения параметров
- all: удалить весь кеш (для баз прописанныхв в файле v8i)
- P "<ПутьКБазе>": удалить кеш базы. Строки с пробелами

[2016-06-21 14:53] EvilBeaver commented on #114
не нашел, как именно она подключается. Можете привести пример кода, который ее использует?

[2016-06-21 15:01] artbear commented on #114
@EvilBeaver Я уже пообщался с Сергеем, подсказал, как добавить указание классов, чтобы можно было использовать продукт в режиме библиотеки.

[2016-06-21 16:05] EvilBeaver commented on #114
Ну и название тогда уже не ini-parse, а какое-то более конкретное, соответствующее назначению библиотеки

[2016-06-21 18:49] ret-Phoenix commented on #114
Изначально это был форк, теперь же переписал полностью, от оригинала не осталось даже 1 строки. сегодня/завтра сделаю на уровне классов и прицеплю тесты. Спасибо Артуру, подсказал как сделать.

[2016-06-22 08:50] ret-Phoenix commented on #114
Обновил. Перевел все на классы, добавил примеры работы.

[2016-06-22 10:03] JohnyDeath commented on #114
А пул-реквест в этот репо не делал?

[2016-06-22 10:05] ret-Phoenix commented on #114
Пока нет, первый опыт. Как будет время у EvilBeaver, надеюсь глянет

[2016-06-22 12:00] EvilBeaver commented on #114
Все в одном репо - это неудобно. я завел отдельную организацию, буду туда мигрировать. Новые пакеты будут жить там. https://github.com/oscript-library

[2016-06-22 12:03] pumbaEO commented on #114
ооо, так что будешь git filter-branch баловатьcя?

[2016-06-22 12:08] EvilBeaver commented on #114
@pumbaEO судя по тому, что я не знаю что это такое - нет, не буду :smile:

[2016-06-22 12:59] pumbaEO commented on #114
@EvilBeaver  это что-бы всю историю по каждому отдельному каталогу перенести в отдельный репозитарий, дабы не начинать с чистого листа.

[2016-06-22 14:21] JohnyDeath opened #116 "gitsync: Добавлять в коммит только файлы конфигурации"
На текущий момент gitsync делает коммит по всем файлам, которые располагаются в каталоге git-репозитория.
В моем случае было так.
Имею репозиторий в каталоге Repo
Работал над документацией в каталоге repo\docs
Фоном запустилась синхронизация с хранилищем в каталог repo\src\config
В итоге на git-сервер улетели мои недоделки по документации, которые я хотел закоммитить отдельно.

[2016-06-22 17:42] EvilBeaver commented on #116
Ты работал в той же рабочей копии, что и синхронизатор. Это неверно идеологически. Каждому пользователю - своя рабочая копия. Тогда и ситуаций таких не будет

[2016-06-22 18:57] JohnyDeath commented on #116
а нельзя в git add указать конкретно папку repo/src/config ?
Я пока не могу себе позволить иметь под каждую задачу отдельную машину

[2016-06-22 19:29] nixel2007 commented on #116
@JohnyDeath можно :)
Андрей говорит не про отдельную машину. достаточно распаковку натравить на другой каталог.

[2016-06-22 20:15] EvilBeaver commented on #116
Поясню: синхронизатор работает с копией исходников в папке А. Ты в этой папке ничего не трогаешь, представь, что она вообще от тебя закрыта правами. Ты себе делаешь отдельный clone. И вот в нем делаешь, что хочешь. Тогда конфликтов не будет.

[2016-06-23 05:22] JohnyDeath commented on #116
@nixel2007 я знаю, что можно. Спрашивал именно про то, почему бы в gitsync-е так не сделать.
Есть какие-то принципиальные ограничения/конфликты?

[2016-06-23 05:43] nixel2007 commented on #116
@JohnyDeath ты можешь быть не в девелоп ветке. Или откатанным по истории назад

[2016-06-23 05:43] nixel2007 commented on #116
Да и измененные, но незакомиченные файлы могут дать конфликт при пуле

[2016-06-23 05:47] JohnyDeath commented on #116
ок, понял, спасибо.
Значит буду мутить разграничивать каталоги для основной работ и для синхронизации хранилища

[2016-06-23 05:47] #116 closed, assigned to nobody

[2016-06-23 12:30] ret-Phoenix commented on #114
Пересоздал репозиторий: https://github.com/ret-Phoenix/parserV8i (чтобы отвязаться от мертвого проекта с которого изначально был сделан форк)

[2016-06-24 08:31] ghost opened #118 "v8runner - отчёт о сравнении конфигураций в файл"
нужен метод который
- возьмет текущую конфигурацию
- сравнит её с конфигурацией из файла
- отчёт сохранит в файл
- закроет Конфигуратор

использование - контроль разницы между хранилищем и продуктивом. А то оказывается ;-) люди бывает втихую в produсtion кодят, когда не хотят работать по новому ;-)

[2016-06-26 14:20] EvilBeaver commented on #118
Продакшен же на поддержке стоит, без возможности изменения, не?

[2016-06-26 14:20] dmpas commented on #118
@EvilBeaver это кто это так кошерно живёт?

[2016-06-26 14:22] EvilBeaver commented on #118
Я!

[2016-06-26 14:22] EvilBeaver commented on #118
Но автор концепта, ЕМНИП - @allustin

[2016-06-26 14:27] EvilBeaver commented on #114
@pumbaEO дада, хочу!

[2016-06-26 15:02] ghost commented on #118
@EvilBeaver тогда у нас был Паша и Юра, которые поддерживали этот концепт со стороны инфраструктуры, вплоть до блокировки на уровне SQL реструктуризации без запроса.

Но тут внезапно выяснилось - что не все такие молодцы, нужно иметь скрипт, который будет запускаться ранним утром и рассылать "красный отчет" релиз-менеджерам.

Большая часть управленцев в мире 1С считает возможным кодить напрямую в

[2016-06-27 08:53] Gamms opened #120 "Фильтр игнорируемых файлов"
Возникла проблема - почему то при выгрузке хранилища пять макетов печатных форм (Template.xml) всегда считаются как измененные. При этом изменений никаких в них не было.
![image](https://cloud.githubusercontent.com/assets/19993893/16373945/05c0534c-3c5d-11e6-8f1a-819f5653f3ca.png). Строки с изменениями всегда одни и теже.
Может кто сталкивался с подобной ошибкой? Возможно это некорректная работа с

[2016-06-27 09:01] nixel2007 commented on #120
Это некорректная работа выгрузки из 1с. Если используется последняя версия платформы - добро пожаловать на v8@1c.ru
Если не последняя - то обновляйтесь :)

[2016-06-30 08:59] EvilBeaver commented on #120
@nixel2007 а они что, это уже решили?

[2016-06-30 09:01] EvilBeaver commented on #114
@ret-Phoenix я клонировал новый репо в организацию library. В ближайшее время постараюсь этот пакет собрать и выложить в хаб

[2016-06-30 09:01] EvilBeaver commented on #112
подниму. Что с задачей?

[2016-06-30 09:28] nixel2007 commented on #120
@EvilBeaver мой посыл был про то, что если это на последней версии платформы, то надо пинать 1с. если не на последней, то попробовать обновиться, может в последствии уже исправили.

[2016-06-30 09:44] #60 closed, assigned to nobody

[2016-06-30 09:47] EvilBeaver commented on #120
@Gamms по моей информации это не исправлено. Для "отката" таких вот ненужных модификаций применяется скрипт undiff от @pumbaEO

https://github.com/pumbaEO/undiff1c

Насчет того, как его правильно применять - также к @pumbaEO

[2016-06-30 09:49] realMaxA commented on #112
Сейчас появилось небольшое окно, пытаюсь нарисовать фичи. Опыта совсем не хватает.
При благоприятном стечении обстоятельств сегодня дорисую в _каком-то_ виде. Нужно будет доводить до ума.

[2016-06-30 14:53] realMaxA commented on #112
Всё, что успел на сегодня. Я совсем не понимаю, как описать опции, особенно опции по умолчанию (и нужно ли?). В общем прошу помощи для приведения этих фич в приемлемый вид.

[features.zip](https://github.com/EvilBeaver/oscript-library/files/341700/features.zip)

[2016-07-05 12:06] #16 closed, assigned to EvilBeaver

[2016-07-05 12:42] #41 closed, assigned to EvilBeaver, artbear

[2016-07-05 12:45] EvilBeaver commented on #111
@artbear а какой вариант исправления ты хотел бы? После set-version у тебя модифицированный файл в рабочей копии лежит. Его так и так надо коммитить. Может сразу запускать синхронизацию неправильно?

[2016-07-05 14:54] dammanapov opened #121 "gitsync: В случае непредвиденного прерывания выгрузки версии конфигурации при следующем запуске начинает выгружать следующую версию"
gitsync: В случае непредвиденного прерывания выгрузки версии конфигурации при следующем запуске начинает выгружать следующую версию.

Происходит из-за того что файл VERSION инкрементируется перед началом синхронизации, предлагаю инкрементацию перенести в конец скрипта, чтобы в случае какого-то падения началась синхронизация версии которую не удалось синхронизировать в прошлый раз.

[2016-07-05 15:56] dammanapov opened #122 "gitsync: Добавить режим выгрузки без привлечения v8unpack"
Насколько я понимаю v8unpack используется для разбора обычных форм.

Сейчас обычно работа ведется с управляемыми и было бы здорово иметь возможность выбирать нужно ли разбирать обычные.

Проблема возникает с временем выгрузки базы. Обычная выгрузка в моем примере ~3.5 часа, без v8unpack около 40 минут.

База нетиповая большая и с длинной историей, вся работа в части разработки практически полность

[2016-07-05 16:02] EvilBeaver commented on #122
Правильно ли я понял, что у вас все-таки есть обычные формы, просто они не меняются?

Но тогда как gitsync может понять менялись они или нет? Для этого нужно их все равно разобрать. Иначе коммит рискует быть неполным. Кажется, что проблема чуть глубже, чем просто отключение v8unpack....

[2016-07-05 16:13] dammanapov opened #123 "gitsync: В случае установки ключа -debug в "on" устанавливать уровень логов "Отладка""

[2016-07-05 16:15] dammanapov commented on #122
Да, верно. Формы обычные но они не меняются.
gitsync действительно не может понять менялись они или нет но хотелось бы иметь возможность сказать что я готов пожертвовать изменениями обычных форм ради производительности и, в этом случае, не разбирать их

[2016-07-05 18:16] EvilBeaver commented on #123
Он вроде как и должен так устанавливаться. @artbear, мы это сломали?

[2016-07-05 18:46] dammanapov commented on #121
В МенеджерСинхронизации.os сейчас есть обработка исключения, которая запишет текущую версию, до инкрементации, в случае вылета исключения во время выгрузки. Но этого не произойдет если прервется поток самого МенеджерСинхронизации.os

[2016-07-06 08:46] artbear commented on #41
@EvilBeaver Почти все хорошо, кроме того, что у временных файлов есть модуль `ВременныеФайлы` и есть класс `МенеджерВременныхФайлов`.
По классу вопросов нет, а вот по использованию модуля есть.

Сейчас у нас появилась возможность именно у модуля `ВременныеФайлы` задавать экспортную переменную `БазовыйКаталог`.
В итоге 2 пользовательских класса могут устанавливать `ВременныеФайлы.БазовыйКаталог` и

[2016-07-06 09:14] artbear commented on #121
@dammanapov я не понял сценарий:

Поясни, что не так в

[2016-07-06 09:22] artbear commented on #123
Исправлено.
Моя ошибка - требование по debug у нас было "размыто" в #65, я его и пропустил :(

[2016-07-06 09:22] #123 closed, assigned to artbear

[2016-07-06 13:04] dammanapov commented on #121
Если выключится компьютер некому будет вернуть прежнюю версию синхронизации, обработка исключения не сработает.
Предлагаю инкрементированную версию записывать после успешного выполнения синхронизации

[2016-07-06 13:06] EvilBeaver commented on #123
@artbear спасибо!

[2016-07-06 13:43] EvilBeaver commented on #41
ненене. Есть только класс МенеджерВременныхФайлов. И один экземпляр этого класса сразу доступен в глобальном контексте под именем ВременныеФайлы.

Таким образом, ты можешь создать несколько менеджеров временных файлов (каждый со своим списком) и точечно управлять удалением временных файлов, хранящихся в менеджере. По твоему вопросу: если ты создал отдельного менеджера, то БазовыйКаталог ты должен

[2016-07-06 13:45] EvilBeaver commented on #121
@dammanapov нельзя записывать инкремент после, ибо как раз это изменение и коммитится в git. Т.е. мы изменяем ДО как раз для того, чтобы это изменение попало в коммит. После коммита изменять нет смысла.

[2016-07-06 13:46] EvilBeaver commented on #121
Есть вариант проверять перед синхронизацией через `git status` что в измененных файлах отсутствует файл version. Предлагаю сделать вам, для тренировки и помощи проекту. :smile:

[2016-07-07 05:28] EvilBeaver commented on #41
Блин, я понял твой вопрос )
В случае перекрытия мы ничего делать не будем. Затем и добавлен класс, чтобы было хоть какое-то разделение ресурсов между модулями разных авторов. Надо писать так, чтобы не было единоличного захвата ВременныхФайлов, про который другие модули не знают.

[2016-07-07 12:26] artbear commented on #41
Раньше у класса не было состояния.
Теперь оно появилось и синглтон юзать уже не так безопасно

чт, 7 Июл 2016, 8:28 Andrei Ovsiankin notifications@github.com:

[2016-07-07 13:22] EvilBeaver commented on #41
@artbear раньше тоже было - внутренний список врем файлов. И нечаянное ВременныеФайлы.Удалить() грохало их все, хотя, возможно, какой-то другой модуль их еще собирался пользовать. Глобальный объект в библиотеках - зло, надо его убирать. Он для разовых скриптов, чтобы синтаксис проще был. Короче, сейчас безопасность не ухудшилась, а так и осталась не очень хорошей.

[2016-07-11 14:53] rsyuzyov opened #125 "tool1cd: ЧтениеТаблицФайловойБазыДанных.ПрочитатьТаблицу: реализовать распаковку двоичных данных"
Делаю скрипт получения описания файловой ИБ из командной строки (название, версия). Для работы скрипта использую метод ПрочитатьТаблицу класса ЧтениеТаблицФайловойБазыДанных - речь о таблице Config. Нужные данные находятся в поле BINARYDATA, которое предоставляется в нераспакованном виде. Соответственно хочется параметр РаспаковыватьДвоичныеДанные для метода ПрочитатьТаблицу.

[2016-07-12 09:51] #125 closed, assigned to nobody

[2016-07-19 16:06] artbear commented on #111
@EvilBeaver Я неточно описал проблему:
здесь важно, что удаленный репозитарий только что создан.
и сообщение `Couldn't find remote ref HEAD` говорит именно об этом

Изменю текст задачи

[2016-07-19 16:08] artbear commented on #111
Без пуша не удается начать синхронизацию :(

[2016-07-19 16:09] artbear commented on #111
Приходится ручками выполнять

[code]

[2016-07-19 16:32] nixel2007 commented on #111
ну а куда пушить-то без указания ремоута.

[2016-07-19 16:43] artbear commented on #111
@nixel2007 Правильно.

Оказывается, я сверху вставил неточную командную строку gitsync
`gitsync "W:\Хранилище1С\Пустая+Хранилище1С" https://github.com/user/repo-name.git .`

Проблема именно в таком сценарии.
т.е. у нас есть пустой удаленный репо, и ошибка возникает при выполнении `pull`

[2016-07-19 16:44] artbear commented on #111
Только что на новом репозитарии опять нарвался на эту проблему :(

[2016-07-19 16:46] artbear commented on #111
@EvilBeaver

Мое предложение - все-таки пропускать указанную ошибку при выполнении `pull` и не выдавать ошибку.
В этом случае дальнейший коммит и пуш будут успешно выполнены.

[2016-07-19 18:05] EvilBeaver commented on #111
Фичи, господа, пишите фичи. Сейчас рассчитано на clone пустого и дальше магия, которую никто не помнит. Нужно документировать, что мы хотим

[2016-07-20 12:52] artbear opened #133 "gitsync: Файл версии создается в текущем каталоге, а не в указанном каталоге, при выполнении команды "set-version""
[code]
- Файл создается в текущем каталоге, а не в `src\config`
- Нужно добавить больше лога в режиме информации. Например, что именно записали в файл версий с указанием полного пути файла в режиме информации, а не отладки.

[2016-07-20 13:04] artbear commented on #112
@realMaxA Спасибо за фича-файлы.

Предлагаю тебе сделать пулл-реквест в проект, добавив файлы фич в каталог gitsync\features

В этом PR и сможет обсудить конкретные детали конкретных фич и предложения по их доработке.

Что скажешь?

[2016-07-20 13:26] artbear commented on #133
Проблема в #112, а не в #133
Закрываю.

[2016-07-20 13:26] #133 closed, assigned to nobody

[2016-07-20 13:45] realMaxA commented on #112
src/gitsync/features?
да, сделаю. Заодно узнаю, что это такое )

[2016-07-24 15:58] artbear opened #136 "opm: Командный файл скрипта, сгенерированный через opm app, не возвращает код возврата от скрипта в системе"
Сейчас код создаваемого командного файла следующий

[code]

А правильно

[code]

[2016-07-24 16:09] artbear commented on #136
@pumbaEO @dmpas Подскажите, существует ли подобная проблема в Linux ?

[2016-07-24 16:10] #136 closed, assigned to artbear

[2016-07-24 17:03] dmpas opened #137 "opm app под линукс выдаёт неверный скрипт"
Лишняя кавычка ввыводится

[code]

https://github.com/EvilBeaver/oscript-library/blob/develop/src/opm/src/%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D1%8B/%D0%A3%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0%D0%9F%D0%B0%D0%BA%D0%B5%D1%82%D0%B0.os#L315

[2016-07-24 17:04] dmpas commented on #136
@artbear там другая беда (https://github.com/EvilBeaver/oscript-library/issues/137)
а с кодом возврата всё хорошо.

[2016-07-24 19:14] EvilBeaver commented on #137
На линуксе не тестил от слова вообще. Запилите кошерный пулреквест, кто может, а?

[2016-07-24 19:16] EvilBeaver commented on #136
Мне казалось что батник и так автоматом вернет код последней выполнившейся команды. Вручную возвращать errorlevel никогда не требовалось, имхо

[2016-07-24 19:24] dmpas commented on #137
@EvilBeaver таки вот: https://github.com/EvilBeaver/oscript-library/pull/138

[2016-07-24 20:04] artbear commented on #136
Я проверил, не возвращает :(
Поэтому пришлось добавить

вс, 24 июл. 2016 г. в 22:16, Andrei Ovsiankin notifications@github.com:

[2016-07-24 20:25] #137 closed, assigned to nobody

[2016-07-26 15:26] theshadowco opened #139 "Вопрос: Организация библиотек"
Столкнулся с проблемой, прошу помощи.
Есть Библиотека, содержащая Модуль (src/core/Модули/Модуль.os) и Класс (src/core/Классы/Класс.os) + Скрипт (src/script.os).
В скрипте используется команда "#Использовать "core"".

Все работает, пока я не захочу использовать методы Модуля в Классе. Класс модули конечно же не видит, следовательно необходимо прописать "Использовать "../core/Модули"" В этом случае

[2016-07-26 15:27] theshadowco commented on #139
По сути нехватает #IFDEF ... #ENDIF

[2016-07-26 20:12] EvilBeaver commented on #139
Модули загружаются первее и видят друг-друга. Классы загружаются позже и видят модули. Использование модуля в классе должно работать. Можете прислать пример, воспроизводящий ошибку?

[2016-07-27 05:32] theshadowco commented on #139
[demo.zip](https://github.com/EvilBeaver/oscript-library/files/385343/demo.zip)
Во вложении демо-либа
- если я компилирую класс (проверяю его в VSC) - работает
- если я компилируюскрипт - ошибка
- если я удаляю строку "#Использовать "../Модули"" в классе - скрипт работает, но класс при самостоятельной проверке выдает ошибку

[2016-07-27 05:34] theshadowco commented on #139
Возможно это ошибка именно VSC и вопрос к плагину

[2016-07-27 07:12] nixel2007 commented on #139
Запуск производится штатной командой `oscript -encoding=utf-8 path/to/os/file`, при этом текущий рабочий каталог установлен корнем проекта.

[2016-07-27 07:26] theshadowco commented on #139
@nixel2007 при сохранении модуля такое же поведение?

[2016-07-27 07:30] nixel2007 commented on #139
@theshadowco

при сохранении модуля не отрабатывает запуск скрипта, только `oscript -encoding=utf-8 check path/to/os/file`. CWD всегда корень проекта. Если задана настройка language-1c-bsl.linterEntryPoint, то дополнительно передается параметр `-env`

[2016-07-27 07:37] EvilBeaver commented on #139
@theshadowco я так и не понял, речь идет о проверках внутри VSC, или скрипт реально не запускается на выполнение и выдает ошибку компиляции?

[2016-07-27 07:58] theshadowco commented on #139
@EvilBeaver
1. если выполнять проверку / компиляцию в VSC Класса без указания пути к модулям - не видит (понятно почему, спасибо за разъяснение  @nixel2007), если компилить скрипт, то он видит и модули и класс
2. если сделать чтобы класс компилился (прописать Использовать), то он проходит проверку / компиляцию в VSC, но перестает компилится скрипт (но в VSC он проверку все равно проходит нормально

[2016-07-29 13:39] #112 closed, assigned to artbear

[2016-07-29 13:41] artbear commented on #112
Реализовано через BDD-фичи проекта https://github.com/artbear/1bdd

[2016-07-30 05:34] EvilBeaver opened #141 "Сборка пакетов opm кладет в пакет неверные файлы"
Пакеты получаемые через opm содержат каталог BuildAgent

[2016-08-03 15:43] alexkmbk commented on #122
Не знаю где можно спросить, спрошу здесь, топик вроде бы подходящий. Данный проект не поддерживает управляемые формы? То есть только можно распаковывать конфигурации написанные для обычных форм?

[2016-08-03 16:55] EvilBeaver commented on #122
Можно любые. А спрашивать можно в чате gitter. Ссылка в ридми на главной странице

[2016-08-03 17:16] alexkmbk commented on #122
Спасибо! Ссылку на чат увидел

[2016-08-08 12:09] realMaxA opened #145 "Работа opm через proxy"
При попытке установки пакета в сети, закрытой брандмауером, возникает ошибка:

[code]

т. к. закрыты все порты, в том числе и 53. Для возможности использования интернет организован proxy сервер.

Нужна возможность указать opm параметры proxy и обеспечить возможность работы opm через указанный proxy.

[2016-08-11 15:24] EvilBeaver commented on #141
fixed 5aec675e80c

[2016-08-11 15:24] #141 closed, assigned to EvilBeaver

[2016-08-11 15:24] #122 closed, assigned to nobody

[2016-08-11 15:26] EvilBeaver commented on #139
@theshadowco поясни, пожалуйста, еще раз. Я скачал архив demo.zip.

Куда я должен нажать и что запустить, чтобы увидеть ошибку?

[2016-08-11 15:28] EvilBeaver commented on #79
@artbear @dmpas закрыто-переоткрыто. Напомните, что делать с issue?

[2016-08-11 15:29] EvilBeaver commented on #145
Дубликат #105

[2016-08-11 15:29] #145 closed, assigned to nobody

[2016-08-11 15:51] artbear commented on #79
Я не увидел  результата в этой issue
Нет договоренностей и прочее.
@dmpas что скажешь?

[2016-08-11 16:04] dmpas commented on #79
скажу, что получил, что хотел - обычные формы распаковываются рядом с бинарником. в моём случае нужно было только это.

[2016-08-11 16:19] #79 closed, assigned to nobody

[2016-08-12 08:47] asosnoviy commented on #105
Столкнулся с проблемой при реализации.
Как мне кажется В 1се  указание пользовательских настроек происходит методом  Установить.

[code]

В Oscript у ИнтернетПрокси нет метода Установить().
Посмотрел исходники [InternetProxyContex](https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/Http/InternetProxyContext.cs) и не увидел (может плохо смотрел) там возможнос

[2016-08-12 08:56] EvilBeaver commented on #105
Да, это повод завести задачу на односкрипт. Я это не реализовал, т.к. у меня нет сетевой среды, в которой это можно было бы погонять. А воссоздавать виртуально было лениво.

@int-it сделай, пожалуйста, как будто оно работает. Я допилю движок и код opm менять не придется.

[2016-08-12 09:05] asosnoviy commented on #105
Хорошо, тогда сейчас -proxyusedefault будет работать, а если установить кастомные настройки то будет падать opm install с ошибкой несуществующего метода Установить().

[2016-08-12 09:15] EvilBeaver commented on #105
да, пусть. В большинстве случаев, системного прокси достаточно.

[2016-08-15 09:20] EvilBeaver opened #148 "[opm] сборка с указанием выходного каталога падает"
[code]

[2016-08-15 14:39] #148 closed, assigned to nobody

[2016-08-15 14:49] #120 closed, assigned to nobody

[2016-08-18 11:07] theshadowco commented on #139
@EvilBeaver Сорри за задержку в ответе, завал.

Итак,
вариант как есть
- если в VSC скомпилить (ctrl+shift+B) скрипт.os - выдаст ошибку.
- если в VSC скомпилить  / проверить Классы/Класс1.os - работает

вариант исправляем ошибку скрипта, для чего комментируем строку `#Использовать "../Модули"` в файле Классы/Класс1.os
- если в VSC скомпилить (ctrl+shift+B) скрипт.os - работает
- если в VSC скомпил

[2016-09-12 12:50] #114 closed, assigned to nobody

[2016-09-21 07:30] srustamo commented on #55
@JohnyDeath Статус обновился бага? Тоже нет доступа к багтреккеру 1С. Если интересны детали (может обновите багрепорт):
- полная версия 1С 8.3.7.1776
- при выгрузке файлов конфигурации из конфигуратора (Конфиграция - Выгрузить конфигурацию в файлы) спотыкается с ошибкой в первом посте этого треда
- общего макета нет, но есть макеты в документах
- не помню, что включал сводные таблицы, есть двоичны

[2016-09-21 07:32] srustamo commented on #55
@theshadowco Как вы определили в каком объекте метаданных происходит ошибка? Из ошибки не видно.

[2016-09-21 11:59] JohnyDeath commented on #55
@srustamo

[2016-10-06 18:00] artbear opened #152 "При запуске всех тестов для oscript-library в Ubuntu выдается ошибка"
[Связанная задача для 1testrunner](https://github.com/oscript-library/1testrunner/issues/6)

`oscript /mnt/c/projects/oscript-library/tests/finder.os`

[code]

[2016-10-06 18:10] #152 closed, assigned to artbear

[2016-10-20 15:50] bia-tech commented on #121
Уменьшить вероятность данной ситуации можно перенеся инкрементацию в конец ф-ии, перед коммитом в гит.

[2016-10-24 18:55] fenixnow commented on #111
а где скачать/получить gitsync? У меня в \lib\gitsync\src лежить только .os в папке bin также не нахожу заветный файл

[2016-11-06 12:03] theshadowco opened #153 "Добавить внешний реп messenger"
Добавиьт в состав библиотеки репозиторий https://github.com/oscript-library/messenger, ранее он там был

[2016-11-07 08:57] EvilBeaver commented on #153
Он переехал в библиотеку. В стандартной поставке вообще должен остаться минимум. В теории, даже гитсинк оттуда надо удалить.

[2016-11-07 14:31] theshadowco commented on #153
Тогда стоит явно сформировать библиотеку а-ля stdlib и как-то прописать правила/требования, что может быть включено в стандартную библиотеку, а что нет.

[2016-11-07 14:31] #153 closed, assigned to nobody

[2016-12-04 10:33] EvilBeaver commented on #105
Закрываю. Пофикшено в новом репо opm

[2016-12-04 10:33] #105 closed, assigned to nobody

[2016-12-13 16:15] ghost opened #156 "ошибка клонирования с подмодулями"
https://github.com/EvilBeaver/oscript-library/blob/develop/.gitmodules#L24

при клонировании с подмодулями получаем ошибку

проблема кроется видимо в наименовании папки и наименовании подмодуля - они различаются

[code]

[2016-12-13 16:24] dmpas commented on #13
Тут всё глухо до сих пор?

[2016-12-13 16:31] dmpas commented on #34
@EvilBeaver Версии вроде есть в библиотеках. По сути задачи - её можно закрывать.

[2016-12-13 16:35] pumbaEO commented on #156
Это проблема только jenkins. гит сам нормально делает checkout

13 груд. 2016 р. 7:15 пп "Alexey Lustin" <notifications@github.com> пише:

[2016-12-13 16:37] ghost commented on #156
@pumbaEO я починил - нужно просто наименование подмодуля указывать равным path

[2016-12-13 16:39] EvilBeaver commented on #34
Согласен, закрываю, т.к. идет параллельный процесс развития opm

[2016-12-13 16:39] #34 closed, assigned to nobody

[2016-12-13 16:40] EvilBeaver commented on #13
Нет, но сильно ли тебе поможет self-signed https. Толку-то с него?

[2016-12-13 16:42] ghost commented on #156
закрываю - смерджилось

[2016-12-13 16:42] #156 closed, assigned to nobody

[2016-12-13 17:09] dmpas commented on #13
Letsencrypt?

[2016-12-16 10:15] dmpas commented on #27
Можно закрыть, мне кажется.

[2016-12-16 10:41] #27 closed, assigned to nobody

[2016-12-21 14:04] cybjavax opened #160 "При клонировании репо исходников в src/ нет"
пробовал и master и develop ветки

[2016-12-21 17:01] nixel2007 commented on #160
После клонирования необходимо выполнить инициализацию сабмодулей
git submodule update --init --recursive

[2016-12-21 17:33] pumbaEO commented on #160
git clone https:/.... --recursive

2016-12-21 20:01 GMT+03:00 Nikita Gryzlov <notifications@github.com>:

--
З повагою Сосна Євген,
mailto:shenja@sosna.zp.ua
skype:shenjasosna
+380933897103

[2016-12-24 21:18] cybjavax commented on #160
Все получилось.

[2016-12-24 21:18] #160 closed, assigned to nobody

[2016-12-28 09:05] theshadowco opened #161 "Доработка package-loader"
Прошу рассмотреть возможность доработки скрипта, чтобы он мог нормально читать файл при наличии комментариев в xml.
Например

	<package-def>

    	<class name="МойКласс" file="src/Core/Классы/МойКласс.os"/>
		<module name="МойМодуль" file="src/Core/Модули/МойМодуль.os"/>

		<module name="МойПриватныйМодуль" file="src/Core/Модули/МойПриватныйМодуль.os"/>
	</package-def>

На данный момент при такой

[2016-12-28 09:06] theshadowco commented on #161
Либо, как вариант, в принципе внести доработку для возможности включения в библиотеку приватных файлов, доступных только в рамках класса

[2016-12-28 18:05] IslamA opened #162 "Ошибка при сборке cf файла с помощью packman."
Установлена учебная платформа, пытаюсь собрать с помощью библиотеки *packman* появляется следующая ошибка:

Использую команду packman load-src E:\GitHub\Tasks\src\cf -v8version 8.3.8.1933.

[2016-12-28 18:30] IslamA opened #163 "Getting more done in GitHub with ZenHub"
Hola! @IslamA has created a [ZenHub](http://www.zenhub.com) account for the **EvilBeaver** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboa

[2016-12-28 18:30] #163 closed, assigned to nobody

[2016-12-28 18:57] #162 closed, assigned to nobody

[2016-12-28 18:58] IslamA commented on #162
Перенес в соответствующий репозиторий: [https://github.com/oscript-library/packman](https://github.com/oscript-library/packman/issues/6)

[2016-12-29 05:26] #139 closed, assigned to nobody

[2016-12-29 05:44] artbear commented on #139
@theshadowco Из твоих ответов увидел, что ошибка есть во всех случаях.
Но задачу ты закрыл?
Проблема есть или нет в итоге?

[2016-12-29 06:10] theshadowco commented on #139
@artbear  не люблю висяки.

В принципе есть следующая ишуза, https://github.com/EvilBeaver/oscript-library/issues/161, с предложением о приватных модулях в камменте. Если получится, то упомянутая здесь проблема тоже уйдет.

[2016-12-29 06:19] artbear commented on #161
ИМХО без комментариев смотрится лучше и проще (добавил атрибут private)
[code]

А наличие комментариев в тексте реализовать отдельно, не привязываясь к приватности классов/модулей.

[2016-12-29 07:06] theshadowco commented on #161
@artbear Да, без них лучше, но обрабатывать корректно их стоит... могу пулреквест сделать

[2016-12-29 07:12] artbear commented on #161
От PR хуже не станет, так что лучше сделай.

Правда, по приватным модулям/классам нужно на уровне движка думать.
У нас сейчас нет приватности для классов и модулей, они все доступны в любом скрипте.

@EvilBeaver @dmpas Поправьте меня, если я ошибаюсь.

[2016-12-29 11:12] nixel2007 opened #165 "Идея пакета: semver"
Вынести в пакет процедуры работы с версиями - сравнение, дополнение, больше, меньше, всякие `~`, `^` и прочее

[2016-12-29 11:21] ghost commented on #165
плюс напомню - мы хотели как то описать единый жизненный цикл библиотеки для людей

[2016-12-29 16:36] EvilBeaver commented on #161
А мне вот интересно, 1С как комментарии обрабатывает? Старый код в 1С также будет не работать? Просто, возможно, это несовместимость ЧтенияXML с платформой и надо править движок?

[2017-01-11 19:04] khorevaa commented on #118
Вообще через пакетный запуск Конфигуратора этого не сделать. (нет подходящего метода)
Возможно сделать только через выгрузку в файлы (двойную)  в отдельный Гит и вывод сравнения.
Как то так...

Вообще задача актуальная для меня тоже. (а то есть любители кодить в рабочей базе)

[2017-01-11 19:33] nixel2007 commented on #118
CompareCfg я делал вот здесь https://github.com/EvilBeaver/oscript-library/pull/132#discussion_r71493630
Но пулл реквест не приняли

[2017-01-19 07:35] khorevaa opened #166 "Новая библиотека чтения и записи YAML"
Предлагаю задуматься о написание библиотеки, для чтения или записи на языке YAML.
Т.к. много настроек для CI и CD пишеться на нем.
Может стоит включить в движок oscript готовую библиотеку (если такая есть)

[2017-01-19 07:55] nixel2007 commented on #166
Хотеть

[2017-01-19 14:00] EvilBeaver commented on #166
готовой нет

[2017-01-19 14:54] khorevaa commented on #166
https://github.com/aaubry/YamlDotNet - как вариант....

[2017-04-05 05:04] Dumsik opened #169 "gitsync: Альтернативный автор при выгрузке версии хранилища в гит"
Есть не приятный момент при подключении к git конфигурации которая находится на поддержке и помимо собственных доработок еще обновляется релизами 1с.  Дело в следующем: При обновлении на новый релиз от 1с в хранилище 1с он записывается от имени того разработчика, который делал обновление и следовательно при синхронизации через gitsync автором всех изменений будет считаться этот разработчик, что са

[2017-04-05 05:54] dmpas commented on #169
Очень неверное допущение. Много кто версионирует по-своему. Если уж не отдельный пользователь, то лучше, мне кажется, вбивать специфический комментарий метки и по нему менять автора.

[2017-04-05 06:01] theshadowco commented on #169
Лучше отдельного пользователя завести

[2017-04-05 06:25] Dumsik commented on #169
Вы не поняли, я же написал что если Вы не задаете пользователя в специальном параметре, то автором будет пользователь хранилища, т.е. хотите будет механизм алтернативного автора работать хотите нет (если вы версионируете сами).  Вариант с меткой не удобен т.к. зависит от людей. Забыл поставить метку / ошибся и все улетело в git не так как нужно. А версия от пользователя не зависит.

[2017-04-05 06:32] artbear commented on #169
Изменение версии также зависит от процесса разработки и от людей.
Часто меняются версии даже для типовых конфигураций

Схема привязки к версии не универсальна :)

Пока видны 2 нормальных варианта:
+ сделать метку
+ сделать отдельного пользователя.

В последнем случае даже ваш процесс не сильно поменяется, да и в гитсинке ничего не нужно менять.
Серьезное изменение пусть проходит от имени пользоват

[2017-04-05 07:00] Dumsik commented on #169
Думал про это, ну так не хочется усложнять процесс :(. Объяснять разработчикам, что для накатывания обновления от 1с мы в хранилище заходим под другим пользователем .... Я понимаю что мой процесс сильно не изменится, но с отслеживанием версии он вообще не изменится и уверен, что 90% разработчиков которые допиливают конфы на поддержке никогда не меняют номер версии сами, а только при обновлении от

[2017-04-05 07:49] dmpas commented on #169
объяснять разработчикам, что git blame покажет, что это именно их косяки, а не 1с :)
и на претензии "я обновление ставил" отвечать "пфффффф, ничо не знаю - вот тут всё написано".

я б так делал.

[2017-04-05 12:17] Dumsik commented on #169
И все таки вопрос к @EvilBeaver, если я сделаю эту доработку и вышлю pull request, Вы его примите ?

[2017-06-29 12:26] Dumsik commented on #169
После раздумий решил накатывать обновления от 1с от имени специального пользователя т.к. тогда и в истории хранилища будет видно что этот коммит от 1с.

[2017-06-29 12:26] #169 closed, assigned to nobody

[2017-06-29 12:41] EvilBeaver commented on #169
Я не единоличный владелец gitsync и обещать не могу. Большинство доработок я принимаю, но вообще зависит от доработки. Если все будут против - то не приму. Просто потому, что "а с фига ли я принял если все против"

[2017-06-29 12:44] EvilBeaver commented on #169
Сама идея и польза от нее мне ясна. Одобряю

[2017-06-29 12:46] EvilBeaver commented on #169
Вариант с меткой мне кажется оптимальным. Если метка версии равна "@author=1C" то автором коммита будет 1С

[2017-07-06 09:12] ghost commented on #169
Мы сейчас делаем так

* спецпользователь Хранилища - 1С
* файл AUTHORS '1С=1с@1c.ru'

так как адрес короткий и обезличенный - blame показывается красиво

P.S. Подобное подход реализовал @pumbaEO и описал в статье https://infostart.ru/article/ispolzovanie-git-dlya-dorabotki-tipovykh-konfiguratsiy-1s-553119/

![image](https://user-images.githubusercontent.com/55323/27904146-5d1ae162-6244-11e7-90ea-a

[2017-10-07 19:49] ghost commented on #82
https://github.com/oscript-library/gitsync/issues/82 Залинкую

Люди ругаются и волнуются и еще 4 пул-реквеста протухли

[2017-10-09 08:56] artbear commented on #82
@allustin Раскручусь с рабочими делами и постепенно отработаю по всем PR

[2017-11-03 12:53] nixel2007 opened #172 "Добавить gitrunner как сабмодуль в стандартной либе"

[2017-11-03 13:51] artbear commented on #172
Как сабмодуль гита или как поставляемая библиотека в поставке движка?

[2017-11-03 15:10] nixel2007 commented on #172
Ну в хедере же все написано :) поставка движка собирается из сабмодулей этого репа. Поэтому надо добавить сабмодулем в этот реп, чтобы оно уехало с поставкой движка

[2017-11-04 17:03] pumbaEO commented on #172
#174

[2017-11-05 21:53] #172 closed, assigned to nobody

[2017-11-07 13:04] Ndochp commented on #121
Может на каждом шаге копировать файл с текущей версией  в "VersionInProgress" (в гитигноре) и удалять его после успешного коммита. Соответственно, любая команда на сигхронизацию при наличии "VersionInProgress" копирует его в VERSION и только потом стартует? (то есть по хорошему, "VersionInProgress" будет существовать только во время экспорта, и оставаться только при сбое)
Но можно и статус...

[2017-11-28 06:50] dmpas opened #177 "Включить oscript-config в стандартную поставку"
Включить [oscript-config](https://github.com/oscript-library/oscript-config) в стандартную поставку. Он нужен для Синтаксис-Помощника в VSCode.

[2017-12-03 20:35] #177 closed, assigned to nobody

[2018-01-04 20:54] ArsenShnurkov opened #179 "Нужна статья про то, как создать компоненту средствами 1Скрипта, а не C#"
Неясно, как это сделать (и можно ли), http://oscript.io/dev/page/components

Вроде бы компонента/библиотека начинается с файла package-loader.os -
http://oscript.io/docs/page/libraries

кроме того, есть (http://oscript.io/library) заманчивая картинка
<img src="http://oscript.io/Content/images/lib_convention.png" />

Но всё вместе оно как-то не складывается в голове, как надо что писать и куда клас

[2018-01-04 20:55] nixel2007 commented on #179
В планах на ближайший месяц-два. Либо одна большая - как сделать библиотеку и как сделать приложение, либо две поменьше.

[2018-01-04 20:56] nixel2007 commented on #179
большинство библиотек написаны на oscript, а не на c# :)

[2018-01-04 21:07] bambr1975 commented on #179
https://infostart.ru/public/548028/ раздел "Схема загрузки библиотек", плюс уже упомянутый http://oscript.io/docs/page/libraries плюс https://github.com/oscript-library/oscript-lib-template и https://github.com/oscript-library/oscript-app-template

[2018-01-04 21:11] ArsenShnurkov commented on #179
Простой вопрос - чем "классы" отличаются от "модулей"? У них какой-то особый синтаксис? Где этот синтаксис описан?

[2018-01-04 21:11] bambr1975 commented on #179
http://oscript.io/docs/page/package-loader
Под классом понимается новый тип в системе типов приложения. Экземпляры объектов этого типа создаются через оператор Новый.
  Модуль это то же самое, что ОбщийМодуль в системе 1С:Предприятие. Модуль - это свойство в глобальном контексте, методы которого мы можем вызывать из языка.

[2018-01-04 21:12] ArsenShnurkov commented on #179
я имею в виду синтаксис в месте определения класса, а не в месте использования через оператор Новый

[2018-01-04 21:12] nixel2007 commented on #179
Классы инстанцируются с помощью оператора Новый. Каждый инстанс имеет свои собственные версии глобальных переменных скрипта.
Модули инстанцируются при начале работы приложения, как общие модули конфигурации. Глобальные переменные таких модулей (если они есть) общие на все время выполнения

[2018-01-04 21:13] nixel2007 commented on #179
у класса еще есть необязательный метод ПриСозданииОбъекта.

различий в синтаксисе описания классов и модулей нет, т.к. этого не позволяет сама грамматика 1С

[2018-01-04 21:15] ArsenShnurkov commented on #179
в языке C# для класса есть ключевое слово "class", есть ли подобное в 1Скрипт? Или класс отличается от модуля только тем, что в классе описаны переменные в глобальном скопе, а в модуле не описаны?

[2018-01-04 21:15] nixel2007 commented on #179
нет, такого нет. все различие - в способе инстанцирования.

[2018-01-04 21:16] nixel2007 commented on #179
в модуле тоже могут быть переменные в глобальном скоупе.

[2018-01-05 15:14] EvilBeaver commented on #179
@ArsenShnurkov все как на картинке. Будет файл "классом" или "модулем" зависит от того, в какой папке он лежит. Внутри синтаксически они не отличаются никак.

Если копнуть еще глубже, то дело не в папках, а в алгоритме модуля package-loader.os. Именно он решает в какую из групп "класс"/"модуль" отнести тот или иной файл .os

[2018-01-10 19:12] #165 closed, assigned to nobody

[2018-01-17 21:50] ghost commented on #40
пока не забыл

отсюда http://v8.1c.ru/overview/release_8_4_1/

то есть будущая библиотека явно будет работать в двух режимах

[2018-01-18 07:29] pumbaEO commented on #40
И как обічно ни лицензии не будет, ни исходников. И сделано будет для мішколюбов. Не верю я в нормальній интерфейс в библиотеке.

[2018-01-18 07:43] EvilBeaver commented on #40
мишколюбы - это девочки на 14 февраля?

[2018-01-18 07:44] pumbaEO commented on #40
*мышко-любы

[2018-01-18 07:46] EvilBeaver commented on #40
Ну по идее, консольный режим для кнопколюбов уже существует, осталось к нему json прикрутить и гуи на джаве.

Т.е. мишколюбы вторым номером идут, а консоль уже поддержана (правда, не шибко юзабельна)

[2018-02-06 12:12] LexaSH opened #180 "Зависимость библиотеки от других библиотек."
Можно ли сделать так, что при установке библиотеки устанавливались еще и библиотеки из зависимостей?

[2018-02-06 12:13] nixel2007 commented on #180
это уже делает opm. Для этого в манифеста пакета есть методы "ЗависитОт"

[2018-02-06 12:18] LexaSH commented on #180
Можно пример?

[2018-02-06 12:18] nixel2007 commented on #180
Да вроде любая библиотека... https://github.com/oscript-library/logos/blob/master/packagedef

[2018-02-06 12:23] LexaSH commented on #180
А в библиотеке, которая уже установлена этой информации нет?

[2018-02-06 12:36] nixel2007 commented on #180
есть, в файле opm-metadata.xml.

Встречный вопрос - зачем это вам?

[2018-02-06 12:55] LexaSH commented on #180
Посмотрел в opm-metadata.xml локально установленного логоса. В нем нет информации о зависимостях. На текущий момент, нет проблем сходить на Github и посмотреть зависимости там, но я просто уверен, что в дальнейшем, в одном проекте установленных библиотек будет очень много. И понимание того, откуда они притянулись, будет не лишним.

[2018-02-06 12:59] nixel2007 commented on #180
зачем? :)

я надеюсь, что скоро будет нормальный фронтенд для хаба пакетов. и там будет информация о зависимостях всех пакетов

[2018-02-06 13:06] nixel2007 commented on #180
Добавлю, омп-метадата нет, потому что логос приехал с движком. Если вы переустановите его через опм, то файл появится.

[2018-02-06 13:16] LexaSH commented on #180
Ну как зачем? Попадет в руки очередной мегапроект, который нужно будет оптимизировать/доработать/переделать (нужное подчеркнуть) и с высокой вероятностью внутри найдется какая-нибудь библиотека, которую лучше выкинуть подальше. Нужно же знать, что без нее погибнет?

[2018-03-04 12:56] Dumsik opened #181 "gitsync не удаляет временные файлы после работы"
gitsync не удаляет временные файлы после работы.
После изучения кода нашел в модуле МенеджерКомандПриложения.os такой код `Процедура РегистраторКоманд(Знач ОбъектРегистратор) Экспорт

	ИсполнителиКоманд = Новый Соответствие;
	РегистраторКоманд = ОбъектРегистратор;
	ДополнительныеПараметры = Новый Структура;
	ДополнительныеПараметры.Вставить("Лог", Логирование.ПолучитьЛог(ПараметрыСистемы.ИмяЛогаСи

[2018-03-04 13:03] Dumsik commented on #181
перенес в gitsync

[2018-03-04 13:03] #181 closed, assigned to nobody

[2018-03-25 22:48] bahtiy commented on #179
ArsenShnurkov, напишите, пожалуйста на почту bahtiev@mail.ru или дайте Ваш контакт. Извиняюсь за оффтоп. Не нашел никакого другого средства коммуникации.

[2018-03-25 23:29] ArsenShnurkov commented on #179
и мне кажется, что это хорошо, уважаемый Бахтиев Эдуард Маратович,  24.06.1988, закончивший 11Б лицея 131 и Казанский национальный исследовательский технический университет им. А. Н. Туполева (КАИ), работающий в ООО "ПрофТехСтрой"  директором по Московскому региону, c телефоном 8-926-667-35-00

[2018-03-26 03:30] bahtiy commented on #179
Здравствуйте. Если Вы владелец брошенного аккаунта  https://bitcointalk.org/index.php?action=profile;u=3386   , то прошу рассмотреть возможность продажи/передачи в аренду.

Пост удалил.

[2018-03-26 03:33] bahtiy commented on #179
Тут половина уже не актуальна) Напишите, пожалуйста, на bahtiev@mail.ru

[2018-03-26 07:11] EvilBeaver commented on #179
@bahtiy - это к кому просьба? Про написать?

[2018-03-26 07:26] ArsenShnurkov commented on #179
У этого человека есть лишние деньги. Он думает, что его деньги кому-то нужны и могут на что-то повлиять. Думаю, можно присылать ему инвестиционные предложения.

[2018-03-26 07:53] EvilBeaver commented on #179
Ничо не понял

[2018-05-07 17:01] ArsenShnurkov commented on #179
Ничего не получается.

[code]

[code]

[code]

[code]

Результат:

    {Модуль main.os / Ошибка в строке: 5 / Ожидается идентификатор}

[2018-05-07 17:28] ArsenShnurkov commented on #179
Так тоже не работает

[code]

[code]

Пишет

    {Модуль main.os / Ошибка в строке: 4 / Неизвестный символ: Высказать}

$ oscript -v | head -1
1Script Execution Engine. Version 1.0.19.0

есличё, новее релизов нет <a href="https://github.com/EvilBeaver/OneScript/releases">в списке тэгов репозитория</a>

[2018-05-07 17:56] arkuznetsov commented on #179
@ArsenShnurkov :
// МойКласс.os
[code]
//main.os
[code]
вот так работает

[2018-05-07 18:33] ArsenShnurkov commented on #179
Ясно, слово "Символ" неудачное было... Надо было использовать "СимволПрорыва"

[2018-10-03 06:37] nixel2007 commented on #66
Реализовано в виде библиотеки cli

[2018-10-03 06:37] nixel2007 commented on #100
Реализовано в библиотеке cli. В связи с остановкой развития cmdline, предлагаю закрыть.

[2018-10-03 08:04] EvilBeaver commented on #66
В приципе, да.

[2018-10-03 08:04] #66 closed, assigned to nobody

[2018-10-03 08:04] #100 closed, assigned to nobody

[2018-10-03 08:05] EvilBeaver commented on #179
Вопрос решен вроде бы

[2018-10-03 08:05] #179 closed, assigned to nobody

[2018-10-03 10:53] EinstokFair commented on #179
Не затруднит ли Вас в таком случае добавить сюда ссылку на эту замечательную обучающую статью с официального сайта 1Скрипт, раз уж вопрос решен. Или таки не решен?

[2018-10-03 10:57] nixel2007 commented on #179
http://oscript.io/docs

Статья под заголовком "Исчерпывающее руководство по созданию библиотеки 1Script" ведет на мою статью на ИС.

[2020-01-25 10:08] Shining-Phoenix opened #183 "Установка в Docker"
Образ на основе ubuntu:18.04.
Установил gitsync.

Выполнил:
root@a71a31a1b979:/home# gitsync plugins init
ИНФОРМАЦИЯ - Начата инициализация предустановленных плагинов
ИНФОРМАЦИЯ - Инициализация предустановленных плагинов завершена
root@a71a31a1b979:/home# gitsync plugins list -a
Каталог плагинов: </root/.local/share/gitsync/plugins>
Список плагинов:
root@a71a31a1b979:/home#

Т.е. плагинов нет.
Как

[2020-01-25 10:09] Shining-Phoenix commented on #183
Сори, не туда.

[2020-01-25 10:09] #183 closed, assigned to nobody